
@import "bootstrap/functions"; // Required
@import "bootstrap/variables"; // Required
@import "bootstrap/mixins"; // Required

@import "theme/mg.colors.scss";


// Override Bootstrap here
// Toggle global options



// --------------------------------------------


$enable-grid-classes: false;
$font-family-sans-serif: "Poppins", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$input-box-shadow: none;
$btn-border-radius: 3rem;
$btn-font-weight: 700;
$lead-font-weight: 400;
$input-btn-padding-y: .8rem;
$input-btn-padding-x: 2rem;
$btn-box-shadow: none;
$btn-focus-width: 0rem;
$input-padding-x: 1.2rem;
$input-disabled-bg: $gray-100;
$border-radius: 0rem;
$modal-inner-padding: 1.5rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;
$blue: #608EB6;
$gray-500: #C5C5C7;
$gray-400: #E0E0E2;
$gray-300: #EFEFEF;
$gray-600: #969595;
$gray-700: #58595B;
$gray-800: #333332;
$headings-font-weight: 700;
$table-head-color: $gray-600;
$table-head-bg: $gray-300;
$modal-header-padding-x: 1.5rem;
$modal-scale-transform: scale(1.1);
$btn-font-size-lg: 1.2rem;
$btn-border-radius-lg: 3rem;
$btn-border-radius-sm: 2.5rem;
$input-btn-padding-y-sm: 0.4rem;
$input-btn-padding-x-sm: 1.1rem;
$input-btn-padding-y-lg: .8rem;
$input-btn-padding-x-lg: 2rem;
$custom-control-indicator-active-bg: $white;
$custom-switch-indicator-size: 1rem;
$custom-switch-width: $custom-control-indicator-size * 1.8;
$nav-tabs-border-width: 2px;
$primary: #35265F;
$nav-tabs-link-active-border-color: transparent transparent $primary;
$table-cell-padding: .95rem;
$input-btn-focus-width: 0rem;
$input-padding-y-lg: 0.8rem;
$input-padding-x-lg: 1.5rem;
$input-padding-x-sm: .9rem;
$input-padding-y-sm: .5rem;
$jumbotron-padding: 3rem;
$jumbotron-color: $white;
$jumbotron-bg: #D5EDF2;
$secondary: $gray-400;
$green: #8AB98E;
$theme-color-interval: 7%;
$info: $blue;
$red: #D56261;
$headings-color: $primary;
$input-btn-font-size: 16px;
$yellow: #FADA67;
$progress-box-shadow: 0rem;
$progress-bar-bg: $primary;
$progress-border-radius: 1.5rem;
$progress-height: .6rem;
$breadcrumb-item-padding: .75rem;
$breadcrumb-margin-bottom: 1.5rem;
$breadcrumb-bg: $gray-100;
$breadcrumb-divider-color: $gray-400;
$breadcrumb-active-color: $gray-700;
$card-spacer-x: 1.75rem;
$card-spacer-y: 1rem;
$caret-width: .35em;
$caret-vertical-align: $caret-width * .45;
$caret-spacing: $caret-width * 1.375;
$transition-base: all .4s ease-in-out;
$transition-fade: opacity .2s linear;
$transition-collapse: height .4s ease;
$spacer: 1.5rem;
$link-decoration: underline;
$enable-print-styles: false;


// --------------------------------------------------


$font-family-sans-serif: "Poppins", "Helvetica Neue", Arial, sans-serif;
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: $grey-lightest;
$gray-300: $grey-lighter;
$gray-400: $grey-light;
$gray-500: $grey-medium;
$gray-600: $grey-dark;
$gray-700: $grey-darker;
$gray-800: $grey-darkest;
$gray-900: #212529;
$black: #111111;

$blue:    $mg-stability-lighter;
$indigo:  $mg-stability;
$purple:  $mg-harmony;
$pink:    $mg-compassion-light;
$red:     #DE1F2F;
$orange:  $mg-confidence;
$yellow:  #F39B1F;
$green:   #559613;
$teal:    #20c997;
$cyan:    $mg-calm;

$primary:       $mg-stability;
$secondary:     $mg-stability;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg:                   $white;
$body-color:                $gray-800;

$link-color:                              $mg-autonomy;
$link-decoration:                         underline;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;


$enable-gradients: false;
$enable-shadows: false;

/*$grey-darkest*/
$primary-color: $mg-stability;
/*$grey-darker*/
$secondary-color: $mg-compassion;
/*$grey-dark*/
$muted-color: $gray-200;

$lead-font-weight:        400;

$headings-font-weight:        700;
$headings-line-height:        1.2;
$headings-color: $primary;

$table-th-font-weight:        500;

$input-btn-padding-y:         0rem;
$input-btn-padding-x:         1.25rem;
$input-btn-font-family:       null !default;
$input-btn-font-size:         16px;
$input-btn-line-height:       16px;

$input-btn-focus-width:       0rem;

$input-bg:                              $white;
$input-disabled-bg:                     $gray-100;

$input-color:                           $gray-900;
$input-border-color:                    $white;
$input-border-width:                    0;
$input-box-shadow:                      none;

$input-focus-border-color:              $gray-700;
$input-focus-color:                     $input-color;
$input-focus-width:                     0;
$input-focus-box-shadow:                none;

$input-placeholder-color:               $gray-700;
$input-plaintext-color:                 $body-color;

$form-group-margin-bottom:              2rem;

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius-lg;
$input-border-radius-sm:                $border-radius-sm;

$input-height:                          2.5rem;
$input-height-sm:                       1.5rem;
$input-height-lg:                       3rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px
);


$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$btn-padding-y: 1rem;
$btn-padding-x: 1.375rem;
$btn-border-radius: 3rem;

$navbar-padding-y: $spacer;

$custom-control-cursor: pointer;
$custom-checkbox-indicator-border-radius: .2em;

$custom-switch-width: 3.8rem;
$custom-switch-indicator-size: 20px;
$custom-switch-indicator-border-radius: 50%;

$card-spacer-y:                     1.375rem;
$card-spacer-x:                     1.75rem;


// ---------------------------------------


@import "bootstrap/root";
@import "bootstrap/reboot"; // Required
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group"; // Requires forms
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar"; // Requires nav
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal"; // Requires transitions
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/utilities";
@import "bootstrap/print";
