
footer, .footer {
    background-color: $grey-darkest;
    padding: 3.5rem 0 2rem;
    margin-bottom: -36px;
    font-size: 11.5px;
    color: $grey-medium;
    p,li {
      font-size: 11.5px;
      line-height: 1.35;
      font-weight:400;
      letter-spacing: 0em;
      &.footer-subtitle {
        font-size: 10.5px;
        margin-bottom: 8px;
        line-height: 1.2;
        letter-spacing: 0.25em;
        font-weight: 700;
        text-transform: uppercase;
        color: darken($grey-medium,21%);
      }
    }

    ul {
      border: none;
      background: none;
      li {
        padding: 2px 0;
        border: none;
        background: none;
      }
    }
    a {
      color: lighten($grey-medium,1%);
      text-decoration: none;
      font-weight:400;
      &:hover {
        color: #fff;
      }
    }

    .match {
      color: $grey-darkest;
    }

    .nav-social {
  		margin: 12px 0 0;
      display: inline-block;
  		li {
  			padding: 0;
  			margin: 0 0 0 8px;
        display: inline-block;
  			&:first-child {
  				margin-left: 0;
  			}
  		}
  		a {
  			display: block;
  			height: 24px;
  			width: 24px;
  			padding: 0;
  			margin: 0;
  			overflow: hidden;
  			text-indent: -999px;
  			background-position: center center;
  			background-repeat: no-repeat;
  			// background-size: 24px !important;
  			line-height: 24px;
  			opacity: 0.4;
  			transition: all .15s linear;
  			&:hover {
  				opacity: 0.8;
  			}
  		}
  	}

    .footer-subnav {
      li {
        font-size:11.5px;
        @media screen and (min-width: 760px) {
          margin-right: 1.375rem;
        }
      }
    }
}
