// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.info-btn {
  background: $mg_stability;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
  text-transform: lowercase;
  padding: 0;
  margin: -2px 0 0 4px;
  text-align: center;
  font-family: Georgia,Times,"Times New Roman",serif;
  border-radius: 50%; 

}

.info-btn-link {
  &:hover {
    text-decoration: underline;
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.482' height='21' viewBox='0 0 20.482 21'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%237D2747;%7D.b%7Bfill:%23fff;%7D.c,.d%7Bstroke:none;%7D.d%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(1 1)'%3E%3Cg class='a'%3E%3Cpath class='c' d='M 9.240739822387695 19.5 C 3.869679927825928 19.5 -0.5000001788139343 15.01401996612549 -0.5000001788139343 9.5 C -0.5000001788139343 3.985980033874512 3.869679927825928 -0.5 9.240739822387695 -0.5 C 14.61180019378662 -0.5 18.98147964477539 3.985980033874512 18.98147964477539 9.5 C 18.98147964477539 15.01401996612549 14.61180019378662 19.5 9.240739822387695 19.5 Z'/%3E%3Cpath class='d' d='M 9.240739822387695 0 C 4.137219429016113 0 0 4.253299713134766 0 9.5 C 0 14.74670028686523 4.137219429016113 19 9.240739822387695 19 C 14.34425926208496 19 18.48147964477539 14.74670028686523 18.48147964477539 9.5 C 18.48147964477539 4.253299713134766 14.34425926208496 0 9.240739822387695 0 M 9.240739822387695 -1 C 14.88749980926514 -1 19.48147964477539 3.710280418395996 19.48147964477539 9.5 C 19.48147964477539 15.28972053527832 14.88749980926514 20 9.240739822387695 20 C 3.593979835510254 20 -1 15.28972053527832 -1 9.5 C -1 3.710280418395996 3.593979835510254 -1 9.240739822387695 -1 Z'/%3E%3C/g%3E%3Cg transform='translate(7.682 4.049)'%3E%3Cpath class='b' d='M97.291-252.53a.6.6,0,0,1,.174.426.591.591,0,0,1-.174.426.56.56,0,0,1-.415.18H94.518a.556.556,0,0,1-.414-.18.588.588,0,0,1-.175-.426.592.592,0,0,1,.175-.426.56.56,0,0,1,.414-.18h.59v-4.853h-.59a.556.556,0,0,1-.414-.18.589.589,0,0,1-.175-.426.59.59,0,0,1,.175-.426.556.556,0,0,1,.414-.18H95.7a.559.559,0,0,1,.415.18.593.593,0,0,1,.174.426v5.46h.59A.563.563,0,0,1,97.291-252.53Z' transform='translate(-93.928 262.417)'/%3E%3Cpath class='b' d='M94.355-261.218a1.189,1.189,0,0,1,.341-.863,1.121,1.121,0,0,1,.838-.351,1.124,1.124,0,0,1,.838.351,1.193,1.193,0,0,1,.341.863,1.2,1.2,0,0,1-.341.863,1.124,1.124,0,0,1-.838.351,1.121,1.121,0,0,1-.838-.351A1.191,1.191,0,0,1,94.355-261.218Z' transform='translate(-93.703 262.431)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
  position: relative;
  text-decoration: none;
  &:after {
    content: '';
    display: block;
    height: 19px;
    width: 19px;
    position: absolute;
    right: -24px;
    top: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.482' height='21' viewBox='0 0 20.482 21'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23332d64;%7D.b%7Bfill:%23fff;%7D.c,.d%7Bstroke:none;%7D.d%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(1 1)'%3E%3Cg class='a'%3E%3Cpath class='c' d='M 9.240739822387695 19.5 C 3.869679927825928 19.5 -0.5000001788139343 15.01401996612549 -0.5000001788139343 9.5 C -0.5000001788139343 3.985980033874512 3.869679927825928 -0.5 9.240739822387695 -0.5 C 14.61180019378662 -0.5 18.98147964477539 3.985980033874512 18.98147964477539 9.5 C 18.98147964477539 15.01401996612549 14.61180019378662 19.5 9.240739822387695 19.5 Z'/%3E%3Cpath class='d' d='M 9.240739822387695 0 C 4.137219429016113 0 0 4.253299713134766 0 9.5 C 0 14.74670028686523 4.137219429016113 19 9.240739822387695 19 C 14.34425926208496 19 18.48147964477539 14.74670028686523 18.48147964477539 9.5 C 18.48147964477539 4.253299713134766 14.34425926208496 0 9.240739822387695 0 M 9.240739822387695 -1 C 14.88749980926514 -1 19.48147964477539 3.710280418395996 19.48147964477539 9.5 C 19.48147964477539 15.28972053527832 14.88749980926514 20 9.240739822387695 20 C 3.593979835510254 20 -1 15.28972053527832 -1 9.5 C -1 3.710280418395996 3.593979835510254 -1 9.240739822387695 -1 Z'/%3E%3C/g%3E%3Cg transform='translate(7.682 4.049)'%3E%3Cpath class='b' d='M97.291-252.53a.6.6,0,0,1,.174.426.591.591,0,0,1-.174.426.56.56,0,0,1-.415.18H94.518a.556.556,0,0,1-.414-.18.588.588,0,0,1-.175-.426.592.592,0,0,1,.175-.426.56.56,0,0,1,.414-.18h.59v-4.853h-.59a.556.556,0,0,1-.414-.18.589.589,0,0,1-.175-.426.59.59,0,0,1,.175-.426.556.556,0,0,1,.414-.18H95.7a.559.559,0,0,1,.415.18.593.593,0,0,1,.174.426v5.46h.59A.563.563,0,0,1,97.291-252.53Z' transform='translate(-93.928 262.417)'/%3E%3Cpath class='b' d='M94.355-261.218a1.189,1.189,0,0,1,.341-.863,1.121,1.121,0,0,1,.838-.351,1.124,1.124,0,0,1,.838.351,1.193,1.193,0,0,1,.341.863,1.2,1.2,0,0,1-.341.863,1.124,1.124,0,0,1-.838.351,1.121,1.121,0,0,1-.838-.351A1.191,1.191,0,0,1,94.355-261.218Z' transform='translate(-93.703 262.431)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}



.info-btn:hover {
  background: $mg-harmony;
  text-decoration: none;
  color: #fff;

}
