@charset "UTF-8";

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-300.woff2') format('woff2'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-300.woff') format('woff'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-regular.woff2') format('woff2'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-regular.woff') format('woff'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-500.woff2') format('woff2'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-500.woff') format('woff'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-600.woff2') format('woff2'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-600.woff') format('woff'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-700.woff2') format('woff2'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-700.woff') format('woff'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-800.woff2') format('woff2'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-800.woff') format('woff'),
       url('https://cdn.medicalguardian.com/css/fonts/poppins/poppins-800.ttf') format('truetype');
}
