
h1, .h1 { font-size: $h1-font-size; }
h2, .h2, h1.h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; line-height: 1.375; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* make fonts smaller on mobile devices*/

@include media-breakpoint-down(sm) {
 h1, .h1 { font-size: 1.9rem !important;}
 h2, .h2, h1.h2 { font-size: 1.7rem !important;}
 h3, .h3 { font-size: 1.45rem !important;}
 h4, .h4 { font-size: 1.25rem !important;}
 h5, .h5 { font-size: 1.15rem !important;}
 h6, .h6 { font-size: 1rem !important;}
}

.text-gradient {
  display: inline-block;
  overflow: visible;
  color: #35265F;
  background: -moz-linear-gradient(90deg, #35265F 0%, #DE1F2F 100%);
  background: -webkit-linear-gradient(90deg, #35265F 0%, #DE1F2F 100%);
  background: linear-gradient(90deg, #35265F 0%, #DE1F2F 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .text-gradient {
    color: #35265F;
    background: transparent;
  }
}

h1, .h1 {
  letter-spacing: -0.015em;
}


.h2, h2 {
  letter-spacing: -0.015em;
}


.page-header {
  h1 {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 640px) {
  .page-header {
    h1 {
      font-size: 3.375rem;
    }
  }
}

.titlebar {
  .titlebar-title {
    font-size: 25px;
    line-height: 1.2;
    margin: 0;
    padding: 1rem 0;
    font-weight: 400;
    color: $mg-harmony;
  }
}
@media screen and (min-width: 640px) {
  .titlebar {
    .titlebar-title {
      font-size: 2.5rem;
      line-height: 1.375;
      margin: 0;
      padding: 1.2rem 0;
      font-weight: 300;
      color: $mg-harmony;
      letter-spacing: -0.02em;
    }
  }
}


.jumbotron h1 {
  font-size: 2.6rem;
}

.lead { color: $grey-dark; font-size: 1.125rem; }

.leading-tight {
  line-height: 1.2;
}
.leading-tighter {
  line-height: 1.375;
}
.leading-none {
  line-height: 1;
}
.leading {
  line-height: 1.5;
}
.leading-1 {
  line-height: 1.75;
}
.leading-more {
  line-height: 2.375;
}
.leading-most {
  line-height: 3;
}

.font-weight-semi {
  font-weight: 600;
}
.font-weight-heavy {
  font-weight:700;
  letter-spacing:-0.01em;
}

.letter-spacing-0 { letter-spacing: 0em !important; }
.letter-spacing-05 { letter-spacing: 0.04em; }
.letter-spacing-1 { letter-spacing: 0.1em; }
.letter-spacing-2 { letter-spacing: 0.15em; }
.letter-spacing-3 { letter-spacing: 0.2em; }

.font-sm-1 { font-size: 0.937rem; }
.font-sm-2 { font-size: 0.875rem; }
.font-sm-3 { font-size: 0.812rem; }
.font-sm-4 { font-size: 0.75rem; }
.font-sm-5 { font-size: 0.687rem; }

.font-lg-1 { font-size: 1.125rem !important; }
.font-lg-2 { font-size: 1.5rem !important; }
.font-lg-3 { font-size: 1.75rem; }
.font-lg-4 { font-size: 2rem; }
.font-lg-5 { font-size: 2.25rem; }
.font-lg-6 { font-size: 2.75rem; }
.font-lg-7 { font-size: 3rem; }
.font-lg-8 { font-size: 3.25rem; }

.font-xl { font-size: 3rem; }
.font-xxl { font-size: 3.75rem; }

.font-grey { color: darken($grey-darker, 5%) !important; }
.disclaimer {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0em;
}

b, strong {
  font-weight: 700;
}

.inverse {
  color: #fff;
  h1,h2,h3,h4,h5,h6,p,li,a {
    color: #fff;
  }
}

.checklist {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    padding-left: 32px;
    padding-bottom: 8px;
    list-style: none;
    &::before {
      content: '';
      display: block;
      height: 22px;
      width: 22px;
      position: absolute;
      left: 0;
      top: 3px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='%2335265f'%3E%3Cpath d='M13.27 7.35a.73.73 0 00-.53.22L9 11.31 7.03 9.33a.8.8 0 00-.53-.22.76.76 0 00-.75.75c0 .21.08.39.22.53l2.5 2.5c.14.14.32.22.53.22s.39-.08.53-.22l4.27-4.27a.73.73 0 00.22-.53c0-.4-.34-.74-.75-.74z'/%3E%3Cpath d='M10 2a8 8 0 100 16 8 8 0 000-16zm0 14.5a6.5 6.5 0 110-13 6.5 6.5 0 010 13z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.checklist.not-li {
    position: relative;
    padding-left: 2.5%;
    &::before {
      content: '';
      display: block;
      height: 22px;
      width: 22px;
      position: absolute;
      left: 0;
      top: 1px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='%2335265f'%3E%3Cpath d='M13.27 7.35a.73.73 0 00-.53.22L9 11.31 7.03 9.33a.8.8 0 00-.53-.22.76.76 0 00-.75.75c0 .21.08.39.22.53l2.5 2.5c.14.14.32.22.53.22s.39-.08.53-.22l4.27-4.27a.73.73 0 00.22-.53c0-.4-.34-.74-.75-.74z'/%3E%3Cpath d='M10 2a8 8 0 100 16 8 8 0 000-16zm0 14.5a6.5 6.5 0 110-13 6.5 6.5 0 010 13z'/%3E%3C/g%3E%3C/svg%3E");
    }
}


.checkmark {
  position: relative;
  &::before {
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    left: -10px;
    top: -3px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;stroke:%23521e4e;%7D.a,.b%7Bstroke-miterlimit:10;%7D.b%7Bfill:none;stroke:%23511e4e;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(0.5 0.5)'%3E%3Ccircle class='a' cx='14' cy='14' r='14'/%3E%3Cpath class='b' d='M0,3.909l4.485,4L10.948,0' transform='translate(8.556 9.766)'/%3E%3C/g%3E%3C/svg%3E");
  }
}
.smart-i {
  font-weight: 300;
  font-style: italic;
  padding-right: 6px;
}



.numeric {
  position: relative;
  &::before {
    display: inline-block;
    height: 26px;
    width: 26px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    color: $mg-harmony;
    background-color: transparent;
    content: '';

  }
  &.one::before {
    content: '1';
  }
  &.two::before {
    content: '2';
  }
  &.three::before {
    content: '3';
  }
  &.four::before {
    content: '4';
  }
}

dl {
  dt {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 700;
    color: $mg-stability;
    margin-bottom: 4px;
    &.numeric {
      position: relative;
      &::before {
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        height: 28px;
        width: 28px;
        position: absolute;
        left: -38px;
        border: 2px solid $grey-medium;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
  dd {
    font-size: 15px;
    line-height: 1.4;
  }
  &.compact {
    dt {
      font-size: 15px;
    }
    dd {
      font-size: 15px;
    }
  }
}
