
// .custom-control {
//     position: relative;
//     z-index: 1;
//     display: block;
//     min-height: 1.5rem;
//     padding-left: 2.375rem;
//     -webkit-print-color-adjust: exact;
//     color-adjust: exact;
//     cursor: pointer;
// }
//
// .custom-checkbox {
//     .custom-control-label {
//         cursor: pointer;
//         &::before {
//             position: absolute;
//             top: -.2rem;
//             left: -2.375rem;
//             display: block;
//             width: 26px;
//             height: 24px;
//             pointer-events: none;
//             content: "";
//             background-color: #fff;
//             border: $mg-autonomy solid 2px;
//         }
//         &::after {
//             position: absolute;
//             top: -.2rem;
//             left: -2.375rem;
//             display: block;
//             width: 26px;
//             height: 24px;
//             content: "";
//             background-repeat: no-repeat;
//             background-image: none;
//             background-size: 18px;
//             background-position: center center;
//         }
//     }
// }
// .custom-checkbox {
//     .custom-control-label::before {
//         border-radius: .25rem;
//     }
//     .custom-control-input:checked ~ .custom-control-label::after {
//         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A7345F' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M16.7 5.3a1 1 0 010 1.4l-8 8a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4L8 12.58l7.3-7.3a1 1 0 011.4 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
//     }
// }
// .custom-control-input:checked ~ .custom-control-label::before {
//     color: #fff;
//     border-color: $mg-autonomy;
//     background-color: #fff;
// }
//
// .custom-radio {
//     .custom-control-label::before {
//         border-radius: 50%;
//     }
//     .custom-control-label::before {
//     position: absolute;
//     top: .25rem;
//     left: -1.5rem;
//     display: block;
//     width: 1rem;
//     height: 1rem;
//     pointer-events: none;
//     content: "";
//     background-color: #fff;
//     border: #adb5bd solid 1px;
//   }
//     .custom-control-input:checked ~ .custom-control-label::before {
//     color: #fff;
//     border-color: #007bff;
//     background-color: #007bff;
//   }
//   .custom-control-label::after {
//     position: absolute;
//     top: .25rem;
//     left: -1.5rem;
//     display: block;
//     width: 1.25rem;
//     height: 1.25rem;
//     content: "";
//     background: 50%/50% 50% no-repeat;
//         background-image: none;
//   }
//   .custom-control-input:checked ~ .custom-control-label::after {
//     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
//   }
// }

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  position:relative;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: poppins;
  font-size: 16px;
  cursor: inherit;
  line-height: 48px;
}

select::-ms-expand {
  display: none;
}

.select {
  width: 100%;
	position:relative;
  cursor: pointer;
}

.select::after {
  content: "";
	position: absolute;
  width: 0;
      height: 0;
	right:0px;
	top:50%;
	transform: translatey(-42%);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #35265F;
}

// Custom control indicators
//
// Build the custom controls out of pseudo-elements.

/*
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  color: $custom-control-label-color;
  vertical-align: top;
  cursor: $custom-control-cursor;



  // Background-color and (when enabled) gradient
  &::before {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    pointer-events: none;
    content: "";
    background-color: $custom-control-indicator-bg;
    border: $custom-control-indicator-border-color solid $custom-control-indicator-border-width;
    @include box-shadow($custom-control-indicator-box-shadow);
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    content: "";
    background: 50% / #{$custom-control-indicator-bg-size} no-repeat;
  }
}
*/

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 38px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  cursor: pointer;
  margin-bottom: 8px;

  .custom-control-label::before {
    display: block;
    width: 26px;
    height: 24px;
    top: -0.175rem;
    left: -36px;
    content: "";
    border: 1px solid $primary;
    background-color: #fff;
    @include border-radius($custom-checkbox-indicator-border-radius);
  }
.custom-control-label::after {
  position: absolute;
  top: -3px;
  left: -36px;
  display: block;
  width: 26px;
  height: 24px;
  content: "";
  background-repeat: no-repeat;
  background-image: none;
  background-size: 18px;
  background-position: center center;
}

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      color: #ffffff;
      border-color: #35265F;
      background-color: #fff;
    }
    &::after {
      //background-image: escape-svg($custom-checkbox-indicator-icon-checked);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A7345F' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M16.7 5.3a1 1 0 010 1.4l-8 8a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4L8 12.58l7.3-7.3a1 1 0 011.4 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  .custom-control-input:indeterminate ~ .custom-control-label {
    &::before {
      border-color: $custom-checkbox-indicator-indeterminate-border-color;
      @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &::after {
      background-image: escape-svg($custom-checkbox-indicator-icon-indeterminate);
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
    &:indeterminate ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}

// Radios
//
// Tweak just a few things for radios.

.custom-radio {
  padding-left: 32px;
  margin-bottom: 4px;

  .custom-control-label::before {
    // stylelint-disable-next-line property-disallowed-list
    content: "";
    display: block;
    border-radius: $custom-radio-indicator-border-radius;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -29px;
    box-shadow: inset 0 0 0 1px $mg-harmony;
    background-color: #fff;
  }
  .custom-control-label::after {
    // background-image: escape-svg($custom-radio-indicator-icon-checked);
    background-image: none;
    border-radius: 50%;
    background-color: $gray-400;
    width: 10px;
    height: 10px;
    top: 4px;
    left: -24px;
  }


  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      color: #ffffff;
      border-color: $mg-harmony;
      background-color: #fff;
    }
    &::after {
      // background-image: escape-svg($custom-radio-indicator-icon-checked);
      background-image: none;
      border-radius: 50%;
      background-color: $mg-stability;
      width: 12px;
      height: 12px;
      top: 3px;
      left: -25px;
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}


// switches
//
// Tweak a few things for switches

.custom-switch {
  padding-left: $custom-switch-width + $custom-control-gutter;
  min-height: 36px;

  .custom-control-label {
    line-height: 30px;

    &::before {
      left: -($custom-switch-width + $custom-control-gutter);
      top: -1px;
      width: $custom-switch-width;
      pointer-events: all;
      background-color: $gray-400;
      border-color: $gray-400;
      // stylelint-disable-next-line property-disallowed-list
      //border-radius: $custom-switch-indicator-border-radius;
      //left: -2.25rem;
      //width: 2.8rem;
      pointer-events: all;
      border-radius: 1.8rem;
      height: 34px;
    }

    &::after {
      top: 6px;
      //left: add(-($custom-switch-width + $custom-control-gutter), $custom-control-indicator-border-width * 2);
      left: calc(-2.3rem - 25px);
      width: $custom-switch-indicator-size;
      height: $custom-switch-indicator-size;
      background-color: $custom-control-indicator-bg;
      // stylelint-disable-next-line property-disallowed-list
      border-radius: $custom-switch-indicator-border-radius;
      @include transition(transform .15s ease-in-out, $custom-forms-transition);
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: $custom-control-indicator-bg;
      transform: translateX($custom-switch-width - $custom-control-indicator-size - 1.2rem);
      width: $custom-switch-indicator-size;
      height: $custom-switch-indicator-size;
top: 6px;
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}






[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ant-radio, .ant-radio-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}
.ant-radio-wrapper {
    margin: 0 8px 0 0;
}
.ant-radio {
    margin: 0;
    top: 0;
    line-height: 1;
    vertical-align: text-bottom;
    outline: none;
}
.ant-radio-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}


.ant-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
    &:after {
      position: absolute;
      top: 3px;
      left: 3px;
      display: table;
      width: 8px;
      height: 8px;
      background-color: #1890ff;
      border-top: 0;
      border-left: 0;
      border-radius: 8px;
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
      -webkit-transition: all .3s cubic-bezier(.78,.14,.15,.86);
      transition: all .3s cubic-bezier(.78,.14,.15,.86);
      content: " ";
    }
}
.ant-radio-checked {
  :after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #1890ff;
      border-radius: 50%;
      visibility: hidden;
      -webkit-animation: antRadioEffect .36s ease-in-out;
      animation: antRadioEffect .36s ease-in-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      content: "";
  }
  .ant-radio-inner {
      border-color: #1890ff;
      &:after {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
          -webkit-transition: all .3s cubic-bezier(.78,.14,.15,.86);
          transition: all .3s cubic-bezier(.78,.14,.15,.86);
      }
  }
}
