
.icon-24 { max-width:24px;width:100%; }
.icon-32 { max-width:32px;width:100%; }
.icon-36 { max-width:36px;width:100%; }
.icon-48 { max-width:48px;width:100%; }
.icon-64 { max-width:64px;width:100%; }
.icon-72 { max-width:72px;width:100%; }
.icon-80 { max-width:80px;width:100%; }
.icon-90 { max-width:90px;width:100%; }
.icon-96 { max-width:96px;width:100%; }
.icon-92 { max-width:92px;width:100%; }
.icon-100 { max-width:100px;width:100%; }
.icon-128 { max-width:128px;width:100%; }

.icon-16h  { height:16px;width:auto; }
.icon-20h  { height:20px;width:auto; }
.icon-20a  { height:20px;width:20px; }
.icon-24h  { height:24px;width:auto; }

.chevron-left {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M15 19l-7-7 7-7'/%3E%3C/svg%3E");
 }
 .chevron-right {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M9 5l7 7-7 7'/%3E%3C/svg%3E");
 }

.prev {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M15.95 6.29c-10.71 7.18-10.38 4.16 0 11.42'/%3E%3C/svg%3E");
}
// .prev.primary:hover {
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23521E4E' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M15.95 6.29c-10.71 7.18-10.38 4.16 0 11.42'/%3E%3C/svg%3E");
// }
.prev.disabled {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M15.95 6.29c-10.71 7.18-10.38 4.16 0 11.42'/%3E%3C/svg%3E");
}

.next {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M8.05 17.71c10.71-7.18 10.38-4.16 0-11.42'/%3E%3C/svg%3E");
}



.plus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6'/%3E%3C/svg%3E");
}
.minus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 12H4'/%3E%3C/svg%3E");
}

.caret-back {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3.86 8.75l5.48 4.8A1 1 0 0011 12.8V3.2a1 1 0 00-1.66-.75l-5.48 4.8a1 1 0 000 1.5z'/%3E%3C/svg%3E");
}
.caret-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-caret-right-fill' viewBox='0 0 16 16'%3E%3Cpath d='M12.14 8.75l-5.48 4.8A1 1 0 015 12.8V3.2a1 1 0 011.66-.75l5.48 4.8a1 1 0 010 1.5z'/%3E%3C/svg%3E");
}

.caret-up {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M10.92 8.45L6.27 3.12C6.2 3.04 6.11 3 6 3s-.2.04-.26.12L1.08 8.45a.32.32 0 00-.05.36c.06.12.18.19.32.19h9.3c.14 0 .26-.07.32-.19a.34.34 0 00-.05-.36z' fill='%2335265f'/%3E%3C/svg%3E");
}

.phone {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%2335265f'/%3E%3C/svg%3E");
}

.btn {
  .icon {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    vertical-align: middle;
    margin-top: -1px;
  }
  .btn-icon {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 96%;
    vertical-align: middle;
    margin-top: -1px;
  }
  // content: '';
  .icon-cart {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14.95 7.89l1.03-5.01a.59.59 0 00.02-.14c0-.4-.34-.73-.76-.73H3.42L3.04.56A.74.74 0 002.31 0H.76C.34 0 0 .33 0 .73s.34.73.76.73h.96l.37 1.43 1.89 8.5c.05.25.22.45.45.54-.61.42-.98 1.1-.98 1.83C3.45 15 4.48 16 5.76 16s2.31-1 2.31-2.24c0-.7-.34-1.35-.9-1.77h4.44a2.24 2.24 0 00-.91 1.77A2.26 2.26 0 0013 16c1.27 0 2.31-1 2.31-2.24 0-.73-.38-1.41-.98-1.83a.74.74 0 00.47-.68c0-.4-.34-.73-.76-.73h-8.7l-.52-1.58 9.43-.46a.76.76 0 00.7-.59zm-2.75 5.87c0-.43.36-.77.8-.77s.8.34.8.77-.36.77-.8.77-.8-.34-.8-.77zm-6.44.77c-.44 0-.8-.34-.8-.77s.36-.77.8-.77.8.34.8.77-.37.77-.8.77zm8.56-11.06l-.74 3.58-9.07.44-.77-4.02h10.58z' fill='%23fff'/%3E%3C/svg%3E");
  }
  &.slick-arrow {
    height: 20px;
    width: 20px;
  }
}


.btn-close {
  display: inline-block;
  position: relative;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px;
  vertical-align: middle;
  overflow:hidden;
  text-indent: -999px;
}

.icon-close {
  background-repeat: no-repeat;
  background-position: center center;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath fill='%23666' d='M15.9 4.04a.7.7 0 00-.99 0l-4.7 4.72-4.72-4.71a.7.7 0 00-.98.98l4.7 4.71-4.7 4.71a.7.7 0 00.98.99l4.71-4.71 4.71 4.7a.7.7 0 00.99 0 .7.7 0 000-.98l-4.71-4.7 4.7-4.72a.7.7 0 000-.99z'/%3E%3C/svg%3E");
}

.icon-menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-menu' x='0' y='0' version='1.1' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cg fill='none' stroke='%2335285E' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M3 5h18M3 12h18M3 19h18'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-menu-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-menu-close' x='0' y='0' version='1.1' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cg fill='none' stroke='%2335285E' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M4.93 4.93l14.14 14.14M19.07 4.93L4.93 19.07'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-facebook {background-size:20px !important;width:12px !important;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M15 1h-2.73a4.52 4.52 0 00-4.54 4.5v2.7H5v3.6h2.73V19h3.64v-7.2h2.73l.9-3.6h-3.64V5.5c0-.5.41-.9.91-.9H15V1z'/%3E%3C/svg%3E");}
.icon-twitter {background-size:20px !important;width:20px !important;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M19 3.01c-.78.53-1.65.93-2.57 1.19a3.78 3.78 0 00-5.17-.34A3.43 3.43 0 0010 6.54v.78a8.86 8.86 0 01-7.36-3.53s-3.27 7.02 4.09 10.14A9.88 9.88 0 011 15.49c7.36 3.9 16.36 0 16.36-8.97 0-.22-.02-.43-.07-.65A5.95 5.95 0 0019 3.01z'/%3E%3C/svg%3E");}
.icon-youtube {background-size:20px !important;width:20px !important;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M18.62 5.19c-.2-.87-.8-1.57-1.59-1.81C15.63 3 10 3 10 3s-5.63 0-7.04.42c-.78.24-1.39.93-1.58 1.81A28.4 28.4 0 001 10.02c-.01 1.62.12 3.23.38 4.83a2.4 2.4 0 001.59 1.74C4.37 17 10 17 10 17s5.63 0 7.04-.42a2.45 2.45 0 001.59-1.81 30.22 30.22 0 00-.01-9.58zM8 13.64V6.4l5.75 3.62L8 13.64z'/%3E%3C/svg%3E");}
.icon-amazon {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M16.35 15.59a.64.64 0 00-.41 0 14.2 14.2 0 01-4.32 1.23c-1.69.17-3.37.07-5-.33a17.7 17.7 0 01-4.69-2.27l-.03-.01a.32.32 0 00-.39.19.33.33 0 00.01.22l.03.06h.02a12.09 12.09 0 006.09 3.61 10.96 10.96 0 006.38-.65c1-.44 1.64-.8 2.43-1.57.12-.17.07-.37-.12-.48z'/%3E%3Cpath d='M18 14a4.06 4.06 0 00-2.81.56c-.09.07-.12.19-.05.28.05.07.15.1.23.07a7.19 7.19 0 011.91-.08c.15.04.25.18.21.33a7.9 7.9 0 01-.6 1.73.2.2 0 00.01.15c.03.05.07.08.12.1l.06.01c.04 0 .09-.01.13-.04a3.15 3.15 0 001.27-2.5c.04-.29-.17-.55-.48-.61zM11.77 12.55c-.34.36-.73.68-1.15.95-.8.45-1.71.69-2.64.71a4.11 4.11 0 01-2.28-.75 3.54 3.54 0 01-1.08-3.78 4.33 4.33 0 012.59-2.6 15.7 15.7 0 014.15-.59v-1.4a1.47 1.47 0 00-1.3-1.22c-.42-.05-.85 0-1.24.15-.56.25-.95.73-1.08 1.31a.48.48 0 01-.5.25l-2.01-.17a.42.42 0 01-.33-.38c.16-.94.68-1.79 1.45-2.39A5.86 5.86 0 019.93 1.5c1.2.01 2.37.37 3.34 1.04a3.2 3.2 0 011.22 2.65v4.86c.02.41.13.81.32 1.18l.63.88c.07.13.07.29 0 .42l-1.86 1.5a.5.5 0 01-.5-.02c-.5-.44-.93-.93-1.31-1.46zm-.42-4.41c-.58-.01-1.17.03-1.74.11a2.5 2.5 0 00-1.66 1.19 2.3 2.3 0 00.12 2.04c.45.53 1.21.72 1.87.46a2.97 2.97 0 001.41-2.1v-1.7'/%3E%3C/g%3E%3C/svg%3E");}
.icon-pinterest {background-size:20px !important;width:20px !important;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M10 1a9 9 0 00-3.61 17.24c-.02-.63 0-1.38.16-2.06l1.16-4.9s-.3-.58-.3-1.43c0-1.33.77-2.33 1.74-2.33.82 0 1.21.61 1.21 1.35 0 .82-.53 2.05-.8 3.19-.23.96.48 1.73 1.42 1.73 1.7 0 2.85-2.19 2.85-4.78 0-1.97-1.33-3.45-3.75-3.45a4.26 4.26 0 00-4.43 4.31c0 .78.23 1.34.59 1.76.16.2.19.28.13.5-.03.17-.12.57-.17.73-.06.23-.25.31-.45.22-1.25-.51-1.84-1.88-1.84-3.43 0-2.55 2.16-5.62 6.43-5.62 3.44 0 5.7 2.49 5.7 5.15 0 3.53-1.97 6.17-4.86 6.17-.97 0-1.88-.53-2.2-1.12 0 0-.52 2.07-.64 2.47a7.62 7.62 0 01-.9 1.93A9 9 0 1010 1z'/%3E%3C/svg%3E");}
.icon-linkedin {background-size:22px !important; width:18px !important;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M2.33 7.39h3.34V17.5H2.33zM4.12 2.5c-1.04 0-1.79.77-1.79 1.83s.74 1.83 1.75 1.83h.02c1.04 0 1.79-.77 1.79-1.84-.02-1.08-.73-1.82-1.77-1.82zM13.55 7.16a3.2 3.2 0 00-2.71 1.32V7.39H7.41V17.5h3.43v-5.74c0-.33.03-.56.1-.72.13-.33.54-1.08 1.5-1.08.97 0 1.47.68 1.47 2.03v5.52h3.43v-5.88c-.01-2.8-1.42-4.47-3.79-4.47z'/%3E%3C/g%3E%3C/svg%3E");}
.icon-instagram {background-size:20px !important;width:20px !important;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 20 20' xml:space='preserve'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M13.75 2.5a3.76 3.76 0 013.75 3.75v7.5a3.76 3.76 0 01-3.75 3.75h-7.5a3.76 3.76 0 01-3.75-3.75v-7.5A3.76 3.76 0 016.25 2.5h7.5m0-1.5h-7.5A5.26 5.26 0 001 6.25v7.5A5.26 5.26 0 006.25 19h7.5A5.26 5.26 0 0019 13.75v-7.5A5.26 5.26 0 0013.75 1z'/%3E%3Cpath d='M14.87 6.25A1.13 1.13 0 1114.88 4a1.13 1.13 0 01-.01 2.25c.01 0 .01 0 0 0zM10 7a3 3 0 110 6 3 3 0 010-6m0-1.5a4.5 4.5 0 10-.01 8.99A4.5 4.5 0 0010 5.5z'/%3E%3C/g%3E%3C/svg%3E");}
