

.form-control {
  border-bottom: 2px solid $gray-500;
  padding: 0;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  position:relative;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: poppins;
  font-size: 16px;
  cursor: inherit;
  line-height: 48px;
}

select::-ms-expand {
  display: none;
}

.select {
  width: 100%;
	position:relative;
  cursor: pointer;
}

.select::after {
  content: "";
	position: absolute;
  width: 0;
      height: 0;
	right:0px;
	top:50%;
	transform: translatey(-42%);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #35265F;
}

// Custom control indicators
//
// Build the custom controls out of pseudo-elements.

/*
.form-check, .form-radio {
  position: relative;
  z-index: 1;
  display: block;
  min-height: $font-size-base * $line-height-base;
  padding-left: $custom-control-gutter + $custom-control-indicator-size;
  color-adjust: exact; // Keep themed appearance for print
}

.custom-control-inline {
  display: inline-flex;
  margin-right: $custom-control-spacer-x;
}

.form-check-input {
  position: absolute;
  left: 0;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  width: $custom-control-indicator-size;
  height: ($font-size-base * $line-height-base + $custom-control-indicator-size) / 2;
  opacity: 0;

  &:checked ~ .form-check-label::before {
    color: $custom-control-indicator-checked-color;
    border-color: $custom-control-indicator-checked-border-color;
    @include gradient-bg($custom-control-indicator-checked-bg);
    @include box-shadow($custom-control-indicator-checked-box-shadow);
  }

  &:focus ~ .form-check-label::before {
    // the mixin is not used here to make sure there is feedback
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $custom-control-indicator-focus-box-shadow;
    } @else {
      box-shadow: $custom-control-indicator-focus-box-shadow;
    }
  }

  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $custom-control-indicator-focus-border-color;
  }

  &:not(:disabled):active ~ .custom-control-label::before {
    color: $custom-control-indicator-active-color;
    background-color: $custom-control-indicator-active-bg;
    border-color: $custom-control-indicator-active-border-color;
    @include box-shadow($custom-control-indicator-active-box-shadow);
  }

  // Use [disabled] and :disabled to work around https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .custom-control-label {
      color: $custom-control-label-disabled-color;

      &::before {
        background-color: $custom-control-indicator-disabled-bg;
      }
    }
  }
}



.form-check-label, .form-radio-label {
  position: relative;
  margin-bottom: 0;
  color: $custom-control-label-color;
  vertical-align: top;
  cursor: $custom-control-cursor;



  // Background-color and (when enabled) gradient
  &::before {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    pointer-events: none;
    content: "";
    background-color: $custom-control-indicator-bg;
    border: $custom-control-indicator-border-color solid $custom-control-indicator-border-width;
    @include box-shadow($custom-control-indicator-box-shadow);
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    content: "";
    background: 50% / #{$custom-control-indicator-bg-size} no-repeat;
  }
}


// Checkboxes
//
// Tweak just a few things for checkboxes.

.form-check {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 38px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  cursor: pointer;

  .form-check-label::before {
    width: 26px;
    height: 24px;
    top: -0.175rem;
    left: -36px;
    border-color: #35265F;
    background-color: #fff;
    @include border-radius($custom-checkbox-indicator-border-radius);
  }
.form-check-label::after {
  position: absolute;
  top: -3px;
  left: -36px;
  display: block;
  width: 26px;
  height: 24px;
  content: "";
  background-repeat: no-repeat;
  background-image: none;
  background-size: 18px;
  background-position: center center;
}

  .form-check-input:checked ~ .form-check-label {
    &::before {
      color: #ffffff;
      border-color: #35265F;
      background-color: #fff;
    }
    &::after {
      //background-image: escape-svg($custom-checkbox-indicator-icon-checked);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A7345F' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M16.7 5.3a1 1 0 010 1.4l-8 8a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4L8 12.58l7.3-7.3a1 1 0 011.4 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  .custom-control-input:indeterminate ~ .custom-control-label {
    &::before {
      border-color: $custom-checkbox-indicator-indeterminate-border-color;
      @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &::after {
      background-image: escape-svg($custom-checkbox-indicator-icon-indeterminate);
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
    &:indeterminate ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}

// Radios
//
// Tweak just a few things for radios.

.form-radio {
  padding-left: 32px;
  margin-bottom: 4px;

  .form-radio-label::before {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: $custom-radio-indicator-border-radius;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -29px;
    border-color: $mg-harmony;
    background-color: #fff;
  }
  .form-radio-label::after {
    // background-image: escape-svg($custom-radio-indicator-icon-checked);
    background-image: none;
    border-radius: 50%;
    background-color: $gray-400;
    width: 10px;
    height: 10px;
    top: 4px;
    left: -24px;
  }


  .form-radio-input:checked ~ .form-radio-label {
    &::before {
      color: #ffffff;
      border-color: $mg-harmony;
      background-color: #fff;
    }
    &::after {
      // background-image: escape-svg($custom-radio-indicator-icon-checked);
      background-image: none;
      border-radius: 50%;
      background-color: $mg-stability;
      width: 12px;
      height: 12px;
      top: 3px;
      left: -25px;
    }
  }

  .form-radio-input:disabled {
    &:checked ~ .form-radio-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}
*/

.form-radio {
  padding-left: 32px;
  margin-bottom: 4px;
}

// input[type="checkbox"], input[type="radio"] {
.form-check-input, .form-radio-input {
position: absolute;
left: 0;
z-index: -1; // Put the input behind the label so it doesn't overlay text
width: $custom-control-indicator-size;
height: ($font-size-base * $line-height-base + $custom-control-indicator-size) / 2;
opacity: 0;
}
.form-check-label, .form-radio-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;
    &::before {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #ffffff;
        border: #C5C5C7 solid 1px;
    }
    &::after {
      position: absolute;
      top: 0.25rem;
      left: -1.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background: 50%/50% 50% no-repeat;
    }
}

.form-radio .form-radio-label {
    &::before {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        top: -1px;
        left: -29px;
        border-color: #A7345F;
        background-color: #fff;
    }
    &::after {
        background-image: none;
        border-radius: 50%;
        background-color: #E0E0E2;
        width: 10px;
        height: 10px;
        top: 4px;
        left: -24px;
        transition-duration: .18s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.12,0,.39,0);
    }
  }
.form-radio .form-radio-input:checked ~ .form-radio-label::before {
    color: #ffffff;
    border-color: #A7345F;
    background-color: #fff;
}
.form-radio .form-radio-input:checked ~ .form-radio-label::after {
    background-image: none;
    border-radius: 50%;
    background-color: #35265F;
    width: 12px;
    height: 12px;
    top: 3px;
    left: -25px;
}

// switches
//
// Tweak a few things for switches

.custom-switch {
  padding-left: $custom-switch-width + $custom-control-gutter;
  min-height: 36px;

  .custom-control-label {
    line-height: 30px;

    &::before {
      left: -($custom-switch-width + $custom-control-gutter);
      top: -1px;
      width: $custom-switch-width;
      pointer-events: all;
      background-color: $gray-400;
      border-color: $gray-400;
      // stylelint-disable-next-line property-disallowed-list
      //border-radius: $custom-switch-indicator-border-radius;
      //left: -2.25rem;
      //width: 2.8rem;
      pointer-events: all;
      border-radius: 1.8rem;
      height: 34px;
    }

    &::after {
      top: 6px;
      //left: add(-($custom-switch-width + $custom-control-gutter), $custom-control-indicator-border-width * 2);
      left: calc(-2.3rem - 25px);
      width: $custom-switch-indicator-size;
      height: $custom-switch-indicator-size;
      background-color: $custom-control-indicator-bg;
      // stylelint-disable-next-line property-disallowed-list
      border-radius: $custom-switch-indicator-border-radius;
      @include transition(transform .15s ease-in-out, $custom-forms-transition);
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: $custom-control-indicator-bg;
      transform: translateX($custom-switch-width - $custom-control-indicator-size - 1.2rem);
      width: $custom-switch-indicator-size;
      height: $custom-switch-indicator-size;
top: 6px;
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      @include gradient-bg($custom-control-indicator-checked-disabled-bg);
    }
  }
}




label.error {
  color: darken(#DC3545,2%);
  font-size: 13px;
}
.form-control.error {
  border-bottom-color: darken(#DC3545,2%);
}
