
//


@import "abstracts/mg.mixins.scss";
@import "abstracts/mg.colors.scss";

@import "abstracts/mixins"; // Required
@import "abstracts/functions"; // Required
@import "abstracts/mg.variables"; // Required: ;
@import "abstracts/variables"; // Required

@import "vendors/slick/slick.scss";
@import "vendors/slick/slick-theme.scss";


// .slick .slick-dots li {
//     position: relative;
//     display: inline-block;
//     height: 12px !important;
//     width: 12px !important;
//     margin: 0 4px !important;
//     padding: 0;
//     cursor: pointer;
// }
// .slick .slick-dots li button::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     content: "•";
//     width: 20px !important;
//     height: 20px !important;
//     font-family: "slick";
//     font-size: 16px !important;
//     line-height: 16px !important;
//     text-align: center;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
//
// .slick-dots li {
//     height: 16px;
//     width: 16px;
//     margin: 0 2px;
// }
// .slick-dots li button,
// .slick-dots li button::before {
//     height: 16px;
//     width: 16px;
//     font-size: 16px;
//   }
//
// .slick-slider .gallery-dots .slilck-dots li button:before,
// 	.slick-dots li button:before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     content: "•";
//     width: 16px;
//     height: 16px;
//     font-family: "slick";
//     font-size: 12px !important;
//     line-height: 12px !important;
//     text-align: center;
//     color: #612653;
//     opacity: 0.25;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }


.slick .slick-dots {
  bottom: -40px;
  li {
    position: relative;
    display: inline-block;
    height: 32px !important;
    width: 12px !important;
    margin: 0 3px !important;
    padding: 0;
    cursor: pointer;
  }
}

.slick .slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 12px !important;
    height: 32px !important;
    font-family: monospace;
    font-size: 32px !important;
    line-height: 32px !important;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
