
//


@import "abstracts/mg.mixins.scss";
@import "abstracts/mg.colors.scss";

@import "abstracts/mixins"; // Required
@import "abstracts/functions"; // Required
@import "abstracts/mg.variables"; // Required: ;
@import "abstracts/variables"; // Required

//@import "base/mg.fonts";

//@import "vendors/bootstrap/root";
@import "base/reboot"; // Required
@import "base/type";
@import "base/images";
@import "base/code";
@import "base/grid";
@import "base/tables";
@import "base/forms";
@import "base/buttons";
@import "base/transitions";
@import "components/dropdown";
@import "components/button-group";
@import "components/input-group"; // Requires forms
@import "base/custom-forms";
@import "components/nav";
@import "components/navbar"; // Requires nav
//@import "components/mg.navbar";
@import "components/card";
//@import "components/pagination";
@import "components/badge";
@import "components/jumbotron";
@import "components/alert";
@import "components/progress";
@import "components/media";
@import "components/list-group";
@import "components/close";
//@import "components/toasts";
@import "components/modal"; // Requires transitions
@import "components/tooltip";
@import "components/popover";
//@import "components/carousel";
@import "components/spinners";
@import "base/utilities";
//@import "vendors/bootstrap/print";

@import "base/mg.typography";
@import "base/mg.forms";
@import "base/mg.custom-forms";
@import "base/mg.icons";
@import "components/mg.nav";

@import "components/mg.navbar";


//
// Custom styles
//

/**
 * Smooth scrolling on the whole document
 */
 /*
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
*/

html, body {
	max-width: 100%;
	width: 100%;
	min-height: 100%;
  font-size: 16px;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a:hover {
	color: $mg-harmony;
}

section {
	overflow-x: hidden;
}





/* TOP NAV MEGA MENU --------------- */

.top-banner {
  overflow: hidden;
}
.navbar--custom {
  max-width: 100%;
  margin: 0 auto;
  color: #333;
  border-radius: 0px;
  background-color: #fff;
}

.navbar--custom .logo {
    display: inline-block;
    overflow: hidden;
    width: 130px;
    height: 48px;
    text-indent: -999px;
    margin-left: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 48'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='12.5' y1='39.5' x2='10.4' y2='-.5'%3E%3Cstop offset='0' style='stop-color:%23823975'/%3E%3Cstop offset='.2' style='stop-color:%2389376F'/%3E%3Cstop offset='.4' style='stop-color:%239D315D'/%3E%3Cstop offset='.7' style='stop-color:%23BD2741'/%3E%3Cstop offset='.9' style='stop-color:%23D81F29'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M22.7 31c-9.5-12.6-9-31-9-31H0c-1 19 6.4 32 13 39.5 4-2 7.2-5 9.7-8.4z'/%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='13.5' y1='7.4' x2='45.4' y2='7.4'%3E%3Cstop offset='0' style='stop-color:%23D62C3A'/%3E%3Cstop offset='.6' style='stop-color:%23DD2A35'/%3E%3Cstop offset='1' style='stop-color:%23E7282D'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M45.3 0H13.4s0 6.6 1.8 14.8h29c1-4.4 1.3-9.3 1-14.7z'/%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='25.6' y1='48.4' x2='30.6' y2='12.6'%3E%3Cstop offset='0' style='stop-color:%23823975'/%3E%3Cstop offset='.2' style='stop-color:%237B3773'/%3E%3Cstop offset='.5' style='stop-color:%2367326E'/%3E%3Cstop offset='.8' style='stop-color:%23472A65'/%3E%3Cstop offset='1' style='stop-color:%232C235E'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23c)' d='M30 14.5c-2.2 9-7 19.6-17.2 24.8 0 0 4.2 5 9.8 8.6 0 0 17.3-10.3 21.7-33.6H30z'/%3E%3Cg fill='%23231F20'%3E%3Cpath d='M66.2 20.8h.5s.4 0 .5-.3l5-9.4 1.3 9c0 .2.3.5.6.5h3.5c.3 0 .6-.3.6-.6L74.8.4c0-.3-.3-.5-.5-.5h-.5s-.4 0-.5.3l-6.7 12.5L59.6.3c0-.2-.3-.3-.4-.3h-.5c-.2 0-.5.2-.5.5L55 20c0 .3.2.5.6.5H59c.3 0 .5-.2.6-.5l1.3-9 5 9.5c-.2.2 0 .3.2.3zM96.2 20v-3.2c0-.3-.2-.5-.6-.5h-8v-4h6.6c.3 0 .6 0 .6-.4V8.6c0-.3-.3-.5-.6-.5h-6.6V4.5h8c.3 0 .6-.3.6-.5V.8c0-.3-.2-.5-.6-.5h-12c-.3 0-.6.3-.6.5V20c0 .3.2.5.6.5h12c.4 0 .6-.2.6-.5zM102 20.5h7.2c5.6 0 10.2-4.5 10.2-10.2 0-5.6-4.6-10-10.2-10h-7c-.4 0-.6.2-.6.4V20c0 .3.2.5.5.5zm4-16h3c3.2 0 5.5 2.6 5.5 5.8 0 3.3-2.4 6-5.6 6h-3V4.4zM129 20V.8c0-.3-.4-.5-.7-.5h-3.5c-.3 0-.6.3-.6.5V20c0 .3.3.5.6.5h3.5c.3 0 .6-.2.6-.5zM144.3 20.8c2.6 0 5-1 7-2.8.2-.2.2-.6 0-.8l-2.3-2.4c-.2-.2-.6-.2-.8 0-1 1-2.5 1.4-4 1.4-3.2 0-5.6-2.7-5.6-6 0-3 2.4-6 5.7-6 1.4 0 2.8.6 4 1.6 0 .2.4.2.6 0l2.2-2.3c.2-.2.2-.6 0-.8-2-1.8-4-2.7-7-2.7-5.8 0-10.5 4.7-10.5 10.4 0 5.8 4.8 10.4 10.6 10.4zM167.3 17.5l1 2.3c.3.5.5.7 1 .7h3.2c.4 0 .7-.4.5-.8L164 .3c0-.2-.3-.3-.5-.3h-.3c-.2 0-.4 0-.5.3l-9 19.5c-.3.4 0 .8.4.8h3.3c.6 0 1-.3 1-.7l1-2.4h8zm-4-8.7l2.2 4.8H161l2.3-4.8zM177.4 20.5h11c.2 0 .5-.3.5-.5v-3.2c0-.3-.3-.5-.7-.5h-7V.8c0-.3-.2-.5-.5-.5h-3.4c-.3 0-.6.3-.6.5V20c0 .3.3.5.6.5zM58.8 37.3H53c-.3 0-.6.2-.6.5v3c0 .2.2.4.6.4h1.8V43c-1 .2-1.7.4-2.6.4-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.5-5.8 5.7-5.8 1.4 0 2.7.4 3.8 1.4.2.2.6.2.8 0l2.3-2.4c.3-.2.3-.6 0-.8-2-1.7-4.6-2.7-7-2.7-6 0-10.5 4.6-10.5 10.4C41.5 43.5 46 48 52 48c4 0 7-1.8 7-1.8.2 0 .3-.3.3-.5V38c0-.4-.2-.7-.5-.7zM80.4 27.5h-3.6c-.3 0-.6.3-.6.5v11.7c0 2-1.5 3.6-3.6 3.6-2 0-3.6-1.6-3.6-3.6V28c0-.3-.2-.5-.6-.5H65c-.3 0-.6.3-.6.5v12c0 4.4 3.7 8 8.2 8 4.6 0 8.3-3.6 8.3-8V28c0-.3-.3-.5-.6-.5zM94.5 27.5c0-.2-.3-.3-.5-.3h-.3c-.2 0-.4 0-.5.3l-9 19.5c-.3.4 0 .8.4.8h3.2c.6 0 1-.3 1-.7l1-2.2h8l1 2.3c.2.7.4.8 1 .8h3c.5 0 .8-.4.6-.8l-9-19.5zm-3 13.3L94 36l2.2 4.8h-4.4zM123 33.7c0-3.4-3-6.3-6.4-6.3H108c-.4 0-.7.3-.7.5v19c0 .4.2.6.6.6h3.3c.3 0 .6-.3.6-.5v-7.3h2l3.8 7.7s.2.3.5.3h4c.4 0 .6-.5.4-.8l-4-7.5c2.4-1 4.2-3 4.2-5.8zM116 36H112v-4.4h4.2c1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.3-2.2 2.3zM135.8 27.5h-7c-.4 0-.6.3-.6.5v19.2c0 .3.2.5.5.5h7c5.7 0 10.3-4.5 10.3-10.2 0-5.5-4.6-10-10.2-10zm-.3 16h-2.8V31.6h2.8c3.3 0 5.6 2.6 5.6 5.8.2 3.4-2.2 6-5.5 6zM155 27.5h-3.5c-.3 0-.6.3-.6.5v19.2c0 .3.2.5.5.5h3.5c.3 0 .6-.3.6-.5V28c0-.3-.3-.5-.6-.5zM169.7 27.5c0-.2-.3-.3-.5-.3h-.3c-.3 0-.5 0-.6.3l-9 19.5c-.2.4 0 .8.5.8h3c.7 0 1-.3 1-.7l1-2.2h8l1 2.3c.3.7.5.8 1 .8h3.2c.4 0 .7-.4.5-.8l-9-19.5zM167 40.8l2-4.8 2.2 4.8H167zM199.4 27.5H196c-.3 0-.6.3-.6.5v10.3l-11.6-11h-.7c-.2 0-.5 0-.5.4v19.5c0 .3.3.5.6.5h3.5c.3 0 .6-.3.6-.5V36.4L198.6 48h.8c.3 0 .6-.2.6-.5V28c0-.3-.3-.5-.6-.5z'/%3E%3C/g%3E%3C/svg%3E");
    background-size:128px auto;
}

.navbar--custom a .caret {
    display: inline-block;
  position:relative;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    vertical-align: middle;
    border:none;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z'/%3E%3C/svg%3E");
    background-size: 22px;
}
.navbar--custom a .caret {
  top:50%;
  margin-top:-10px;
}


/*
.navbar--custom .menu {
  position: relative;
  display: flex;
  margin: 0;
  padding:0;
}

.navbar--custom .menu li {
  display: flex;
  transition: background-color .5s ease;
  text-align: center;
  flex: 0;
}

.navbar--custom .main-nav > li > a {
  position: relative;
  display: inline-flex;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  line-height:68px;
  color: #521E4E;
  flex: 1;
  justify-content: center;
  white-space: nowrap;
}
*/
.navbar--custom .menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding:0;
}

.navbar--custom .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.navbar--custom .main-nav > li > a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  line-height:68px;
  color: #521E4E;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

/* .navbar--custom .menu li a {
font-size: 17px;
} */

.navbar--custom .btn {
font-size: 15.5px;
}

.navbar--custom .header-link-btn {
  margin-left:20px;
}
.navbar--custom .header-link a {
  font-size: 13px;
  padding: 0 12px;
}

/* .navbar--custom .menu li:hover {
  background-color: #8f3985;
} */

.navbar--custom.navbar--is-visible .menu li .container--nav {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


li:hover a.hasDropdown:after {
  content: '';
  border-top-color: #8f3985;
}

/* End Navigation Bar */


.mm-panel .nav-link:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 6px;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #4C234C;
}

.mm-bgs {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.mm-img {
  position: relative;
  display: none;
  width:100%;
  height:auto;
  transition: all .3s linear;
}


/* Start Single Section Menu */

.container--nav {
  position: absolute;
  z-index: 1;
  top: 128px;
  right: 0;
  left: 0;
  display: none;
  margin-bottom: 30px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .06);
  max-width:990px;
  width:100%;
}

.container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__listItem {
  overflow: hidden;
  padding: 10px 30px;
}

.container__listItem > div {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline;
  text-overflow: ellipsis;
  color: #db6356;
}

/* End Single Section Menu */

/* Start Multiple Section Menu */

.container--nav.has-multi .container__listItem {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container--nav.has-multi .container__list {
  border-radius: 0px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.container--nav.has-multi .container__list:not(:last-child) {
  margin: 0 4px;
  border-right: solid 1px #f3f3f3;
}

/* End Multiple Section Menu */

/* Start Responsive Menu */

.mobile-menu {
  display: none;
}
.mobile-toggle {
  display: none;
}


.navbar--custom .menu > li > a.btn {
  font-size:15.5;
}
.navbar--custom .btn.btn--primary-outline {
    background-color: transparent;
    color: #35265F;
    border: none;
    position: relative;
    z-index: 1;
    line-height: 38px;
    font-size:15.5;
    font-weight:700;
    height: 44px;
    padding-left:32px;
    padding-right:32px;
    margin: 14px 0 0 8px;
}
.navbar--custom .btn.btn--primary-outline::before {
    content: "";
    background: -webkit-gradient(linear,left top, right top,from(#35265f),to(#de1f2f));
		background: linear-gradient(90deg,#35265f 0%,#de1f2f 100%);
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    margin: 0;
}
.navbar--custom .btn.btn--primary-outline::after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    z-index: -1;
    border-radius: 25px;
}
.navbar--custom .btn.btn--primary-outline:hover { color: #fff; }
.navbar--custom .btn.btn--primary-outline:hover::before,
.navbar--custom .btn.btn--primary-outline:hover::after {
  background: #867D9F;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
}


@media only screen and (max-width: 640px) {
  .no-mobile {
    display: none !important;
  }
  .mobile-menu {
    display: block;
    margin: 0px;
    position: relative;
  }
  .mobile-toggle {
    display: inline-block;
    position: absolute;
		right: 20px;
    top: 6px;
    /* margin: 6px 20px 0 0; */
    height:36px;
    width:36px;
    border:none;
    border-radius: 0;
    background-color: transparent;
    padding:0;
  }
  .mobile-toggle svg {
    height:100%;
    width:100%
  }

  .mobile-toggle .menu-bars { display: none; }
  .mobile-toggle .menu-close { display: block; }
  .mobile-toggle.collapsed .menu-bars { display: block; }
  .mobile-toggle.collapsed .menu-close { display: none; }

  .mobile-menu > i {
    cursor: pointer;
  }
  .navbar--custom {
    position: relative;
    transition: top .3s ease-in;
    top: -100%;
    border-radius: 0;
    will-change: top;
    width:100%;
    display:block;
  }
  .navbar--custom .container { padding:0; }
  .navbar--is-visible .main-nav--container {
    max-height:100%;
    height:100vh;
    overflow-y: scroll;
  }
  .navbar--custom .menu {
		display: block;
    margin-bottom:150px;
  }
	.navbar--custom .menu li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: none !important;
    transition: none !important;
  }
  .navbar--custom .menu li:hover {
    background-color: initial;
  }
  .navbar--custom .menu li.is-selected {
    position: relative;
  }

  .navbar--custom a .caret {
    top: 50%;
    margin-top: -2px;
  }

  .container>.navbar-header {
    display:block;
    width:100%;
    position: relative;
    height: 50px;
    margin:0;
    padding:0 15px;
  }


  .navbar--is-visible .container>.navbar-header {
      box-shadow: 0 4px 8px rgb(0,0,0,0.07);
  }
  .main-nav--container {
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
    padding: 0 15px;
    transition: all .3s ease;
  }
  .container--nav {
    position: static;
    display: block;
    overflow: hidden;
    max-height: 0;
		margin: 0;
		padding:0;
    transition: all .3s ease;
  }

  .navbar--custom .main-nav > li > a {
    color: #521E4E;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    padding: 15px;
		display: block;
		width: 100%;
  }

  .navbar--custom .main-nav .main--last-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
    margin-bottom: 14px;
  }

  .navbar--custom .main-nav > li .btn-shopnow {
    height: 44px;
    padding: 3px 0 4px;
    display: inline-block;
    width: 180px;
    font-size: 17.5px;
    margin: 28px auto 12px;
}

  .navbar--custom.navbar--is-visible .menu li .container--nav {
    max-height: 999999px;
    box-shadow:none;
  }

  a.hasDropdown:after {
    display: none;
  }
  .container--is-visible {
    max-height: 1000px !important;
  }
  .container__list .container__listItem:nth-child(n + 11) {
    display: none;
  }
  /* .container--nav.has-multi .container__list-multi:not(:first-child) {
    display: none;
  } */
  .container--nav.has-multi .container__list-multi:not(:last-child) {
    display: block;
  }
  .container--nav.has-multi .container__list-multi:last-child {
    display: none;
  }
  .menu .container--nav.has-multi .container__list {
    margin: 0;
    border-right: 0;
    padding:0;
  }
	.navbar--custom .menu li .container__listItem {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .navbar--custom.navbar--is-visible .menu li .container--nav {
    display: block;
  }

  .list-products { margin-bottom:12px; display:block; }
  .list-products > li .nav-link {
    text-align: left;
    padding: 30px 0 0 26px;
    color: #35265F;
    margin: 0px 0 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .list-products .nav-item {
    display:block;
    width:100%;
    position: relative;
  }
  .list-products .nav-item:before {
    content: "";
    display: block;
    width:100%;
    padding-top: 48.95%;
  }

  .mm-panel .nav-link:before { display:none; }

  .mega-menu-title {
    text-align: center;
    color: #35265F;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 12px;
  }

  .nav-link.mm-mini {
  background: url('https://cdn.medicalguardian.com/_site/img/nav/panel-mini.jpg') center center no-repeat;
  background-size: 100%;
  background-size: cover;
  }
  .nav-link.mm-mobile {
  background: url('https://cdn.medicalguardian.com/_site/img/nav/panel-mobile-2.jpg') center center no-repeat;
  background-size: 100%;
  background-size: cover;
  }
  .nav-link.mm-home {
  background: url('https://cdn.medicalguardian.com/_site/img/nav/panel-home.jpg') center center no-repeat;
  background-size: 100%;
  background-size: cover;
  }
  .nav-link.mm-classic {
  background: url('https://cdn.medicalguardian.com/_site/img/nav/panel-classic.jpg') center center no-repeat;
  background-size: 100%;
  background-size: cover;
  }
	.main--last-item .dropdown-menu {
    position: relative !important;
    border: none;
    border-radius: 0;
    padding: 0 0 4px;
    box-shadow: none;
		transform: none !important;
		width: 100%;
  }
  .main--last-item .dropdown-menu > li,
	.main--last-item .dropdown-menu > li > a {
    font-size: 16px;
    font-weight: 400;
    color: #521E4E !important;
    line-height: 32px;
		transform: none !important;
		position:relative;
		width:100%;
  }
  .main--last-item .dropdown-menu>.tablet-only { display: none; }

	#checkout-header { top: 88px !important; }
  .order-form-container {
    margin-top: 50px;
  }


	.navbar--custom.navbar--is-visible .menu li .container--nav { transform: none; transition:none; height:auto; }
  .navbar--custom .container--nav.is-closed,
  .navbar--custom.navbar--is-visible .menu li .container--nav.is-closed { max-height: 0px;height:0; }
}

/* End Responsive Menu */

.container-cta {
  display:block;
}

.mega-menu-title {
  text-align: center;
  color: #35265F;
  font-weight:700;
}

.font-weight-light {
  font-weight: 300;
}


@media only screen and (min-width: 640px) and (max-width: 990px) {
  .navbar--custom .logo {
      width: 130px;
      height: 60px;
      margin-right: 32px;
      background-size:130px auto;
  }

  .navbar--custom .menu li.main--last-item {
    margin-right: auto;
  }
  .navbar--custom .main-nav > li > a {
    line-height: 60px;
  }
  .navbar--custom .main-nav > li:not(:last-child) > a { font-size: 14.5px; font-weight:500;padding:0 9px; }
  .navbar--custom .main-nav > li.header-link { display:none; }

	.navbar--custom .main-nav > li .btn-shopnow {
    height: 38px;
    line-height: 38px;
    padding: 0px 16px;
    display: inline-block;
    width: auto;
    font-size: 16px;
  }

  .container--nav.has-multi .container__listItem {
    border-radius: 0px;
		-ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
	.navbar--custom.navbar--is-visible .menu li .container--nav {
    display: block;
    width:100%;
    padding: 0 8px;
  }
  .container--nav.has-multi .container__list-multi {
    display: inline-block;
		position:relative;
		vertical-align: top;
  }
  /* .container--nav.has-multi .container-mobile { float:left; }
  .container--nav.has-multi .container-home { margin-left:auto; } */
  .container--nav.has-multi .container__list:not(:last-child) {
		width: 49.5%;
    border-left: 4px solid #fff;
		margin: 0px;
    border-right: none;
		height:290px;
}
  .container--nav.has-multi .container__list-multi:last-child {
    display: block;
    width:100%;
    text-align: center;
    margin-top: -4px;
  }

  .container-cta:before, .container-cta:after {
      content: " ";
      display: table;
  }
  .container-cta:after {
    clear: both;
}

  .container--nav.has-multi .container__list-multi:last-child img { display: none; }
  .container--nav.has-multi .container__list-multi:last-child h3,
  .container--nav.has-multi .container__list-multi:last-child p,
  .container--nav.has-multi .container__list-multi:last-child .btn { display: inline-block; vertical-align: middle; margin:0 6px; }
  .container--nav.has-multi .container__list-multi:last-child h3 {font-size:18px;margin-left:0;}
  .container--nav.has-multi .container__list-multi:last-child .btn {margin-right:0;}

	#site-wide-lead-gen {
    background-position: 68% bottom !important;
    padding-top: 44px !important;
  }
  #site-wide-lead-gen h2 { font-size: 2.1rem !important; }

}

@media only screen and (min-width: 760px) {
	.mobile-only { display:none !important; }
	.navbar-header { float:left; height:60px; }
  .navbar--custom .menu .list-products { display: block;}
  .navbar--custom .menu .nav-item { padding:0; display: block; text-align: left;}
  .navbar--custom .menu li .nav-link { padding:5px 0 5px; }
  .mega-menu-title { font-weight:800; line-height: 1.15; }
	.mega-menu-title  span { display: block; }

  .navbar--custom.navbar--is-visible .main-nav {
    position: static;
  }

  .navbar--custom .btn.btn--primary-outline { height: 40px; padding-left:26px; padding-right:26px; margin: 10px 0 0 4px; }

  .container--nav {
    top:95px;
    padding: 0 5px 10px;
    box-shadow: 0 6px 12px -6px rgba(0,0,0,0.15);
  }

	.main-nav--container::after {
    content: " ";
    display: table;
		clear: both;
	}

  .container-mobile {
    background-image: url("https://cdn.medicalguardian.com/_site/img/nav/mm-bg-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
  }

  .container-home {
    background-image: url("https://cdn.medicalguardian.com/_site/img/nav/mm-bg-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
  }

	.main--last-item .dropdown-menu {
	  left: inherit;
	  border: none;
	  border-radius: 0;
	  padding: 12px 0;
	  margin: -2px 0 0 -4px;
	}
	.main--last-item .dropdown-menu>.nav-item>a,
	.main--last-item .dropdown-menu>.tablet-only>a {
    color: #35265F;
		font-weight: 400;
		text-decoration: none;
		padding-left: 16px;
	}
	.navbar--custom .menu li .nav-link:hover { color: #35265F; text-decoration: underline; }

	.mm-content { padding-top: 20px; }
	.mega-menu-title {
    text-align: left;
    color: #35265F;
    font-size: 22px;
		line-height: 1;
		margin-bottom: 12px;
  }
  .mm-content p { font-size: 15.5px; }
	.mm-bgs { display:none; }

	#checkout-header { margin-top: 36px; }

}

@media only screen and (min-width: 990px) {

  .container--nav {
    top: 114px;
    left:50%;
    transform: translateX(-50%);
  }
  .navbar--custom .logo {
		width: 140px;
		height: 60px;
		margin-right: 32px;
		background-size:130px auto;
		background-position: center center;
  }

  .mega-menu-title {
    text-align: left;
    color: #35265F;
    font-size: 22px;
  }

	.mm-content { padding-top: 28px; }
	.container-cta {
      text-align: center;
      padding: 4px 0 8px;
      -ms-flex-preferred-size: 45% !important;
          flex-basis: 45% !important;
  }
  .container-cta img {
      margin: 0 auto;
  }
  .container-cta h3 {
      margin: 16px 0 0;
      text-align: center;
      font-size: 18px;
  }
  .container-cta p {
      margin: 8px 0 0;
  }

	.navbar--custom .main-nav > li > a { line-height: 66px; font-size: 17px; font-weight:500; }
	.navbar--custom .btn.btn--primary-outline {
    font-size:15.5 !important;
    margin-top:12px; margin-left:12px;
  }
  .navbar--custom .menu li.main--last-item {
    margin-right: auto;
  }
	.navbar--custom .main-nav > li > a {
    line-height: 60px;
  }
	.main--last-item .dropdown-menu,
	.main--last-item .dropdown-menu.show {
		top: -4px !important;
    left: -8px !important;
		padding-bottom: 6px;
	}
  .navbar--custom .main-nav > li.header-link a { font-size: 13px; }
	.navbar-header { height: 60px; }

	.navbar--custom .menu .list-products { display: inline-block; float:left;}
	.mm-bgs { display:inline-block !important; margin-left: 24px; }
  .mm-bg-mini { background: #fff; }
  .mm-bg-mini .mm-img-mini { display: block; }
  .mm-bg-mobile { background: #fff; }
  .mm-bg-mobile .mm-img-mobile { display: block; }
  .mm-bg-freedom { background: #fff; }
  .mm-bg-freedom .mm-img-freedom { display: block; }
  .mm-bg-classic { background: #fff; }
  .mm-bg-classic .mm-img-classic { display: block; }
  .mm-bg-home { background: #fff; }
  .mm-bg-home .mm-img-home { display: block; }
}




.menu-backdrop.modal-backdrop { z-index: 12; position:fixed;overflow:hidden; }
body.modal-open { overflow:hidden; }

/* ------------------- */





.container {
	max-width: 1024px;
}
@media (min-width: 576px) and (max-width: 768px){
	.container, .container-sm, .container-md {
		overflow-x: hidden;
		max-width: 100%;
		width: 100%;
	}
}


@media (max-width: 990px){
	body {
	    overflow-x: hidden;
			max-width: 100%;
			width: 100%;
	}
}

@include media-breakpoint-down(sm) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@include media-breakpoint-down(md) {
	.dt-only {
		display:none;
	}
}


.b-0 {
  border-width: 0;
}

.img-circle {
  overflow:hidden;border-radius:50%;
}
.review .avatar {
  max-width:90px; margin: 0 auto 16px;
}

.display-2 {
  letter-spacing: -0.01em;
}

.bg-purple {
  background-color: $mg-autonomy;
}
.bg-darkblue {
  background-color: $mg-stability;
}
.bg-white {
  background-color: #ffffff;
}

.bg-light2 {
  background-color: $mg-tranquil-cloud;
}

.border-rounded {
  border-radius: 1rem;
}

.mini-badge { padding: 4px 8px;font-size:12px;line-height: 14px; color: #111; background: #F8C379;font-weight:500;position: absolute;top:16px;left:50%;margin-left:24px;border-radius:3px;overflow:hidden;  }

.fw-500 { font-weight: 500; }

.tap-to-call { text-decoration:none; }

.m-5{ margin: 5rem; } // 80px
.mt-5{ margin-top: 5rem; } // 80px
.mb-5{ margin-bottom: 5rem; } // 80px
.my-5{ margin-top: 5rem; margin-bottom: 5rem; } // 80px

.m-4{ margin: 3.75rem; }
.mt-4{ margin-top: 3.75rem; }
.mb-4{ margin-bottom: 3.75rem; }
.my-4{ margin-top: 3.75rem; margin-bottom: 3.75rem; }

.m-3{ margin: 2.5rem; }
.mt-3{ margin-top: 2.5rem; }
.mb-3{ margin-bottom: 2.5rem; }
.my-3{ margin-top: 2.5rem; margin-bottom: 2.5rem; }
.mx-3{ margin-left: 2.5rem; margin-right: 2.5rem; }
.ml-3{ margin-left: 2.5rem; }
.mr-3{ margin-right: 2.5rem; }

.m-2{ margin: 1.875rem; }
.mt-2{ margin-top: 1.875rem; }
.mb-2{ margin-bottom: 1.875rem; }
.my-2{ margin-top: 1.875rem; margin-bottom: 1.875rem; }
.mx-2{ margin-left: 1.875rem; margin-right: 1.875rem; }
.ml-2{ margin-left: 1.875rem; }
.mr-2{ margin-right: 1.875rem; }

.m-1{ margin: 1.25rem; }
.mt-1{ margin-top: 1.25rem; }
.mb-1{ margin-bottom: 1.25rem; }
.my-1{ margin-top: 1.25rem; margin-bottom: 1.25rem; }
.mx-1{ margin-left: 1.25rem; margin-right: 1.25rem; }
.ml-1{ margin-left: 1.25rem; }
.mr-1{ margin-right: 1.25rem; }

.m-0{ margin: 0rem; }
.mr-0{ margin-right: 0rem; }
.ml-auto{ margin-left: auto; }
.mx-auto{ margin-left: auto; margin-right: auto; }

.m-i0  { margin: 0px !important; }
.p-i0  { padding: 0px !important; }

.p-5{ padding: 5rem; } // 80px
.pt-5{ padding-top: 5rem; } // 80px
.pb-5{ padding-bottom: 5rem; } // 80px
.py-5{ padding-top: 5rem; padding-bottom: 5rem; } // 80px

.p-4{ padding: 3.75rem; } // 60px
.pt-4{ padding-top: 3.75rem; }
.pb-4{ padding-bottom: 3.75rem; }
.py-4{ padding-top: 3.75rem; padding-bottom: 3.75rem; }

.p-3{ padding: 2.5rem; }
.pt-3{ padding-top: 2.5rem; }
.pb-3{ padding-bottom: 2.5rem; }
.py-3{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
.px-3{ padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
.pl-3{ padding-left: 2.5rem; }
.pr-3{ padding-right: 2.5rem; }

.p-2{ padding: 1.875rem; }
.pt-2{ padding-top: 1.875rem; }
.pb-2{ padding-bottom: 1.875rem; }
.py-2{ padding-top: 1.875rem; padding-bottom: 1.875rem; }
.px-2{ padding-left: 1.875rem !important; padding-right: 1.875rem !important; }
.pl-2{ padding-left: 1.875rem; }
.pr-2{ padding-right: 1.875rem; }

.p-1{ padding: 1rem; }
.pt-1{ padding-top: 1rem; }
.pb-1{ padding-bottom: 1rem; }
.py-1{ padding-top: 1rem !important; padding-bottom: 1rem !important; }
.px-1{ padding-left: 1rem; padding-right: 1rem; }
.pl-1{ padding-left: 1rem; }
.pr-1{ padding-right: 1rem; }

.p-0{ padding: 0rem; }
.pt-0{ padding-top: 0rem; }
.pb-0{ padding-bottom: 0rem; }
.py-0{ padding-top: 0rem !important; padding-bottom: 0rem !important; }
.px-0{ padding-left: 0rem !important; padding-right: 0rem !important; }
.pl-0{ padding-left: 0rem; }
.pr-0{ padding-right: 0rem; }


/*
@media only screen and (min-width: 600px) {
  body {

  }
}
*/

@include media-breakpoint-up(sm) {
	.py-sm-3{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
	.py-sm-4{ padding-top: 3.75rem; padding-bottom: 3.75rem; }
	.py-sm-5{ padding-top: 5rem; padding-bottom: 5rem; } // 80px

	.mb-sm-2{ margin-bottom: 1.875rem !important; }
	.mt-sm-2{ margin-top: 1.875rem; }
	.mt-sm-3{ margin-top: 2.5rem; }
}


@include media-breakpoint-up(md) {
	.py-md-3 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
	.py-md-4 { padding-top: 3.75rem; padding-bottom: 3.75rem; }
	.py-md-5 { padding-top: 5rem; padding-bottom: 5rem; } // 80px
	.pr-md-3{ padding-right: 2.5rem !important; }
	.pr-md-2{ padding-right: 1.875rem !important; }

	.mb-md-2 { margin-bottom: 1.875rem !important; }
}


.mh-128 {
  max-height: 128px;
}
.mw-160 {
  width: auto;
  max-width: 160px;
}

.one-one {
  @include aspect-ratio(1, 1);
}
.three-two {
  @include aspect-ratio(3, 2);
}
.four-three {
  @include aspect-ratio(4, 3);
}
.five-four {
  @include aspect-ratio(5, 4);
}
.six-four {
  @include aspect-ratio(6, 4);
}
.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.two-three {
  @include aspect-ratio(2, 3);
}
.three-four {
  @include aspect-ratio(3, 4);
}
.four-five {
  @include aspect-ratio(4, 5);
}
.nine-sixteen {
  @include aspect-ratio(9, 16);
}


body {
  background-color: $white;
}

label {
  color: $mg-stability;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 4px;
}

.section-title h2, .section-title h3 {
  .emphasis {
    color: $mg-harmony;
  }
}

.text-berry {
  color: $mg-harmony;
}
/*aa edits*/
.text-yellow {
  color: $mg-confidence;
}
.text-aqua {
  color: $mg-calm;
}

.text-darkblue {
  color: $mg-stability;
}

.bg-gradient {
  background: $primary;
  background: -moz-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  background: linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
}


.page-header {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 8px solid #eee;
}

.notched {
	position: relative;
	padding-bottom: 30px;
	&::after {
		display:block;
		width: 28px;
		height: 0px;
		border-top: 2px solid #CFFFFE;
		content: '';
		position: absolute;
		bottom: 8px;
		left: 50%;
		margin-left: -14px;
	}
}

.shadow-1 {
  box-shadow: 0 0.15rem 0.2rem rgba(17, 17, 17, 0.05);
}


.hero-03 {
  background: #f9f9f7 url('/_site/_dist/img/bg-hero-03.jpg') center center no-repeat;
  background-size: 100%;
  background-size: cover;
}

.divider {
		display:block;
		overflow: visible;
		width:100%;
    background-color: #fff;
    position: relative;
    height: 0px;
    margin: 0px;
}
.prompt {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #A5CFD9;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: -29px;
    z-index: 10;
    height: 70px;
    width: 70px;
    text-align: center;

		.arrow {
	    display: inline-block;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 21px 14px 0 14px;
	    border-color: #35265f transparent transparent transparent;
			position: relative;
			top: 27px;
		}
}

@media only screen and (max-width: 990px) {
	.img-responsive {
		width:100%;
		max-width:100%;
	}
}

@media only screen and (min-width: 990px) {
  .toni-garden {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 410px;
      bottom: 0;
      left: 50%;
      margin-left: 130px;
      background-image: url('https://cdn.medicalguardian.com/rebrand/img/bg-faq-toni.png');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .cta-full-brochure{
    background-image: url('https://cdn.medicalguardian.com/rebrand/img/lead-gen-form-break.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
  }
}


@import "components/mg.buttons";
@import "components/mg.controls";
@import "components/mg.cards";
@import "components/mg.accordion";
@import "components/mg.modals";
@import "components/mg.media";


.text-xs {font-size: 0.75rem;
line-height: 1rem;}
.text-sm {font-size: 0.875rem;
line-height: 1.25rem;}
.text-base {font-size: 1rem;
line-height: 1.5rem;}
.text-lg {font-size: 1.125rem;
line-height: 1.75rem;}
.text-xl {font-size: 1.25rem;
line-height: 1.75rem;}
.text-2xl	{font-size: 1.5rem;
line-height: 2rem;}
.text-3xl	{font-size: 1.875rem;
line-height: 2.25rem;}
.text-4xl	{font-size: 2.25rem;
line-height: 2.5rem;}
.text-5xl	{font-size: 3rem;
line-height: 1;}
.text-6xl	{font-size: 3.75rem;
line-height: 1;}
.text-7xl	{font-size: 4.5rem;
line-height: 1;}
.text-8xl	{font-size: 6rem;
line-height: 1;}
.text-9xl {font-size: 8rem;
line-height: 1;}




.prod-gallery {
  .btn-icon {
    height: 24px;
    width: 24px;
		background-size:22px;
  }
	.slider-nav-btn {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -13px;
		&.slider-nav-prev {
			left: 8px;
		}
		&.slider-nav-next {
			left: auto;
			right: 8px;
		}
		&.slick-disabled {
	    opacity: 0.2;
	  }
	}
  .card-deck .card {
    padding: 4px 0;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 3px;
		&:hover {
			border: 2px solid $mg-stability;
		}
    a {
      text-decoration: none;
    }
  }
}

// .gallery-img img {
// 	max-height: 300px;
// 	width: auto;
// 	margin-left: auto;
// 	margin-right: auto;
// }

.caret-up {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 2c-.41 0-.77.48-.97.72L.16 8.75l-.01.01a.7.7 0 00-.15.42c0 .45.17.82.79.82h10.42c.62 0 .79-.37.79-.82 0-.15-.06-.3-.16-.42l-.01-.01-4.86-6.03C6.77 2.48 6.41 2 6 2z' fill='%2335265f'/%3E%3C/svg%3E");
}
.caret-down {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 10c.41 0 .77-.48.97-.72l4.87-6.02.01-.01a.75.75 0 00.15-.43c0-.45-.17-.82-.79-.82H.79C.17 2 0 2.37 0 2.82c0 .15.06.3.16.42l.01.01 4.87 6.02c.19.25.55.73.96.73z' fill='%2335265f'/%3E%3C/svg%3E");
}


.phone {
  padding-left:34px !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%2335265f'/%3E%3C/svg%3E");
	background-size: 36px;
}



.yotpo-reviews-carousel .carousel-display-wrapper .headline {
	display:none !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel {
	height: 38px !important;
	border-bottom: 1px solid #efefef !important;
margin-bottom: 10px !important;
}
.yotpo .review .yotpo-icon-star, .yotpo-reviews-carousel .yotpo-icon-empty-star, .yotpo-reviews-carousel .yotpo-icon-full-star, .yotpo-reviews-carousel .yotpo-icon-half-star {
    font-size: 20px !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .y-slider-container .single-carousel .product-image-container {
    display: none;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .small-version .right-side {
    width: 100% !important;
}
.yotpo div, .yotpo span, .yotpo p, .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label {
    font-family: "Poppins", Arial !important;
    font-size: 16px !important;
    line-height: 24px !important;
		font-style: normal !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-body,
.yotpo .review .carousel-review-body {
    font-style: normal !important;
}
.yotpo .carousel-display-wrapper .yotpo-carousel .carousel-review-title,
.yotpo .carousel-display-wrapper .yotpo-carousel .small-version .carousel-review-title {
	font-size: 15px;
	color: $grey-darker !important;
	margin-bottom: 8px !important;
	line-height: 1.2 !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .single-carousel .carousel-review-date {
	font-size: 10px !important;
	color: $grey-darker !important;
	font-style: normal !important;
	display:none !important;
}
// .yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .small-version,
// .yotpo .review .small-version {
//     max-width: 380px !important;
// 		width: 100% !important;
//     box-sizing: border-box;
// }
.yotpo .review {
    // margin-right: 56px !important;
		padding-left: 4px !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .carousel-read-more,
.yotpo .yotpo-logo-link-new > * {
    color: #35265F !important;
		font-size: 13px !important;
}


.reviews-container {
  .review {
    padding: 28px 36px;
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 12px;
      &.font-weight-bolder {
        font-weight: 700;
      }
			&.review-body {
        font-size: 15px;
      }
      &.disclaimer {
        font-size: 12px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
	.yotpo-reviews-carousel.yotpo-size-2 .carousel-display-wrapper .carousel-reviews-bottom-line {
		margin-left: -9px;
	}
	.yotpo .yotpo-review-stars {
    margin-left: 0px;
	}
	.review {
		.media-body {
			display:block;
			width:100%;
			flex: none;
		}
		.avatar {
			height: 90px;
			width: 90px;
			margin: 0 auto;
		}
	}
}


#cta-full-brochure,
#site-wide-lead-gen {
  background: #f9f9f7
}
#site-wide-lead-gen {
   /* margin: 90px 0 0 0;*/
   padding-bottom: 100px;
   min-height: 400px;
   background-image:url(https://cdn.medicalguardian.com/rebrand/img/lead-gen-form.jpg);
   background-size: cover;
   background-position: bottom right;
   padding-bottom: 50px;
   padding-top: 50px;
   background-repeat: no-repeat;
   background-color: #f6f6f6;
 }


 /*from 970 to 1170*/
 @media (max-width:1170px){
    #site-wide-lead-gen {
      background-position: 50% bottom;
    }
  }
  /*from 768 to 970*/
  @media (max-width:970px){
    #site-wide-lead-gen {
      background-position: 50% bottom;
    }
  }
  /*up to 768*/
  @media (max-width:768px){
    #site-wide-lead-gen {
      background-position: 0% bottom;
      padding-top: 28px;
    }
  }
@media screen and (max-width: 760px) {
	#cta-full-brochure,
	#site-wide-lead-gen {
	  .pl-0 { padding: 0; }
		.pr-0 { padding: 0; }
	}
}

@import "layout/mg.footer";


// @media all and (-ms-high-contrast: none),
// (-ms-high-contrast: active) {
// html[data-useragent*='MSIE 10.0'] {

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.text-gradient {
        color: #35265F;
        background: transparent;
    }
    .prod-gallery .slider-nav-btn,
		.prod-gallery .gallery-nav {
      display:none !important;
    }
    #reviews {
      display: none !important;
    }
		#customers {
      display: none !important;
    }
		.prod-desc .star-rating {
      display: none !important;
    }
}
// html[data-useragent*='MSIE 11.0'] {
// 		.text-gradient {
//         color: #35265F;
//         background: transparent;
//     }
//     .prod-gallery .slider-nav-btn,
// 		.prod-gallery .gallery-nav {
//       display:none !important;
//     }
//     #reviews {
//       display: none !important;
//     }
// 		#customers {
//       display: none !important;
//     }
// 		.prod-desc .star-rating {
//       display: none !important;
//     }
// }


.slick .slick-dots li {
    position: relative;
    display: inline-block;
    height: 12px !important;
    width: 12px !important;
    margin: 0 2px !important;
    padding: 0;
    cursor: pointer;
}
.slick .slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 10px !important;
    height: 10px !important;
    font-family: "slick";
    font-size: 10px !important;
    line-height: 10px !important;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li {
    height: 24px;
    width: 24px;
    margin: 0 -2px;
}
.slick-dots li button,
.slick-dots li button::before {
    height: 24px;
    width: 24px;
    font-size: 24px;
  }

.slick-slider .gallery-dots .slilck-dots li button:before,
	.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 24px;
    height: 24px;
    font-family: "slick";
    font-size: 24px;
    line-height: 24px !important;
    text-align: center;
    color: #612653;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.banner {
  color: #fff;
  letter-spacing: 0.01em;
  background-color: #35265F;
  background-image: linear-gradient(90deg, rgb(53, 38, 95) 0%, rgb(222, 31, 47) 100%);
  .icon::before {
    font-size: 1.2rem; line-height: 24px; margin: 0; padding: 0; vertical-align: top; color: #CFFFFE;
  }
  a {
    color: #CFFFFE;
    text-decoration: none;
  }
}



.btn {
  &.plus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.75 2a.75.75 0 01.75.75V7h4.25a.75.75 0 110 1.5H8.5v4.25a.75.75 0 11-1.5 0V8.5H2.75a.75.75 0 010-1.5H7V2.75A.75.75 0 017.75 2z'/%3E%3C/svg%3E");
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;

    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0;
    width: 24px;
  }
}
/* aa edits*/
.icon-phone-global::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 4px;
}
.icon-phone-global.aqua::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M5.77 2a1 1 0 01.66.35A83.65 83.65 0 0110.07 6c.33.35.3.75-.1 1.19l-1 1.07c-1.34 1.42-2 2.13-1.33 3.44a22 22 0 008.53 8.61l.45.24h.51c.84 0 1-.17 2.79-1.85l.76-.71a1.24 1.24 0 01.68-.39.89.89 0 01.48.27 66.25 66.25 0 013.77 3.73c.42.46.42.72 0 1.16l-.1.1a14.92 14.92 0 01-3.39 3 2.65 2.65 0 01-.62.1c-.41-.05-1.86-.36-2.16-.44a25.74 25.74 0 01-12.6-8.84 24.15 24.15 0 01-4.62-9.02 4.16 4.16 0 010-1.82A17.14 17.14 0 015.18 2.3a.94.94 0 01.59-.3m0-2a2.83 2.83 0 00-1.94.82S.88 3.46.17 5.23a6.05 6.05 0 000 2.9A26 26 0 005.26 18a27.62 27.62 0 0013.57 9.49 22.65 22.65 0 002.7.53 4.59 4.59 0 001.35-.22c1.53-.63 4-3.37 4.25-3.61a2.64 2.64 0 000-3.91 66.9 66.9 0 00-3.88-3.84 2.73 2.73 0 00-1.83-.79 3 3 0 00-2.05.93c-.75.7-2.12 2-2.18 2a20.07 20.07 0 01-7.79-7.84s1.49-1.6 2.05-2.23a2.76 2.76 0 00.06-3.9A129.78 129.78 0 007.81.9a3 3 0 00-2-.9z' fill='%23CFFFFE' data-name='phone'/%3E%3C/svg%3E");
}
.icon-phone-global.darkblue::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M5.77 2a1 1 0 01.66.35A83.65 83.65 0 0110.07 6c.33.35.3.75-.1 1.19l-1 1.07c-1.34 1.42-2 2.13-1.33 3.44a22 22 0 008.53 8.61l.45.24h.51c.84 0 1-.17 2.79-1.85l.76-.71a1.24 1.24 0 01.68-.39.89.89 0 01.48.27 66.25 66.25 0 013.77 3.73c.42.46.42.72 0 1.16l-.1.1a14.92 14.92 0 01-3.39 3 2.65 2.65 0 01-.62.1c-.41-.05-1.86-.36-2.16-.44a25.74 25.74 0 01-12.6-8.84 24.15 24.15 0 01-4.62-9.02 4.16 4.16 0 010-1.82A17.14 17.14 0 015.18 2.3a.94.94 0 01.59-.3m0-2a2.83 2.83 0 00-1.94.82S.88 3.46.17 5.23a6.05 6.05 0 000 2.9A26 26 0 005.26 18a27.62 27.62 0 0013.57 9.49 22.65 22.65 0 002.7.53 4.59 4.59 0 001.35-.22c1.53-.63 4-3.37 4.25-3.61a2.64 2.64 0 000-3.91 66.9 66.9 0 00-3.88-3.84 2.73 2.73 0 00-1.83-.79 3 3 0 00-2.05.93c-.75.7-2.12 2-2.18 2a20.07 20.07 0 01-7.79-7.84s1.49-1.6 2.05-2.23a2.76 2.76 0 00.06-3.9A129.78 129.78 0 007.81.9a3 3 0 00-2-.9z' fill='%23332F63' data-name='phone'/%3E%3C/svg%3E");
}

.icon-phone-global.medium-phone::before {
 height: 25px;
 width: 25px;
}
.ls-0 {
  letter-spacing: 0 !important;
}

.mg_underline {
  background-image: linear-gradient(to bottom, #D5EDF2 63%, transparent 33%);
  background-position: 0 .99em;
  background-repeat: repeat-x;
  background-size: 2px 6px;
}

.big-number-bullet {
  display: inline-block;
  height: 56px;
  width: 56px;
  line-height: 56px;
  font-size: 28px;
  color: $mg-harmony;
  background: #fff;
  font-weight: 800;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px $grey-medium;
}

.tool-tip {
  background-color: $mg-calm-lightest;
  color: $mg-stability;
  font-weight: 600;
  font-size: 17px;
}


#modal-2-free .modal-body { padding-top: 6px !important; padding-bottom: 26px !important; }
#modal-2-free .modal-title-alt {
  color: #fff !important;
  font-size: 38px !important;
  line-height: 1.1 !important;
  font-weight: 700 !important;
	margin-bottom: 25px !important;
	padding: 0 20px;
	letter-spacing: -0.01em !important;
}

#modal-2-free .tap-to-call {
    color: #fff !important;
    font-size: 42px !important;
    font-weight: 700 !important;
		margin: 20px 0 24px !important;
		display: inline-block !important;
		vertical-align: middle;
}
#modal-2-free .modal-body .btn-primary { display: none !important; }
#modal-2-free .close {
		text-indent: -200px;
		display: block;
		overflow: hidden;
		background: #fff;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		position: absolute !important;
		right: 16px !important;
		top: 12px !important;
		margin: 0 !important;
		padding: 0 !important;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath fill='%2335265F' d='M15.9 4.04a.7.7 0 00-.99 0l-4.7 4.72-4.72-4.71a.7.7 0 00-.98.98l4.7 4.71-4.7 4.71a.7.7 0 00.98.99l4.71-4.71 4.71 4.7a.7.7 0 00.99 0 .7.7 0 000-.98l-4.71-4.7 4.7-4.72a.7.7 0 000-.99z'/%3E%3C/svg%3E");
		background-size: 28px 28px;
}
#modal-2-free .close i { display:none; }

#modal-2-free .fa-phone {
    height: 60px;
    display: inline-block;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%23fff' /%3E%3C/svg%3E");
    background-position: center center;
    background-size: 60px;
    background-repeat: no-repeat;
		vertical-align: middle;
}
