
.navbar .navbar-brand {
    width: 172px;
    height: 74px;
    text-indent: -999px;
    margin-right: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 48'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='12.5' y1='39.5' x2='10.4' y2='-.5'%3E%3Cstop offset='0' style='stop-color:%23823975'/%3E%3Cstop offset='.2' style='stop-color:%2389376F'/%3E%3Cstop offset='.4' style='stop-color:%239D315D'/%3E%3Cstop offset='.7' style='stop-color:%23BD2741'/%3E%3Cstop offset='.9' style='stop-color:%23D81F29'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M22.7 31c-9.5-12.6-9-31-9-31H0c-1 19 6.4 32 13 39.5 4-2 7.2-5 9.7-8.4z'/%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='13.5' y1='7.4' x2='45.4' y2='7.4'%3E%3Cstop offset='0' style='stop-color:%23D62C3A'/%3E%3Cstop offset='.6' style='stop-color:%23DD2A35'/%3E%3Cstop offset='1' style='stop-color:%23E7282D'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M45.3 0H13.4s0 6.6 1.8 14.8h29c1-4.4 1.3-9.3 1-14.7z'/%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='25.6' y1='48.4' x2='30.6' y2='12.6'%3E%3Cstop offset='0' style='stop-color:%23823975'/%3E%3Cstop offset='.2' style='stop-color:%237B3773'/%3E%3Cstop offset='.5' style='stop-color:%2367326E'/%3E%3Cstop offset='.8' style='stop-color:%23472A65'/%3E%3Cstop offset='1' style='stop-color:%232C235E'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23c)' d='M30 14.5c-2.2 9-7 19.6-17.2 24.8 0 0 4.2 5 9.8 8.6 0 0 17.3-10.3 21.7-33.6H30z'/%3E%3Cg fill='%23231F20'%3E%3Cpath d='M66.2 20.8h.5s.4 0 .5-.3l5-9.4 1.3 9c0 .2.3.5.6.5h3.5c.3 0 .6-.3.6-.6L74.8.4c0-.3-.3-.5-.5-.5h-.5s-.4 0-.5.3l-6.7 12.5L59.6.3c0-.2-.3-.3-.4-.3h-.5c-.2 0-.5.2-.5.5L55 20c0 .3.2.5.6.5H59c.3 0 .5-.2.6-.5l1.3-9 5 9.5c-.2.2 0 .3.2.3zM96.2 20v-3.2c0-.3-.2-.5-.6-.5h-8v-4h6.6c.3 0 .6 0 .6-.4V8.6c0-.3-.3-.5-.6-.5h-6.6V4.5h8c.3 0 .6-.3.6-.5V.8c0-.3-.2-.5-.6-.5h-12c-.3 0-.6.3-.6.5V20c0 .3.2.5.6.5h12c.4 0 .6-.2.6-.5zM102 20.5h7.2c5.6 0 10.2-4.5 10.2-10.2 0-5.6-4.6-10-10.2-10h-7c-.4 0-.6.2-.6.4V20c0 .3.2.5.5.5zm4-16h3c3.2 0 5.5 2.6 5.5 5.8 0 3.3-2.4 6-5.6 6h-3V4.4zM129 20V.8c0-.3-.4-.5-.7-.5h-3.5c-.3 0-.6.3-.6.5V20c0 .3.3.5.6.5h3.5c.3 0 .6-.2.6-.5zM144.3 20.8c2.6 0 5-1 7-2.8.2-.2.2-.6 0-.8l-2.3-2.4c-.2-.2-.6-.2-.8 0-1 1-2.5 1.4-4 1.4-3.2 0-5.6-2.7-5.6-6 0-3 2.4-6 5.7-6 1.4 0 2.8.6 4 1.6 0 .2.4.2.6 0l2.2-2.3c.2-.2.2-.6 0-.8-2-1.8-4-2.7-7-2.7-5.8 0-10.5 4.7-10.5 10.4 0 5.8 4.8 10.4 10.6 10.4zM167.3 17.5l1 2.3c.3.5.5.7 1 .7h3.2c.4 0 .7-.4.5-.8L164 .3c0-.2-.3-.3-.5-.3h-.3c-.2 0-.4 0-.5.3l-9 19.5c-.3.4 0 .8.4.8h3.3c.6 0 1-.3 1-.7l1-2.4h8zm-4-8.7l2.2 4.8H161l2.3-4.8zM177.4 20.5h11c.2 0 .5-.3.5-.5v-3.2c0-.3-.3-.5-.7-.5h-7V.8c0-.3-.2-.5-.5-.5h-3.4c-.3 0-.6.3-.6.5V20c0 .3.3.5.6.5zM58.8 37.3H53c-.3 0-.6.2-.6.5v3c0 .2.2.4.6.4h1.8V43c-1 .2-1.7.4-2.6.4-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.5-5.8 5.7-5.8 1.4 0 2.7.4 3.8 1.4.2.2.6.2.8 0l2.3-2.4c.3-.2.3-.6 0-.8-2-1.7-4.6-2.7-7-2.7-6 0-10.5 4.6-10.5 10.4C41.5 43.5 46 48 52 48c4 0 7-1.8 7-1.8.2 0 .3-.3.3-.5V38c0-.4-.2-.7-.5-.7zM80.4 27.5h-3.6c-.3 0-.6.3-.6.5v11.7c0 2-1.5 3.6-3.6 3.6-2 0-3.6-1.6-3.6-3.6V28c0-.3-.2-.5-.6-.5H65c-.3 0-.6.3-.6.5v12c0 4.4 3.7 8 8.2 8 4.6 0 8.3-3.6 8.3-8V28c0-.3-.3-.5-.6-.5zM94.5 27.5c0-.2-.3-.3-.5-.3h-.3c-.2 0-.4 0-.5.3l-9 19.5c-.3.4 0 .8.4.8h3.2c.6 0 1-.3 1-.7l1-2.2h8l1 2.3c.2.7.4.8 1 .8h3c.5 0 .8-.4.6-.8l-9-19.5zm-3 13.3L94 36l2.2 4.8h-4.4zM123 33.7c0-3.4-3-6.3-6.4-6.3H108c-.4 0-.7.3-.7.5v19c0 .4.2.6.6.6h3.3c.3 0 .6-.3.6-.5v-7.3h2l3.8 7.7s.2.3.5.3h4c.4 0 .6-.5.4-.8l-4-7.5c2.4-1 4.2-3 4.2-5.8zM116 36H112v-4.4h4.2c1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.3-2.2 2.3zM135.8 27.5h-7c-.4 0-.6.3-.6.5v19.2c0 .3.2.5.5.5h7c5.7 0 10.3-4.5 10.3-10.2 0-5.5-4.6-10-10.2-10zm-.3 16h-2.8V31.6h2.8c3.3 0 5.6 2.6 5.6 5.8.2 3.4-2.2 6-5.5 6zM155 27.5h-3.5c-.3 0-.6.3-.6.5v19.2c0 .3.2.5.5.5h3.5c.3 0 .6-.3.6-.5V28c0-.3-.3-.5-.6-.5zM169.7 27.5c0-.2-.3-.3-.5-.3h-.3c-.3 0-.5 0-.6.3l-9 19.5c-.2.4 0 .8.5.8h3c.7 0 1-.3 1-.7l1-2.2h8l1 2.3c.3.7.5.8 1 .8h3.2c.4 0 .7-.4.5-.8l-9-19.5zM167 40.8l2-4.8 2.2 4.8H167zM199.4 27.5H196c-.3 0-.6.3-.6.5v10.3l-11.6-11h-.7c-.2 0-.5 0-.5.4v19.5c0 .3.3.5.6.5h3.5c.3 0 .6-.3.6-.5V36.4L198.6 48h.8c.3 0 .6-.2.6-.5V28c0-.3-.3-.5-.6-.5z'/%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
      width: 160px;
      height: 36px;
      margin-right: 42px;
      margin: 12px;
  }
  .navbar-light .navbar-toggler {
    color: rgba(15, 15, 15, 0.65);
    border-color: transparent;
    margin-right: 8px;
  }
}

.nav .btn.btn-primary.btn-sm,
.nav .btn.btn-sm {
  height: 36px;
  padding-left:0;
  padding-right:0;
  line-height: 34px;
  font-size: 14px;
}
.nav .btn.btn-primary.btn-sm,
.nav .btn.btn-primary {
  color: $mg-autonomy;
  padding-left: 12px;
  padding-right: 16px;
  &:hover {
    color: #fff;
  }
}
.nav .btn.btn-primary-outline.btn-sm {
  height: 36px;
}
.nav .btn.btn-primary-outline.btn-sm span {
  font-size: 14px;
  padding: 0px;
  height: 32px;
  line-height: 30px;
}
.nav .btn.btn-primary-outline.btn-sm span {
  width:auto;
  padding-left:4px;
  padding-right:4px;
}

.nav-btn {
  display:inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  text-indent: -999px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  line-height: 32px;
  background-color: $mg-autonomy;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 2px solid $mg-autonomy;
  &.primary {
    &.prev:hover {
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23521E4E' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M15.95 6.29c-10.71 7.18-10.38 4.16 0 11.42'/%3E%3C/svg%3E");
    }
    &.next:hover {
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23521E4E' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M8.05 17.71c10.71-7.18 10.38-4.16 0-11.42'/%3E%3C/svg%3E");
    }
  }

  &.sm-btn {
    height: 24px;
    width: 24px;
    line-height: 24px;
    background-color: $mg-stability;
    background-size: 22px;
    border: 0px $mg-stability;
    border-width: 0px;
    &:hover {
      background-color: $mg-stability-light;
      border-color: $mg-stability-light;
    }
  }
}


  .slick-nav {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    &.prev {
      left: 8px;
    }
    &.next {
      right: 8px;
    }
  }

  @media screen and (max-width: 480px) {
    .slick-nav {
      position: absolute;
      top: auto;
      margin-top: 16px;
      &.prev {
          left: 50%;
          margin-left: -40px !important;
      }
      &.next {
          right: 50%;
          margin-right: -40px !important;
      }
    }
  }



/* ======== MEGA MENU ======== */

.dropdown-menu {
	border-radius: 0px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
	border-color: transparent;
}
.mega-item {
  position:static;
}
.mega-menu {
	position: fixed;
	left: 0;
	top: 90px;
	width:100%;
  background: $grey-light;
}



.nav-tabs {
  margin-bottom: 12px;
  border-bottom: 1px solid #BACDD2;

  .nav-link {
    display: block;
    color: #5b2d69;
    padding: 0.375rem 1.375rem;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid transparent;
      &.active {
         color: #5b2d69;
         background-color: inherit;
         border-color: #BACDD2;
         border-bottom-color: transparent;
         font-weight: 700;
     }
  }
  &.nav-desc {
    .nav-link {
      &.active {
        background-color: #f8f9fa;
        border-bottom-color: #f8f9fa;
      }
    }
  }
}

.prod-subnav {
  .subnav {
    padding: 4px 0;
  }
  &.is-affixed {
    .subnav {
      border-top: 1px solid rgba(0,0,0,0.08);
    }
  }
  .nav-item {
    .active {
      font-weight:700;
    }
  }
}
