

.pagination {
  .page-item {
    .page-link {
      display: inline-block;
      height: 32px;
      width: 32px;
      padding: 0;
      margin: 0 1px;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 50%;
      &:hover {
        color: #fff;
        background-color: $primary;
        border-color: $primary;
      }
      &.primary {
        color: #fff;
        background-color: $primary;
        border-color: $primary;
        &:hover {
          background-color: $mg-stability-light;
          border-color: $mg-stability-light;
          color: $white;
        }
      }
    }
    &.active {
      .page-link {
        font-weight: 700;
        color: $primary;
        border-color: $primary;
      }
    }

    &.disabled {
      .page-link {
        &.prev {
          border-color: $grey-light;
          background-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23E0E0E2' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M15.95 6.29c-10.71 7.18-10.38 4.16 0 11.42'/%3E%3C/svg%3E");
        }
        &.next {
          border-color: $grey-light;
          background-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' x='0px' y='0px' version='1.1' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23E0E0E2' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M8.05 17.71c10.71-7.18 10.38-4.16 0-11.42'/%3E%3C/svg%3E");
        }
      }
    }
  }
}


.progress {
  height: 1rem;
  background-color: #e3e2e2;
  .progress-bar {
    background: #35265f;
    background: -moz-linear-gradient(90deg, #35265f 0%, #c11831 100%);
    background: -webkit-linear-gradient(90deg, #35265f 0%, #c11831 100%);
    background: linear-gradient(90deg, #35265f 0%, #c11831 100%);
  }
}

.steps {
	max-width: 600px;
	width: 100%;
	position: relative;
  padding: 0;
	.progress {
		position: absolute;
		bottom: 14px;
		left: 12px;
		right: 12px;
		z-index: -1;
		height: 16px;
		background-color: #e3e2e2;
		.progress-bar {
			background: #35265f;
			background: -moz-linear-gradient(90deg, #35265f 0%, #c11831 100%);
			background: -webkit-linear-gradient(90deg, #35265f 0%, #c11831 100%);
			background: linear-gradient(90deg, #35265f 0%, #c11831 100%);
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		.step {
			position: relative;
			label {
				position: absolute;
				top: -1.5rem;
				left: 50%;
				transform: translatex(-50%);
				font-size: 13px;
				line-height: 1.2;
				font-weight: 400;
				font-family: "Poppins";
				color: #434343;
				white-space: nowrap;
			}
			a {
				display: inline-block;
				height: 2rem;
				width: 2rem;
				line-height: 28px;
				text-align: center;
				border-radius: 50%;
				background-color: #e3e2e2;
				border: 2px solid #e3e2e2;
				overflow: hidden;
				text-indent: -999px;
			}
			&.valid {
				a {
					background-color: #fff;
					background-repeat: no-repeat;
					background-image: none;
					background-size: 18px;
					background-position: center center;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2335265F' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M16.7 5.3a1 1 0 010 1.4l-8 8a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4L8 12.58l7.3-7.3a1 1 0 011.4 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
					border-color: #c11831;
				}
				&:first-child {
					a {
						border-color: #521E4E;
					}
				}
				&:nth-child(2) {
					a {
						border-color: #833A76;
					}
				}
			}
			&.active {
				label {
					color: #35265F;
					font-weight: 600;
				}
				a {
					background-color: #c11831;
					border-color: #c11831;
				}
			}
		}
	}
}
