.accordion {
  .card {
    border-width: 0px;
    border-top: 2px solid $gray-300;

    &:first-child {
      border-top-color: transparent;
    }
  }
  .card-header {
    background-color: transparent;
    border-width: 0px;
    .btn-link {
      font-weight: 700;
      text-decoration: none;
      padding: 15px 24px 17px 0;
      border-width: 0px;
      border-radius: 0;
      height: auto;
      line-height: 24px;
      color: #35265F;
      background-position: right 12px;
      background-repeat: no-repeat;
      background-size: 20px;
      //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%2335265F' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 12H4'/%3E%3C/svg%3E");
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3.26 10.79c.32.3.82.28 1.12-.05L8 6.65l3.63 4.09c.3.33.79.35 1.12.05.32-.3.35-.81.05-1.14L9.17 5.57a1.48 1.48 0 00-2.33-.01L3.21 9.64c-.3.34-.27.85.05 1.15z' fill='%2335265f'/%3E%3C/svg%3E");
      &.collapsed {
        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%2335265F' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6'/%3E%3C/svg%3E");
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M12.74 5.21a.78.78 0 00-1.12.05L8.01 9.35 4.37 5.27a.78.78 0 00-1.12-.05.82.82 0 00-.05 1.14l3.62 4.08a1.5 1.5 0 002.34 0l3.63-4.09a.82.82 0 00-.05-1.14z' fill='%2335265f'/%3E%3C/svg%3E");
      }

    }
  }
  .card-body {
    padding: 0 28px 28px 0;
    font-size: 14.5px;
    line-height: 1.55;
  }
}



@media screen and (min-width: 640px) {
  .accordion .card-header .btn-link {
    font-weight: 700;
    text-decoration: none;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    border-width: 0px;
    border-radius: 0;
    height: auto;
    font-size: 15.5px;
    line-height: 28px;
    color: #35265F;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px;
  }
}
