
.card-features-1 {
  .card-body {
    padding: 1.5rem;
    .media-img {
        margin: -8px 10px 0px -8px;
    }
  }
}

@media screen and (max-width: 480px) {
  .media {
    text-align: center;
  }
  .card {
    .media {
      .media-img { max-width: 80px; }
    }
  }
}
