

.card {
        .card-header {
                font-size: 1.125rem;
                font-weight: 700;
                color: $mg-stability;
        }
        .card-footer {
            .btn.btn-sm {
                line-height: 30px;
                height: 32px;
                border-radius: 1.375rem;
                padding: 0 20px;
                letter-spacing: 0.01em;
                font-size: 12px;
                font-weight: 500;
                &::before {
                    margin-top: -0.15rem;
                }
            }
        }
}

.card-group {
        h5.card-title {
                font-size: 1.15rem;
                font-weight: 700;
                color: $mg-stability;
                line-height: 2.5;
        }
      }
