

// .modal-container {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   opacity: 0;
//   visibility: hidden;
//   transform: scale(1.1);
//   transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
// }
//
// .modal-content {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: white;
//   padding: 0;
//   width: 740px;
//   min-height: 50vh;
//   border-radius: 0.08rem;
// }
// .modal-content.modal-big {
//   max-width: 800px;
//   width: 100%;
// }
// .modal-content.modal-full {
//   top: 12px;
//   right: 12px;
//   bottom: 12px;
//   left: 12px;
//   transform: none;
//   width: auto;
// }
// .modal-content h3 {
//   margin: 0;
//   padding: 1.375rem 0;
//   font-weight: 700;
//   font-size: 60px;
//   line-height: 1.05;
//   letter-spacing: -0.015em;
//   color: #333332;
// }
// .modal-content .modal-body {
//   padding: 1.5rem 3.5rem;
// }

.close-button {
  float: right;
  margin: 0.45rem;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: lightgray;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23CFFFFE' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 18L18 6M6 6l12 12'/%3E%3C/svg%3E");
  background-size: 24px;
  background-position: center center;
  text-indent: -999px;
  overflow: hidden;
}

.close-button:hover {
  background-color: darkgray;
}

.modal {
  .close-button {
    float: right;
    margin: 0.45rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1.5rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%2335265F' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 18L18 6M6 6l12 12'/%3E%3C/svg%3E");
    background-size: 24px;
    background-position: center center;
    text-indent: -999px;
    overflow: hidden;
  }

  .close-button:hover {
    background-color: darkgray;
  }
}
// .show-modal {
//   opacity: 1;
//   visibility: visible;
//   transform: scale(1);
//   transition: visibility 0s linear 0s, opacity 0.4s 0s, transform 0.4s;
// }




@media screen and (min-width: 760px) {
  .modal-dialog {
      max-width: 730px;
      p {
        margin-bottom: 1.375rem;
      }
  }
}

/* ====== CUSTOM ====== */

.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 237, 242, 0.86);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: visibility 0s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}
// .modal-content {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: white;
//     width: 24rem;
//     border-radius: 0.2rem;
// 	box-shadow: 0 4px 20px -8px rgba(10,10,10,0.1);
// }
// .modal-header {
//
// }
// .close-button {
//     //float: right;
// 	display: inline-block;
// 	margin-left: auto;
// 	font-size:24px;
// 	font-weight: 300;
//     width: 1.8rem;
//     line-height: 1.8rem;
//     text-align: center;
//     cursor: pointer;
//     border-radius: 0.25rem;
//     background-color: lightgray;
// }
// .close-button:hover {
//     background-color: darkgray;
// }
// .modal-content {
//     position: relative;
//     padding: 1.5rem 1.5rem;
// }
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


#modal-preorder .modal-content-form h3,
#modal-preorder h3 {
  color: #fff;
}
#modal-preorder .form-group {
  margin-bottom: 12px;
}
#modal-preorder .form-control {
display: block;
width: 100%;
height: 44px;
}
#modal-preorder .modal-dialog {
max-width: 480px;
width: 100%;
margin: 148px auto 0;
}
#popPreorder .btn-primary:hover,
#btnPreorder:hover {
border-color: #ace9f4;
background: #ace9f4;
color: #35265F;
}
// #modal-preorder
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1.5rem -0.5rem -1.5rem auto !important;
}
