.btn {
  position:relative;
  padding: 0 34px;
  font-size: 15px;
  font-weight: 800;
  line-height: 42px;
  height: 48px;
  border-radius: 2.8rem;
  letter-spacing: 0.01em;
  text-decoration: none;
  // &::before {
  //   display: block;
  //   width: 100%;
  //   height: 0px;
  //   content: '';
  //   margin-top: -0.12rem;
  // }
  &.btn-sm {
    line-height: 31px;
    height: 36px;
    border-radius: 1.375rem;
    padding: 0 26px;
    letter-spacing: 0.01em;
    font-size: 13px;
    font-weight:700;
    // &::before {
    //   margin-top: -0.08rem;
    // }
  }
  &.btn-lg {
    line-height: 50px;
    height: 52px;
    border-radius: 1.375rem;
    padding: 0 20px;
    letter-spacing: 0.01em;
    font-size: 1.5rem;
    font-weight:700;
    &::before {
      margin-top: -0.08rem;
    }
  }
  &.btn-primary {
    background-color: transparent;
    color: $primary;
    //border: 2px solid $mg-harmony;
    border: none;
    position: relative;
    z-index: 1;
    line-height: 48px;
    // z-index: 1;

    &.btn-sm {
      line-height: 38px;
   }
   &::before {
    content: '';
    background: -moz-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
    background: linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 25px;
    width: 100%;
    height:100%;
    margin: 0;
    &:hover {
      background: none;
      border-color: $mg-autonomy-light;
    }
  }
  &::after {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    z-index: -1;
    border-radius: 25px;
    &:hover {
      background: none;
      border-color: $mg-autonomy-light;
    }
  		// width: 100%;
  		// height:100%;
    }
    &:hover {
      color: #fff;
      &::before {
        background: $mg-autonomy-light;
      }
      &::after {
        background: none;
      }
    }
  }
  &.btn-secondary {
    background-color: $mg-stability;
    color: $white;
    border: 2px solid $mg-stability;
    &:hover {
      background-color: $mg-stability-light;
      border-color: $mg-stability-light;
      color: $white;
      box-shadow: 0px 3px 3px rgba(5,5,5,0.28);
    }
    &:active, &:focus, &.focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-color: #35265F;
      border-color: #35265F;
      outline: none;
    }
  }
  &.btn-ghost {
    background-color: $mg-calm;
    color: $mg-stability;
    border: 2px solid $mg-calm;
    &.btn-sm {
      &::before {
        margin-top: -0.2rem;
      }
    }
    &:hover {
      background-color: #DDF1F5;
      border-color: #DDF1F5;
      color: $mg-stability;
    }
  }
  &.btn-underline {
    color: $primary;
    padding-left: 0;
    padding-right: 0;
    &::before {
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: .8rem;
      content: '';
      background: $mg-calm;
    }
  }
}

.btn.btn-primary::before:hover,
.btn.btn-primary::after:hover,
.btn.btn-primary:hover::after,
.btn.btn-primary:hover::before {
  background-color: $mg-autonomy-light;
  background-color: $mg-autonomy-light;
  border-color: $mg-autonomy-light;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.input-group {
  width: 124px;
  .input-group-prepend {
    .btn {
      border-radius: 0;
      font-size: 18px;
      line-height: 40px;
      padding: 0;
      height: 40px;
      width: 40px;
      text-align: center;
      font-weight: 400;
    }
  }
  .form-control {
    border-bottom-color: transparent;
    border: none;
    text-align: center;
  }
}

.btn-icon {
  display: inline-block;
  text-decoration: none;
  height: 16px;
  width: 16px;
  border: none;
  overflow: hidden;
  text-indent: -999px;
  margin: 0;
  padding: 0;
  line-height: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}
