


.navbar .navbar-brand {
  width: 140px;
  height: 50px;
  background-size: auto 32px;
}

@media screen and (min-width: 990px) {
  .navbar .navbar-brand {
    width: 120px;
    height: 60px;
    margin-right: 28px;
    background-size: 100%;
  }
}



#top-banner {
    height:38px;
    background-color: #35265F;
    letter-spacing: 0.01em;
  }
  #top-banner {
  	background: -moz-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  	background: -webkit-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  	background: linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  }
  #top-banner p {
    padding:0;
    margin:0;
    color: #fff;
    line-height: 40px;
    font-size: 15px;
  }
  #top-banner strong {
    font-weight: 700;
  }

  @media screen and (min-width:768px) and (max-width:992px) {
    #top-banner {
      height: 36px;
    }
    #top-banner .container {
      padding: 0;
    }
    #top-banner p {
      padding: 0;
      margin: 0;
      color: #fff;
      line-height: 32px;
      font-size: 14px;
    }
    .banner-phone-number {
      font-size: 14px;
      margin-left: 8px !important;
    }
    .navbar .nav li,
    .navbar .nav li:first-child {
      margin: 8px 0 0px;
    }
    .navbar .nav li a {
      line-height: 40px;
    }
    .navbar .nav li a .dropdown-menu {
      line-height: 28px;
    }
    .navbar .nav .mega-menu-alt {
      min-width: 764px;
      padding: 8px 4px;
      left: -152px;
    }
    .navbar .nav.navbar-right li {
      display:none;
    }
    .navbar .nav.navbar-right .navlink-quiz {
      display:block;
      margin: 4px 0 0;
    }
    .navbar .navbar-brand {
      height: 64px;
      margin-left: 15px;
      margin-right: 24px;
      width: 128px;
    }
  }


  .panel-cta-home .panel-body,
  .panel-cta-mobile .panel-body {
    padding-top: 24px;
  }
  .panel-cta-home .prod-thumb-group,
  .panel-cta-mobile .prod-thumb-group {
    display:none;
  }





  @media only screen and (max-width:640px) {

    .navbar-default .navbar-toggle {
      left: auto;
      right: 0;
    }

    .navbar .navbar-brand {
      display: inline-block;
      left: 0;
      margin: 0 0 0 12px;
    }

    .mobile-header-call {
      display: none !important;
    }

    .navbar .nav .mega-menu-alt .nav-justified > li {
      padding: 2px 0;
      margin: 0px;
      display: inline-block;
      min-width: 96px;
      min-width: 33.33336%;
      width: 49%;
      float: none;
      position: relative;
    }
    .navbar .nav .mega-menu-alt li a {
      display: block;
      white-space: nowrap;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;
      color: #111;
      border-left: none;
      padding-left: 0;
      padding-right: 0;
      height: auto;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
      max-height: 424px;
      background: #fff;
    }


    ::before, ::after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }


  }

  @media only screen and (min-width:760px) {

    .navbar .navbar-right {
      margin-top: 10px;
    }
    .navbar .navbar-right li {
      margin-left: 10px;
    }
    .navbar .navbar-right li:first-child {
      margin-left: 0px;
    }
    .navbar .navbar-right li:last-child {
      margin-left: 12px;
    }
    .navbar .navbar-right .header-login {
      color: #222;
      font-weight: 500;
      font-size: 11px;
      line-height: 20px;
    }

    .navbar .nav li a:hover {
      color: #A6345E;
    }

    .banner-phone-number {
      font-size: 16px;
    }
    .click-to-call {
      text-decoration: none;
    }

  }


  .navbar .nav li .btn,
  .navbar .nav li .btn span {
    text-transform: capitalize;
  }


  .banner-phone-number a {
    text-decoration: none;
  }

  @media only screen and (min-width:990px) {
    #top-banner {
      height: 55px;
    }
    #top-banner p {
      padding: 0;
      margin: 0;
      color: #fff;
      line-height: 52px;
      font-size: 16px;
      font-weight: 500 !important;
    }
    #top-banner p span {
      font-weight: 500 !important;
    }
    #top-banner p strong {
      font-weight: 700 !important;
    }
  }

  .navbar-nav {
    .nav-link {
      .nav-txt {
        display: inline-block;
        position: relative;
        color: #35265F;
        line-height: 1;
        padding: 0 0 2px;
        margin-top: -2px;
        font-weight: 500;

        &::after {
          background: #fff;
          display: block;
          width: 100%;
          position: absolute;
          left: 0px;
          bottom: -3px;
          height: 3px;
          content: '';
          border-radius: 1px;
          transition: all linear .2s;
        }
      }
      &:hover {
        .nav-txt::after {
          background: #CFFFFE;
        }
      }
    }
    .active {
      .nav-link {
        .nav-txt::after {
          background: #CFFFFE;
        }
      }
    }
  }


.nav-item > .dropdown-menu {
  padding: 0 0 0.75rem;
  margin-top: 0.7rem;
  left: -1rem;
  min-width: 11rem;
}
.dropdown-menu > .nav-item > .nav-link {
    color: lighten($grey-darker,2%);
    padding-left: 1.375rem;
    &:hover {
      color: $mg-stability;
    }
}


  .navbar-default .navbar-toggle {
    left: auto;
    right: -4px;
  }

  .btn-p-quiz {
    position: absolute;
    right: 50px;
    top: 4px;
    z-index:20;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.15em;
    border-top-color: #32295C;
  }

  @media only screen and (min-width:640px) {
    .dropdown-toggle::after {
      display: inline-block;
      margin-left: 0.15em;
      border-top: 0.35em solid #32295C;
    }
  }

  @media only screen and (max-width:640px) {

    .navbar-header .view-options,
    .navbar-header .take-quiz {
      position: absolute;
      right: 72px;
      top: 12px;
      font-size:13px;
    }
    .navbar-header .btn.btn-primary { border:2px solid #35265F; }

    .navbar-header .btn.btn-primary {
      max-width:130px;
      width:132px;
      height: 36px;
      padding-left:0;
      padding-right:0;
    }
    .navbar-header .btn.btn-primary-outline {
      height: 36px;
    }
    .navbar-header .btn.btn-primary-outline span {
      font-size: 14px;
      padding: 0px;
      height: 32px;
    }
    .navbar-header .btn.btn-primary-outline span {
      max-width:128px;
      width:auto;
      padding-left:4px;
      padding-right:4px;
    }

    .navbar-header .btn.btn-primary {
      max-width:130px;
      width:132px;
      height: 36px;
      padding-left:0;
      padding-right:0;
    }
    .navbar-header .btn.btn-primary-outline {
      height: 36px;
    }
    .navbar-header .btn.btn-primary-outline span {
      font-size: 14px;
      padding: 0px;
      height: 32px;
    }
    .navbar-header .btn.btn-primary-outline span {
      max-width:128px;
      width:auto;
      padding-left:4px;
      padding-right:4px;
    }

  }

  .pt-0 {
    padding-top:0;
  }
  .pb-2 {
    padding-bottom:24px;
  }
  .pb-3 {
    padding-bottom:36px;
  }

  @media only screen and (max-width:640px) {
    .navbar .nav li .btn.btn-primary-outline {
      height: 40px;
    }
    .navbar .nav li .btn.btn-primary-outline span {
      font-size: 14px;
      height: 36px;
      padding: 0;
    }
  }

  .navbar-header .btn.btn-primary.btn-sm,
  .navbar-nav .btn.btn-sm {
    max-width:130px;
    width:132px;
    height: 36px;
    padding-left:0;
    padding-right:0;
    line-height: 34px;
  }
  .navbar-nav .btn.btn-primary.btn-sm,
  .navbar-nav .btn.btn-primary {
    color: $mg-autonomy;
    &:hover {
      color: #fff;
    }
  }
  .navbar-header .btn.btn-primary-outline.btn-sm {
    height: 36px;
  }
  .navbar-header .btn.btn-primary-outline.btn-sm span {
    font-size: 14px;
    padding: 0px;
    height: 32px;
    line-height: 30px;
  }
  .navbar-header .btn.btn-primary-outline.btn-sm span {
    max-width:128px;
    width:auto;
    padding-left:4px;
    padding-right:4px;
  }

@media screen and (max-width: 760px) {
  .navbar-collapse {
    padding: 1rem;
  }
  .mega-menu-alt .nav .nav-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar .navbar-nav .mega-menu-alt {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 0px;
}

@media screen and (min-width: 990px) {
  .navbar-light .mega-menu-alt,
  .navbar .navbar-nav .mega-menu-alt {
    position: fixed;
    top: 120px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    background-color: rgba(207, 255, 254, 0.94);
    overflow:hidden;

    .nav-item {
      .nav-link {
        border-bottom: 3px solid transparent;
        font-size: 12.5px;
        line-height: 1.375;
        font-weight: 500;
        padding: 0.375rem;
        color: #434343 !important;
        &:hover {
          border-bottom: 3px solid #CFFFFE;
        }
        img {
          margin: 0px auto 2px;
        }
        p {
          margin: 0px 0 0;
          padding: 4px 0 0;
          font-weight: 600;
          font-size: 15.5px;
          line-height: 1.375;
          color: #35265F !important;
        }
      }
    }

    .menu-container {
      float: none;
      // position: fixed !important;
      max-width: 800px;
      width: 100%;
      background: #fff;
      padding: 0 0.5rem 0.5rem;
      // left: 50% !important;
      // transform: translateX(-50%) !important;
    }
  }
}

.menu-risk-cta {
  position: relative;
  .menu-risk-img {
    img {
      margin: 0 auto;
      max-width: 200px;
      width: 100%;
    }
  }
  .menu-risk-content {
    font-size: 15px;
  }
  .btn.btn-sm {
    height: 36px;
    padding-left:0;
    padding-right:0;
    line-height: 34px;
    font-size: 14px;
  }
}

.mega-menu-alt {
  .menu-left {
    border-right: 1px solid #eee;
  }
}
@media screen and (max-width: 760px) {
  .navbar .btn.btn-primary.btn-p-quiz {
    line-height: 36px;
    margin-top: 3px;
  }

  .mega-menu-alt {
    .menu-left {
      border-bottom: 1px solid #eee;
      border-right: none;
      padding-bottom:15px;
      margin-bottom: 8px;
    }
  }
  .menu-risk-cta {
    display: table;
    margin: 12px auto 8px;
    max-width: 340px;
    .menu-risk-img {
      display: table-cell;
      vertical-align: middle;
    }
    .menu-risk-content {
      display: table-cell;
      vertical-align: middle;
      p {
        padding: 0 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.navbar-nav .dropdown-menu.mega-menu-alt {
  .nav-item {
    .nav-link {
      border-bottom: 3px solid transparent;
      font-size: 12.5px;
      line-height: 1.5;
      font-weight: 500;
      padding: 0.375rem;
      color: I #434343 !important;
      &:hover {
        border-bottom: 3px solid #CFFFFE;
      }
      img {
        margin: 2px auto 4px;
      }
      p {
        margin: 0px 0 0;
        padding: 4px 0 0;
        font-weight: 600;
        font-size: 15.5px;
        line-height: 1.375;
        color: #35265F !important;
      }
    }
  }
}
.nav-link {
  &.header-link {
    font-size: 11px;
  }
  &.btn.header-link {
    font-size: 11px;
    color: $grey-darker;
  }
  &.btn.btn-link {
    font-weight: 500;
    font-size: 12px;
  }
  &.btn.btn-link.header-link {
    font-weight: 500;
    font-size: 11px;
  }
}


@media only screen and (min-width:760px) {
  .navbar-nav .dropdown-menu.mega-menu-alt {
    .nav-item {
      border-right: 1px solid #efefef;
      &:nth-child(3n+3) {
        border-right-color: transparent;
      }
      .nav-link {
        padding: 6px 0 10px;
      }
    }
  }
}

@media only screen and (min-width:990px) {
  #topnav > .main-nav > li {
    margin-left: 14px;
    &:first-child {
      margin-left: 0;
    }
  }
}

  .icon-phone::before {
      content: '';
      display: inline-block;
      height: 18px;
      width: 18px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M5.77 2a1 1 0 01.66.35A83.65 83.65 0 0110.07 6c.33.35.3.75-.1 1.19l-1 1.07c-1.34 1.42-2 2.13-1.33 3.44a22 22 0 008.53 8.61l.45.24h.51c.84 0 1-.17 2.79-1.85l.76-.71a1.24 1.24 0 01.68-.39.89.89 0 01.48.27 66.25 66.25 0 013.77 3.73c.42.46.42.72 0 1.16l-.1.1a14.92 14.92 0 01-3.39 3 2.65 2.65 0 01-.62.1c-.41-.05-1.86-.36-2.16-.44a25.74 25.74 0 01-12.6-8.84 24.15 24.15 0 01-4.62-9.02 4.16 4.16 0 010-1.82A17.14 17.14 0 015.18 2.3a.94.94 0 01.59-.3m0-2a2.83 2.83 0 00-1.94.82S.88 3.46.17 5.23a6.05 6.05 0 000 2.9A26 26 0 005.26 18a27.62 27.62 0 0013.57 9.49 22.65 22.65 0 002.7.53 4.59 4.59 0 001.35-.22c1.53-.63 4-3.37 4.25-3.61a2.64 2.64 0 000-3.91 66.9 66.9 0 00-3.88-3.84 2.73 2.73 0 00-1.83-.79 3 3 0 00-2.05.93c-.75.7-2.12 2-2.18 2a20.07 20.07 0 01-7.79-7.84s1.49-1.6 2.05-2.23a2.76 2.76 0 00.06-3.9A129.78 129.78 0 007.81.9a3 3 0 00-2-.9z' fill='%23CFFFFE' data-name='phone'/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      top: 4px;
      position: relative;
  }
