
// Overide Bootstrap defaults

$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: $grey-lightest;
$gray-300: $grey-lighter;
$gray-400: $grey-light;
$gray-500: $grey-medium;
$gray-600: $grey-dark;
$gray-700: $grey-darker;
$gray-800: $grey-darkest;
$gray-900: #212529;
$black: #111111;

$primary:       $mg-stability;
$secondary:     $mg-compassion;


//$blue:    #007bff;
$blue:    $primary;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);


$success:       $green;
$info:          $cyan;
$warning:       #FFC26B;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);




/*$grey-darkest*/
$primary-color: $mg-stability;
/*$grey-darker*/
$secondary-color: $mg-compassion;
/*$grey-dark*/
$muted-color: $gray-400;

$line-height-base:            1.65;







/* ------------------------------------- */

$font-family-sans-serif: "Poppins", "Helvetica Neue", Arial, sans-serif;


$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: $grey-lightest;
$gray-300: $grey-lighter;
$gray-400: $grey-light;
$gray-500: $grey-medium;
$gray-600: $grey-dark;
$gray-700: $grey-darker;
$gray-800: $grey-darkest;
$gray-900: #212529;
$black: #111111;


$gray-500: #C5C5C7;
$gray-400: #E0E0E2;
$gray-300: #EFEFEF;
$gray-600: #969595;
$gray-700: #58595B;
$gray-800: #333332;


//$blue:    $mg-stability-lighter;
$indigo:  $mg-stability;
$purple:  $mg-harmony;
$pink:    $mg-compassion-light;
//$red:     #DE1F2F;
$orange:  $mg-confidence;
$yellow:  #F39B1F;
$teal:    #20c997;
$cyan:    $mg-calm;
$green: #8AB98E;

//$primary:       $mg-stability;
//$secondary:     $mg-stability;
$success:       $green;
//$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

//$blue: #608EB6;
$info: #608EB6;
$red: #D56261;

//$input-btn-font-size: 16px;
$yellow: #FADA67;

$body-bg:                   $white;
$body-color:                $grey-darker;

$link-color:                              $mg-autonomy;
$link-decoration:                         underline;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$component-active-bg: $primary;

//  ---------------------------------------------------














$secondary: $gray-400;
$theme-color-interval: 7%;


$spacer: 1.375rem;



/* --------------------------------------------- */





$jumbotron-padding: 3rem;
$jumbotron-color: $white;
$jumbotron-bg: $mg-stability;


/* ------------------------------------------------- */

$enable-negative-margins: true;
$enable-gradients: false;
$enable-shadows: false;
$enable-print-styles: false;
$enable-grid-classes: true;

/*$grey-darkest*/
$primary-color: $mg-stability;
/*$grey-darker*/
$secondary-color: $mg-compassion;
/*$grey-dark*/
$muted-color: $gray-200;

$lead-font-size:              18px;
$lead-font-weight:            400;


$small-font-size:             80%;


$h1-font-size: 3.05rem;  /*48px*/
$h2-font-size: 2.5rem;  /*40px*/
$h3-font-size: 2rem;    /*32px*/
$h4-font-size: 1.75rem;  /*28px*/
$h5-font-size: 1.5rem;  /*20px*/
$h6-font-size: 1.25rem;  /*16px*/


$display1-size:               3.5rem;
$display2-size:               2.5rem;
$display3-size:               1.65rem;
$display4-size:               1.1rem;

$headings-font-weight:        700;
$headings-line-height:        1.16;
$headings-color: $primary;


$table-th-font-weight:        500;
$table-cell-padding: .95rem;
$table-head-color: $gray-600;
$table-head-bg: $gray-300;


$btn-padding-y: 1rem;
$btn-padding-x: 1.25rem;
$btn-border-radius: 1.75rem;
$btn-border-radius-lg: 3rem;
$btn-border-radius-sm: 2.5rem;
$btn-font-size-lg: 1.2rem;
$btn-box-shadow: none;
$btn-focus-width: 0rem;
$btn-font-weight: 700;

$input-btn-padding-y:         0rem;
$input-btn-padding-x:         1.25rem;
$input-btn-padding-y-sm: 0.4rem;
$input-btn-padding-x-sm: 1.1rem;
$input-btn-padding-y-lg: .8rem;
$input-btn-padding-x-lg: 2rem;
$input-btn-font-family:       null;
$input-btn-font-size:         1rem;
$input-btn-line-height:       1;
$input-btn-focus-width:       0rem;


$input-bg:                              $white;
$input-disabled-bg:                     $gray-100;

$input-color:                           $gray-900;
$input-border-color:                    $white;
$input-border-width:                    0;
$input-box-shadow:                      none;

$input-padding-y-lg: 0.8rem;
$input-padding-x-lg: 1.5rem;
$input-padding-x-sm: .9rem;
$input-padding-y-sm: .5rem;

$input-focus-border-color:              $gray-700;
$input-focus-color:                     $input-color;
$input-focus-width:                     0;
$input-focus-box-shadow:                none;

$input-placeholder-color:               $gray-700;
$input-plaintext-color:                 $body-color;

$form-group-margin-bottom:              2rem;

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius-lg;
$input-border-radius-sm:                $border-radius-sm;

$input-height:                          2.875rem;
$input-height-sm:                       1.5rem;
$input-height-lg:                       3rem;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1140px
);

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);




// Customize some defaults
// $body-color: $gray-500;
// $body-bg: $gray-100;
// $border-radius: .1rem;

// $font-size-base: 1rem;


// $input-border-radius:                   0.125em;
// $input-border-radius-lg:                $input-border-radius;
// $input-border-radius-sm:                $input-border-radius;

$progress-box-shadow: 0rem;
$progress-bar-bg: $primary;
$progress-border-radius: 1.5rem;
$progress-height: .6rem;


$breadcrumb-font-size: .875rem;
$breadcrumb-item-padding: .75rem;
$breadcrumb-margin-bottom: 1.5rem;
$breadcrumb-bg: $gray-100;
$breadcrumb-divider-color: $gray-400;
$breadcrumb-active-color: $gray-500;



$navbar-padding-y: $spacer;


$nav-tabs-border-width: 2px;
$nav-tabs-link-active-border-color: transparent transparent $primary;

$badge-font-size:                   11.5px !default;
$badge-font-weight:                 600;
$badge-padding-y:                   .3em !default;
$badge-padding-x:                   .725em !default;
$badge-border-radius:               2px;

$modal-backdrop-bg:                 $mg-calm;
$modal-backdrop-opacity:            .96;
$modal-content-color:               $white;

$modal-inner-padding: 1.5rem;
$modal-header-padding-x: 1.5rem;
$modal-scale-transform: scale(1.1);


$custom-control-cursor: pointer;
$custom-checkbox-indicator-border-radius: .2em;

$custom-switch-width: 3.8rem;
$custom-switch-indicator-size: 20px;
$custom-switch-indicator-border-radius: 50%;
$custom-control-indicator-active-bg: $white;


$card-spacer-y:                     1.375rem;
$card-spacer-x:                     1.75rem;


$caret-width: .35em;
$caret-vertical-align: $caret-width * .45;
$caret-spacing: $caret-width * 1.375;


$transition-base: all .4s ease-in-out;
$transition-fade: opacity .2s linear;
$transition-collapse: height .4s ease;
