@mixin aspect-ratio($width, $height) {
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: ($height / $width) * 100%;
  }
  &::after {
        content: "";
        display: table;
        clear: both;
      }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    > img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}
