
/*      BRAND COLOR PALETTE
/* ============================== */
$grey-lightest: #FAFAFA !default;
$grey-lighter: #EFEFEF !default;
$grey-light: #E0E0E2 !default;
$grey-medium: #C5C5C7 !default;
$grey-dark: #969595 !default;
$grey-darker: #58595B !default;
$grey-darkest: #333332 !default;

// background lavendary grey
$grey-lavendar: #F9F9F9 !default;


/*red*/
$mg-guardian-darkest: #38080C !default;
$mg-guardian-darker: #6F1018 !default;
$mg-guardian-dark: #A71723 !default;
$mg-guardian-lightest: #F8D2D5 !default;
$mg-guardian-lighter: #F2A5AC !default;
$mg-guardian-light: #EB7982 !default;
$mg-guardian: #DE1F2F !default;

/*yellow*/
$mg-confidence-ada: #9A6213 !default;
$mg-confidence-darkest: #3D2708 !default;
$mg-confidence-darker: #7A4E10 !default;
$mg-confidence-dark: #B67417 !default;
$mg-confidence-lightest: #FAD7A5 !default;
$mg-confidence-lighter: #F8C379 !default;
$mg-confidence-light: #F5AF4C !default;
$mg-confidence: #F39B1F !default;

/*green*/
$alert-success-color: #3E884F !default;
$alert-success-2: #215E51 !default;

/*berry*/
$mg-compassion-darkest: #3D0E1A !default;
$mg-compassion-darker: #791C35 !default;
$mg-compassion-lightest: #FAAFC3 !default;
$mg-compassion-lighter: #F788A5 !default;
$mg-compassion-light: #F56087 !default;
$mg-compassion: #F23869 !default;
$mg-compassion-dark: #B52A4F !default;

/*robins egg*/
$mg-calm-dark: #B6CED3 !default;
$mg-calm-darkest: #6B7779 !default;
$mg-calm-darker: #A0B2B5 !default;
$mg-calm-lightest: #EEF8FA !default;
$mg-calm-lighter: #E6F4F7 !default;
$mg-calm-light: #DDF1F5 !default;
$mg-calm: #D5EDF2 !default;

/*dark blue*/
$mg-stability-darkest: #0D0A18 !default;
$mg-stability-darker: #1B1330 !default;
$mg-stability-dark: #281C47 !default;
$mg-stability-pale: #5C507C !default;
$mg-stability-lightest: #D7D4DF !default;
$mg-stability-lighter: #AEA8BF !default;
$mg-stability-light: #867D9F !default;
$mg-stability: #35265F !default;

/*dark berry*/
$mg-harmony-darkest: #2A0D18 !default;
$mg-harmony-darker: #541A30 !default;
$mg-harmony-dark: #7D2747 !default;
$mg-harmony-lightest: #DCAEBF !default;
$mg-harmony-lighter: #CA859F !default;
$mg-harmony-light: #B95D7F !default;
$mg-harmony: #A7345F !default;

/*dark purple*/
$mg-autonomy-lightest: #DCD2DC !default;
$mg-autonomy-lighter: #BAA5B8 !default;
$mg-autonomy-light: #754B71 !default;
$mg-autonomy: #521E4E !default;

/*background colors*/
$mg-tranquil-cloud: #EEEFF1 !default;

/* -- robins egg-- */
$mg-bright: #66D2F2 !default;

$mg-iris-light: #675B8D;
$mg-iris: #35285E;
