@import "../abstracts/mg.mixins.scss";
@import "../abstracts/mg.colors.scss";

@import "../abstracts/mixins"; // Required
@import "../abstracts/functions"; // Required
@import "../abstracts/mg.variables"; // Required: 
@import "../abstracts/variables"; // Required


div { 
  /*outline: red solid 1px; */
}

#sticky {
  z-index: 9;
  
}
.inner-wrapper-sticky {
  background-color: #35265F;
}

.logo {
  width: 146px;
  height: 35px;
  display: inline-block;
  /*    text-indent: -2000px;*/

  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 48'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='12.5' y1='39.5' x2='10.4' y2='-.5'%3E%3Cstop offset='0' style='stop-color:%23823975'/%3E%3Cstop offset='.2' style='stop-color:%2389376F'/%3E%3Cstop offset='.4' style='stop-color:%239D315D'/%3E%3Cstop offset='.7' style='stop-color:%23BD2741'/%3E%3Cstop offset='.9' style='stop-color:%23D81F29'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M22.7 31c-9.5-12.6-9-31-9-31H0c-1 19 6.4 32 13 39.5 4-2 7.2-5 9.7-8.4z'/%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='13.5' y1='7.4' x2='45.4' y2='7.4'%3E%3Cstop offset='0' style='stop-color:%23D62C3A'/%3E%3Cstop offset='.6' style='stop-color:%23DD2A35'/%3E%3Cstop offset='1' style='stop-color:%23E7282D'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M45.3 0H13.4s0 6.6 1.8 14.8h29c1-4.4 1.3-9.3 1-14.7z'/%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='25.6' y1='48.4' x2='30.6' y2='12.6'%3E%3Cstop offset='0' style='stop-color:%23823975'/%3E%3Cstop offset='.2' style='stop-color:%237B3773'/%3E%3Cstop offset='.5' style='stop-color:%2367326E'/%3E%3Cstop offset='.8' style='stop-color:%23472A65'/%3E%3Cstop offset='1' style='stop-color:%232C235E'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23c)' d='M30 14.5c-2.2 9-7 19.6-17.2 24.8 0 0 4.2 5 9.8 8.6 0 0 17.3-10.3 21.7-33.6H30z'/%3E%3Cg fill='%23231F20'%3E%3Cpath d='M66.2 20.8h.5s.4 0 .5-.3l5-9.4 1.3 9c0 .2.3.5.6.5h3.5c.3 0 .6-.3.6-.6L74.8.4c0-.3-.3-.5-.5-.5h-.5s-.4 0-.5.3l-6.7 12.5L59.6.3c0-.2-.3-.3-.4-.3h-.5c-.2 0-.5.2-.5.5L55 20c0 .3.2.5.6.5H59c.3 0 .5-.2.6-.5l1.3-9 5 9.5c-.2.2 0 .3.2.3zM96.2 20v-3.2c0-.3-.2-.5-.6-.5h-8v-4h6.6c.3 0 .6 0 .6-.4V8.6c0-.3-.3-.5-.6-.5h-6.6V4.5h8c.3 0 .6-.3.6-.5V.8c0-.3-.2-.5-.6-.5h-12c-.3 0-.6.3-.6.5V20c0 .3.2.5.6.5h12c.4 0 .6-.2.6-.5zM102 20.5h7.2c5.6 0 10.2-4.5 10.2-10.2 0-5.6-4.6-10-10.2-10h-7c-.4 0-.6.2-.6.4V20c0 .3.2.5.5.5zm4-16h3c3.2 0 5.5 2.6 5.5 5.8 0 3.3-2.4 6-5.6 6h-3V4.4zM129 20V.8c0-.3-.4-.5-.7-.5h-3.5c-.3 0-.6.3-.6.5V20c0 .3.3.5.6.5h3.5c.3 0 .6-.2.6-.5zM144.3 20.8c2.6 0 5-1 7-2.8.2-.2.2-.6 0-.8l-2.3-2.4c-.2-.2-.6-.2-.8 0-1 1-2.5 1.4-4 1.4-3.2 0-5.6-2.7-5.6-6 0-3 2.4-6 5.7-6 1.4 0 2.8.6 4 1.6 0 .2.4.2.6 0l2.2-2.3c.2-.2.2-.6 0-.8-2-1.8-4-2.7-7-2.7-5.8 0-10.5 4.7-10.5 10.4 0 5.8 4.8 10.4 10.6 10.4zM167.3 17.5l1 2.3c.3.5.5.7 1 .7h3.2c.4 0 .7-.4.5-.8L164 .3c0-.2-.3-.3-.5-.3h-.3c-.2 0-.4 0-.5.3l-9 19.5c-.3.4 0 .8.4.8h3.3c.6 0 1-.3 1-.7l1-2.4h8zm-4-8.7l2.2 4.8H161l2.3-4.8zM177.4 20.5h11c.2 0 .5-.3.5-.5v-3.2c0-.3-.3-.5-.7-.5h-7V.8c0-.3-.2-.5-.5-.5h-3.4c-.3 0-.6.3-.6.5V20c0 .3.3.5.6.5zM58.8 37.3H53c-.3 0-.6.2-.6.5v3c0 .2.2.4.6.4h1.8V43c-1 .2-1.7.4-2.6.4-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.5-5.8 5.7-5.8 1.4 0 2.7.4 3.8 1.4.2.2.6.2.8 0l2.3-2.4c.3-.2.3-.6 0-.8-2-1.7-4.6-2.7-7-2.7-6 0-10.5 4.6-10.5 10.4C41.5 43.5 46 48 52 48c4 0 7-1.8 7-1.8.2 0 .3-.3.3-.5V38c0-.4-.2-.7-.5-.7zM80.4 27.5h-3.6c-.3 0-.6.3-.6.5v11.7c0 2-1.5 3.6-3.6 3.6-2 0-3.6-1.6-3.6-3.6V28c0-.3-.2-.5-.6-.5H65c-.3 0-.6.3-.6.5v12c0 4.4 3.7 8 8.2 8 4.6 0 8.3-3.6 8.3-8V28c0-.3-.3-.5-.6-.5zM94.5 27.5c0-.2-.3-.3-.5-.3h-.3c-.2 0-.4 0-.5.3l-9 19.5c-.3.4 0 .8.4.8h3.2c.6 0 1-.3 1-.7l1-2.2h8l1 2.3c.2.7.4.8 1 .8h3c.5 0 .8-.4.6-.8l-9-19.5zm-3 13.3L94 36l2.2 4.8h-4.4zM123 33.7c0-3.4-3-6.3-6.4-6.3H108c-.4 0-.7.3-.7.5v19c0 .4.2.6.6.6h3.3c.3 0 .6-.3.6-.5v-7.3h2l3.8 7.7s.2.3.5.3h4c.4 0 .6-.5.4-.8l-4-7.5c2.4-1 4.2-3 4.2-5.8zM116 36H112v-4.4h4.2c1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.3-2.2 2.3zM135.8 27.5h-7c-.4 0-.6.3-.6.5v19.2c0 .3.2.5.5.5h7c5.7 0 10.3-4.5 10.3-10.2 0-5.5-4.6-10-10.2-10zm-.3 16h-2.8V31.6h2.8c3.3 0 5.6 2.6 5.6 5.8.2 3.4-2.2 6-5.5 6zM155 27.5h-3.5c-.3 0-.6.3-.6.5v19.2c0 .3.2.5.5.5h3.5c.3 0 .6-.3.6-.5V28c0-.3-.3-.5-.6-.5zM169.7 27.5c0-.2-.3-.3-.5-.3h-.3c-.3 0-.5 0-.6.3l-9 19.5c-.2.4 0 .8.5.8h3c.7 0 1-.3 1-.7l1-2.2h8l1 2.3c.3.7.5.8 1 .8h3.2c.4 0 .7-.4.5-.8l-9-19.5zM167 40.8l2-4.8 2.2 4.8H167zM199.4 27.5H196c-.3 0-.6.3-.6.5v10.3l-11.6-11h-.7c-.2 0-.5 0-.5.4v19.5c0 .3.3.5.6.5h3.5c.3 0 .6-.3.6-.5V36.4L198.6 48h.8c.3 0 .6-.2.6-.5V28c0-.3-.3-.5-.6-.5z'/%3E%3C/g%3E%3C/svg%3E");

}


.offscreen-text {
  position: absolute!important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
  clip-path: polygon(0 0,0 0,0 0,0 0);
}

.copyright {
  margin-top: 200px;
  display: block;
}
.social-group {
  margin-bottom: 30px;

}
/*social icons*/

.social::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 4px;  
}

.social.fb::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21.4px' height='21.4px' viewBox='0 0 21.4 21.4' style='enable-background:new 0 0 21.4 21.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2335265F;%7D%0A%3C/style%3E%3Cpath id='Path_3663' class='st0' d='M21.4,2.3v16.8c0,1.3-1,2.3-2.3,2.3h-6.6v-7.3h2.8l0.5-3.4h-3.3V8.5c-0.1-0.9,0.6-1.8,1.6-1.9 c0.1,0,0.3,0,0.4,0H16V3.7c-0.9-0.1-1.8-0.2-2.7-0.2c-2.7,0-4.5,1.6-4.5,4.6v2.6h-3v3.4h3v7.3H2.3c-1.3,0-2.3-1-2.3-2.3V2.3 C0,1,1,0,2.3,0h16.8C20.4,0,21.4,1,21.4,2.3z'/%3E%3C/svg%3E%0A");
}
.social.twitter::before {
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24.5px' height='19.9px' viewBox='0 0 24.5 19.9' style='enable-background:new 0 0 24.5 19.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2335265F;%7D%0A%3C/style%3E%3Cpath id='Path_3661' class='st0' d='M22,5.6c0,7.9-6.4,14.3-14.3,14.3c-2.7,0-5.4-0.8-7.7-2.3c0.4,0,0.8,0.1,1.2,0.1 c2.3,0,4.5-0.8,6.2-2.1c-2.1,0-4-1.4-4.7-3.5c0.3,0.1,0.6,0.1,0.9,0.1c0.4,0,0.9-0.1,1.3-0.2c-2.3-0.5-4-2.5-4-4.9V7 c0.7,0.4,1.5,0.6,2.3,0.6C1.1,6.2,0.4,3.2,1.7,0.9C4.3,4.1,8,6,12.1,6.2C12,5.8,11.9,5.4,11.9,5c0-2.8,2.3-5,5-5 c1.4,0,2.7,0.6,3.7,1.6c1.1-0.2,2.2-0.6,3.2-1.2c-0.4,1.2-1.2,2.1-2.2,2.8c1-0.1,2-0.4,2.9-0.8C23.8,3.4,23,4.2,22,5 C22,5.2,22,5.4,22,5.6z'/%3E%3C/svg%3E%0A");
}
.social.insta::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21.4px' height='21.4px' viewBox='0 0 21.4 21.4' style='enable-background:new 0 0 21.4 21.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2335265F;%7D%0A%3C/style%3E%3Cpath id='Path_3662' class='st0' d='M21.4,15.1c0.2,3.3-2.4,6.1-5.6,6.2c-0.2,0-0.4,0-0.6,0c-1.8,0.1-7.1,0.1-8.8,0 C3,21.5,0.2,19,0.1,15.7c0-0.2,0-0.4,0-0.6C0,13.4,0,8.1,0.1,6.3C-0.1,3,2.4,0.2,5.7,0.1c0.2,0,0.4,0,0.6,0c1.8-0.1,7.1-0.1,8.8,0 c3.3-0.2,6.1,2.4,6.2,5.6c0,0.2,0,0.4,0,0.6C21.5,8.1,21.5,13.4,21.4,15.1z M19.5,10.7c0-1.6,0.1-4.9-0.4-6.3c-0.4-0.9-1.1-1.7-2-2 c-1.4-0.6-4.8-0.4-6.3-0.4S5.8,1.8,4.4,2.4c-0.9,0.4-1.7,1.1-2,2c-0.6,1.4-0.4,4.8-0.4,6.3S1.8,15.6,2.4,17c0.4,0.9,1.1,1.7,2,2 c1.4,0.6,4.8,0.4,6.3,0.4s4.9,0.1,6.3-0.4c0.9-0.4,1.7-1.1,2-2C19.6,15.6,19.5,12.3,19.5,10.7L19.5,10.7z M16.2,10.7 c0,3-2.5,5.5-5.5,5.5s-5.5-2.5-5.5-5.5s2.5-5.5,5.5-5.5C13.8,5.2,16.2,7.7,16.2,10.7C16.2,10.7,16.2,10.7,16.2,10.7L16.2,10.7z M14.3,10.7c0-2-1.6-3.6-3.6-3.6s-3.6,1.6-3.6,3.6c0,2,1.6,3.6,3.6,3.6c0,0,0,0,0,0C12.7,14.3,14.3,12.7,14.3,10.7L14.3,10.7z M16.4,6.3c-0.7,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3C17.7,5.7,17.2,6.3,16.4,6.3 C16.4,6.3,16.4,6.3,16.4,6.3L16.4,6.3z'/%3E%3C/svg%3E%0A");
}

/*$mg-calm: #D5EDF2 !default;*/
@include media-breakpoint-down(sm) {
  .force-center {
    margin: auto;
  }
  .lookup {
    margin-bottom: 40px;
  }
  .grid {
        padding-bottom: 2rem;
  }
  .copyright {
  margin-top: 50px;
}
  .tool-tip {
    margin-left: 5px;
    margin-right: 5px;
  }
  .container-fluid .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-white {
  padding-top: 15px;
  margin-bottom: 0px;
}
  .click-to-call {
    font-size: 22px;
  }
  .sticky-content {
    h3.h5 {
      font-size: 15px !important;
    }
  }
}