
.inner-wrapper-sticky {
  z-index: 10;
}


@media only screen and (min-width: 760px) {
  .small-row {
    width: 58%;
    margin: 0 auto;
  }
}
.jumbotron {
  background: url('https://cdn.medicalguardian.com/rebrand/img/bg-hero-buying-advice.jpg') center top no-repeat;
  background-size: cover;
  position: relative;
}
.jumbotron:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(53, 38, 95, .4);
}
