
//


@import "../abstracts/mg.mixins.scss";
@import "../abstracts/mg.colors.scss";

@import "../abstracts/mixins"; // Required
@import "../abstracts/functions"; // Required
@import "../abstracts/mg.variables.landing"; // Required: ;
@import "../abstracts/variables"; // Required

//@import "../base/mg.fonts";

//@import "vendors/bootstrap/root";
@import "../base/reboot"; // Required
@import "../base/type";
@import "../base/images";
//@import "../base/code";
@import "../base/grid";
//@import "../base/tables";
@import "../base/forms";
@import "../base/buttons";
@import "../base/transitions";
@import "../components/dropdown";
@import "../components/button-group";
@import "../components/input-group"; // Requires forms
@import "../base/custom-forms";
@import "../components/nav";
@import "../components/navbar"; // Requires nav
@import "../components/mg.navbar";
@import "../components/card";
//@import "../components/pagination";
@import "../components/badge";
@import "../components/jumbotron";
//@import "../components/alert";
@import "../components/progress";
@import "../components/media";
@import "../components/list-group";
@import "../components/close";
//@import "../components/toasts";
@import "../components/modal"; // Requires transitions
//@import "../components/tooltip";
//@import "../components/popover";
//@import "../components/carousel";
@import "../components/spinners";
@import "../base/utilities";
//@import "vendors/bootstrap/print";

@import "../base/mg.typography.landing";
@import "../base/mg.forms";
@import "../base/mg.custom-forms";
@import "../base/mg.icons";
@import "../components/mg.nav";

@import "../components/mg.navbar";


//
// Custom styles
//

/**
 * Smooth scrolling on the whole document
 */
 /*
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	max-width: 100%;
	width: 100%;
	min-height: 100%;
  font-size: 16px;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.section {
	overflow: hidden;
	padding: 5rem 0 4rem;
	position: relative;
	background-color: #fff;
}
@include media-breakpoint-up(md) {
	.section {
		overflow: hidden;
		padding: 5.5rem 0 3.5rem;
	}
}
@include media-breakpoint-up(lg) {
	.section {
		overflow: hidden;
		padding: 5.5rem 0 3.5rem;
	}
}
@include media-breakpoint-up(xl) {
  .section {
    padding: 5.75rem 0 3.75rem;
  }
}


.container {
	max-width: 1160px;
}
@media (min-width: 576px) and (max-width: 768px){
	.container, .container-sm, .container-md {
		overflow: hidden;
		max-width: 100%;
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 990px){
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media (max-width: 990px){
	body {
	    overflow-x: hidden;
			max-width: 100%;
			width: 100%;
	}
}

@include media-breakpoint-down(sm) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.no-mobile {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	.dt-only {
		display:none;
	}
}

.btn {
	line-height: 44px;
}

nav.navbar,
.navbar-light {
	background-color: #ffffff !important;
}

nav.navbar {
	.navbar-nav {
		.nav-link {
			font-size: 16px;
			font-weight: 600;
			color: $mg-autonomy;
		}
	}
}

@include media-breakpoint-up(md) {
	nav.navbar {
		height:70px;
	}
	.navbar .navbar-brand {
		width: 150px;
		height: 36px;
	}
	.navbar .btn.btn-primary {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		line-height: 48px;
	}
	.navbar .phone-icon::before {
		margin-top: -1px;
		height: 30px;
		width: 30px;
		background-size: 26px;
		padding: 0 !important;
	}
}

@include media-breakpoint-down(sm) {
	nav.navbar {
		min-height: 54px;
		.navbar-brand {
			display: inline-block;
	    left: 0;
	    margin: 0;
	    position: absolute;
	    left: 50%;
	    margin-left: -70px;
	    top: 2px;
		}
    .navbar-collapse {
        position: absolute;
        width: 100%;
        background: #fff;
        z-index: 100;
    }
	}
}

@include media-breakpoint-up(sm) {
  .navbar-collapse {
      display:none;
  }
}

/* ============ ENABLE FOR FINAL TOPNAV ==================

.navbar-brand {
  display: inline-block;
  overflow:hidden;
  width: 140px;
  height: 50px;
  background-repeat:no-repeat;
  background-size: auto 32px;
}
@media screen and (min-width: 760px) {
.navbar-brand {
  height: 64px;
  margin-left: 15px;
  margin-right: 24px;
  width: 128px;
}
}
@media screen and (min-width: 990px) {
  .navbar-brand {
    width: 120px;
    height: 60px;
    margin-right: 28px;
    background-size: 100%;
  }
}


.nav-dropdown {
  height: 0;
  overflow: hidden;
  transition: all .5s linear;
  &.expand {
    min-height: 0;
    height: auto;
  }
}

===================================== */

.navbar-toggle-icon {
	display: inline-block;
	height:28px;
	width:28px;
	background-size:24px;
	background-position: center center;
	background-repeat: no-repeat;
}
// .jumbotron {
// 	h1 {
// 		max-width:740px;
// 	}
// }


.jumbotron h1 {
		font-size: 22px;
		line-height: 28px;
		color: $mg-stability;
		margin-bottom: 18px;
	}
@include media-breakpoint-up(sm) {
	.jumbotron {
		h1 {
			font-size: 46px;
			line-height: 1.15;
			letter-spacing: -0.02em;
			margin-bottom:12px;
		}
	}
}

.jumbotron {
  padding-left: 0;
  padding-right: 0;
	.micro-title {
		color: #521E4E;
		font-size: 15px;
		line-height: 18px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-bottom: 8px;
	}
}


@include media-breakpoint-up(md) {
	.jumbotron {
		.micro-title {
			color: #521E4E;
			font-size: 20px;
			line-height: 24px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		h1 {
			font-size: 48px;
			line-height: 1.15;
			letter-spacing: -0.02em;
			margin-bottom:16 px;
		}
	}
  .jumbotron .quiz-panel {
		.card-title {
			font-size: 30px;
		}
	}
	.jumbotron .btn {
		&.btn-quiz {
			font-size: 22px;
			line-height: 60px;
			padding: 0px;
			height:64px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.jumbotron {
		.micro-title {
			color: #521E4E;
			font-size: 20px;
			line-height: 24px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		h1 {
			font-size: 54px;
			line-height: 1.15;
			letter-spacing: -0.02em;
			margin-bottom:12px;
		}
    .jumbotron .quiz-panel {
  		.card-title {
  			font-size: 32px;
  		}
  	}
  	.jumbotron .btn {
  		&.btn-quiz {
  			font-size: 24px;
  			line-height: 60px;
  			padding: 0px;
  			height:64px;
  		}
  	}
	}
}

.bg-dim {
	background-color: #f9f9f9;
}
.bg-dimmer {
	background-color: $mg-dim;
}
.bg-autonomy {
	background-color: $mg-autonomy !important;
}

.b-0 {
  border-width: 0;
}

.img-circle {
  overflow:hidden;border-radius:50%;
}
.review .avatar {
  max-width:90px; margin: 0 auto 16px;
}

.display-2 {
  letter-spacing: -0.01em;
}

.bg-purple {
  background-color: $mg-autonomy;
}
.bg-darkblue {
  background-color: $mg-stability;
}
.bg-white {
  background-color: #ffffff;
}

.bg-light2 {
  background-color: $mg-tranquil-cloud;
}

.border-rounded {
  border-radius: 1rem;
}

.mini-badge { padding: 4px 8px;font-size:12px;line-height: 14px; color: #111; background: #F8C379;font-weight:500;position: absolute;top:16px;left:50%;margin-left:24px;border-radius:3px;overflow:hidden;  }

.fw-500 { font-weight: 500; }

.tap-to-call { text-decoration:none; }

.m-5{ margin: 5rem; } // 80px
.mt-5{ margin-top: 5rem; } // 80px
.mb-5{ margin-bottom: 5rem; } // 80px
.my-5{ margin-top: 5rem; margin-bottom: 5rem; } // 80px

.m-4{ margin: 3.75rem; }
.mt-4{ margin-top: 3.75rem; }
.mb-4{ margin-bottom: 3.75rem; }
.my-4{ margin-top: 3.75rem; margin-bottom: 3.75rem; }

.m-3{ margin: 2.5rem; }
.mt-3{ margin-top: 2.5rem; }
.mb-3{ margin-bottom: 2.5rem; }
.my-3{ margin-top: 2.5rem; margin-bottom: 2.5rem; }
.mx-3{ margin-left: 2.5rem; margin-right: 2.5rem; }
.ml-3{ margin-left: 2.5rem; }
.mr-3{ margin-right: 2.5rem; }

.m-2{ margin: 1.875rem; }
.mt-2{ margin-top: 1.875rem; }
.mb-2{ margin-bottom: 1.875rem; }
.my-2{ margin-top: 1.875rem; margin-bottom: 1.875rem; }
.mx-2{ margin-left: 1.875rem; margin-right: 1.875rem; }
.ml-2{ margin-left: 1.875rem; }
.mr-2{ margin-right: 1.875rem; }

.m-1{ margin: 1.25rem; }
.mt-1{ margin-top: 1.25rem; }
.mb-1{ margin-bottom: 1.25rem; }
.my-1{ margin-top: 1.25rem; margin-bottom: 1.25rem; }
.mx-1{ margin-left: 1.25rem; margin-right: 1.25rem; }
.ml-1{ margin-left: 1.25rem; }
.mr-1{ margin-right: 1.25rem; }

.my-05{ margin-top: 0.5rem; margin-bottom: 0.5rem; }
.mb-05{ margin-bottom: 0.5rem; }
.mt-05{ margin-top: 0.5rem; }

.m-0{ margin: 0rem; }
.mr-0{ margin-right: 0rem; }
.ml-auto{ margin-left: auto; }
.mx-auto{ margin-left: auto; margin-right: auto; }

.m-i0  { margin: 0px !important; }
.p-i0  { padding: 0px !important; }

.p-5{ padding: 5rem; } // 80px
.pt-5{ padding-top: 5rem; } // 80px
.pb-5{ padding-bottom: 5rem; } // 80px
.py-5{ padding-top: 5rem; padding-bottom: 5rem; } // 80px

.p-4{ padding: 3.75rem; } // 60px
.pt-4{ padding-top: 3.75rem; }
.pb-4{ padding-bottom: 3.75rem; }
.py-4{ padding-top: 3.75rem; padding-bottom: 3.75rem; }

.p-3{ padding: 2.5rem; }
.pt-3{ padding-top: 2.5rem; }
.pb-3{ padding-bottom: 2.5rem; }
.py-3{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
.px-3{ padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
.pl-3{ padding-left: 2.5rem; }
.pr-3{ padding-right: 2.5rem; }

.p-2{ padding: 1.875rem; }
.pt-2{ padding-top: 1.875rem; }
.pb-2{ padding-bottom: 1.875rem; }
.py-2{ padding-top: 1.875rem; padding-bottom: 1.875rem; }
.px-2{ padding-left: 1.875rem; padding-right: 1.875rem; }
.pl-2{ padding-left: 1.875rem; }
.pr-2{ padding-right: 1.875rem; }

.p-1{ padding: 1rem; }
.pt-1{ padding-top: 1rem; }
.pb-1{ padding-bottom: 1rem; }
.py-1{ padding-top: 1rem !important; padding-bottom: 1rem !important; }
.px-1{ padding-left: 1rem; padding-right: 1rem; }
.pl-1{ padding-left: 1rem; }
.pr-1{ padding-right: 1rem; }

.py-05{ padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }

.p-0{ padding: 0rem; }
.pt-0{ padding-top: 0rem; }
.pb-0{ padding-bottom: 0rem; }
.py-0{ padding-top: 0rem !important; padding-bottom: 0rem !important; }
.px-0{ padding-left: 0rem; padding-right: 0rem; }
.pl-0{ padding-left: 0rem; }
.pr-0{ padding-right: 0rem; }


/*
@media only screen and (min-width: 600px) {
  body {

  }
}
*/

@include media-breakpoint-up(sm) {
	.py-sm-3{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
	.py-sm-4{ padding-top: 3.75rem; padding-bottom: 3.75rem; }
	.py-sm-5{ padding-top: 5rem; padding-bottom: 5rem; } // 80px
	.p-sm-2{ padding: 1.875rem; }
	.mb-sm-2{ margin-bottom: 1.875rem !important; }
	.mt-sm-2{ margin-top: 1.875rem; }
	.mt-sm-3{ margin-top: 2.5rem; }
  .mt-sm-4{ margin-top: 3.5rem; }
	.pb-sm-3 { padding-bottom: 2.5rem; }
	.pb-sm-4 { padding-bottom: 3.75rem; }
}


@include media-breakpoint-up(md) {
	.py-md-3 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
	.py-md-4 { padding-top: 3.75rem; padding-bottom: 3.75rem; }
	.pb-md-3 { padding-bottom: 2.5rem !important; }
	.pb-md-4 { padding-bottom: 3.75rem !important; }
	.py-md-5 { padding-top: 5rem; padding-bottom: 5rem; } // 80px
	.pr-md-3{ padding-right: 2.5rem !important; }
	.pr-md-2{ padding-right: 1.875rem !important; }
	.px-md-0{ padding-left: 0rem; padding-right: 0rem; }
	.px-md-3{ padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
	.px-md-4{ padding-left: 3.75rem !important; padding-right: 3.75rem !important; }
	.mb-md-2 { margin-bottom: 1.875rem; }
	.px-md-2{ padding-left: 1.875rem !important; padding-right: 1.875rem !important; }
	.mt-md-4{ margin-top: 3.75rem; }
	.mt-md-3{ margin-top: 2.5rem !important; }
	.mt-md-2{ margin-top: 1.875rem !important; }
	.pt-md-2{ padding-top: 1.875rem; }
	.mt-md-1{ margin-top: 1.25rem; }
	.px-md-1{ padding-left: 1rem; padding-right: 1rem; }
	.pb-md-0{ padding-bottom: 0rem; }
	.pt-md-3{ padding-top: 2.5rem; }
  .mb-md-3{ margin-bottom: 2.5rem; }
}

@include media-breakpoint-up(lg) {
  .py-lg-2{ padding-top: 1.875rem; padding-bottom: 1.875rem; }
  .px-lg-2{ padding-left: 1.875rem; padding-right: 1.875rem; }
  .py-lg-3{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
  .px-lg-3{ padding-left: 2.5rem; padding-right: 2.5rem; }
  .mb-lg-1{ margin-bottom: 1.25rem; }
  .mb-lg-2{ margin-bottom: 1.875rem; }
  .mt-lg-1{ margin-top: 1.25rem; }
  .pr-lg-3{ padding-right: 2.5rem; }
}

@include media-breakpoint-up(xl) {
.pr-xl-3{ padding-right: 2.5rem; }
.mr-xl-1{ margin-right: 1.25rem; }
.mr-xl-2{ margin-right: 1.875rem; }
.mr-xl-3{ margin-right: 2.5rem; }
}

.mh-128 {
  max-height: 128px;
}
.mw-160 {
  width: auto;
  max-width: 160px;
}

.inverse,
.card .card-header.inverse {
	color: #fff;
}

.one-one {
  @include aspect-ratio(1, 1);
}
.three-two {
  @include aspect-ratio(3, 2);
}
.four-three {
  @include aspect-ratio(4, 3);
}
.five-four {
  @include aspect-ratio(5, 4);
}
.six-four {
  @include aspect-ratio(6, 4);
}
.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.two-three {
  @include aspect-ratio(2, 3);
}
.three-four {
  @include aspect-ratio(3, 4);
}
.four-five {
  @include aspect-ratio(4, 5);
}
.nine-sixteen {
  @include aspect-ratio(9, 16);
}


body {
	overflow-x: hidden;
  background-color: $mg-stability;
	color: #58595B;
	font-size: 16px;
	line-height: 1.5;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	color: $mg-stability;
	letter-spacing: -0.02em;
}
@include media-breakpoint-down(sm) {
	h1 {
		font-size: 21px;
		line-height: 24px;
		color: $mg-stability;
	}
	h2 {
		font-size: 24px;
		line-height: 28px;
		color: $mg-stability;
	}
}
@include media-breakpoint-up(sm) {
	h2 {
		font-size: 40px;
		line-height: 46px;
		color: $mg-stability;
	}
}


.micro-title,
h5.micro-title {
	font-size: 16px;
	line-height: 26px;
	color: #521E4E;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0 0 12px;
}

@include media-breakpoint-up(md) {
	.micro-title,
	h5.micro-title {
		font-size: 20px;
		line-height: 24px;
		color: #521E4E;
		font-weight: 600;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		margin: 0 0 12px;
	}
}


label {
  color: $mg-stability;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 4px;
}

.section-title h2, .section-title h3 {
  .emphasis {
    color: $mg-harmony;
  }
}

.text-berry {
  color: $mg-harmony;
}
/*aa edits*/
.text-yellow {
  color: $mg-confidence;
}
.text-aqua {
  color: $mg-calm;
}

.text-darkblue {
  color: $mg-stability;
}

.bg-gradient {
  background: $primary;
  background: -moz-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
  background: linear-gradient(90deg, rgba(53,38,95,1) 0%, rgba(222,31,47,1) 100%);
}

.btn {
	&.btn-bright {
		background-color: $mg-bright;
		border-color: $mg-bright;
		color: $mg-stability;
	}
	strong {
		font-weight: 800;
	}
}

.btn {
	&.btn-outline {
		border: 2px solid #fff;
		color: #fff;
		background-color: transparent;
	}
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled,
input[type="checkbox"]:disabled {
  background: $mg-stability-lightest;
  color: #bbb;
}

.inverse {
	.btn {
		&.btn-outline {
			border: 2px solid #ACE9F4;
			color: #fff;
			background-color: transparent;
			font-size:18px;
			height: 50px;
		}
	}
}

// @include media-breakpoint-up(sm) {
// 	.btn {
// 		&.btn-quiz {
// 			font-size: 32px;
// 			line-height: 80px;
// 			padding: 0px;
// 			height:88px;
// 		}
// 	}
// }

.btn-warning,
.bg-warning {
	background-color: $orange;
	color: $mg-stability;
}
.btn.btn-warning {
	font-size:16px;
	line-height: 45px;
  letter-spacing: 0.01em;
}

.btn {
	&.btn-product {
		font-size: 21px;
		line-height: 1.2;
		color: $mg-stability;
		font-weight: 700;
		letter-spacing: -0.02em;
		padding: 5px 24px 9px;
		height: 56px;
		span {
			font-size: 10px;
			line-height: 1.375;
			display: block;
			color: $mg-stability;
			font-weight: 500;
			letter-spacing: 0.01em;
		}
	}
	&.sm-link {
		color: $mg-stability;
	}
}

/* ----- */
@include media-breakpoint-up(md) {
    .btn {
    	&.btn-product {
    		font-size: 17.5px;
    		line-height: 1.2;
    		color: $mg-stability;
    		font-weight: 700;
    		letter-spacing: -0.02em;
    		padding: 9px 4px 5px;
    		height: 56px;
    		span {
    			font-size: 10px;
    			line-height: 1.375;
    			display: block;
    			color: $mg-stability;
    			font-weight: 500;
    			letter-spacing: 0.01em;
    		}
    	}
    	&.sm-link {
    		color: $mg-stability;
    	}
    }
}
/* -------- */
@include media-breakpoint-up(lg) {
    .btn {
    	&.btn-product {
    		font-size: 21px;
    		line-height: 1.2;
    		color: $mg-stability;
    		font-weight: 700;
    		letter-spacing: -0.02em;
    		padding: 5px 24px 9px;
    		height: 56px;
    		span {
    			font-size: 10px;
    			line-height: 1.375;
    			display: block;
    			color: $mg-stability;
    			font-weight: 500;
    			letter-spacing: 0.01em;
    		}
    	}
    	&.sm-link {
    		color: $mg-stability;
    	}
    }
}

.btn {
	&.btn-dock {
		font-size: 22px;
		line-height: 1.2;
		background-color: $mg-stability;
		color: #fff;
		font-weight: 700;
		letter-spacing: 0em;
		padding: 8px 24px 7px;
		height: 64px;
		border: 1px solid #fff;
		box-shadow: 0 5px 10px rgba(0,0,0,.18);
		span {
			font-size: 11px;
			line-height: 1.5;
			display: block;
			color: #fff;
			font-weight: 600;
			letter-spacing: 0em;
		}
		.white-phone-icon.md:before {
		    height: 26px;
		    width: 30px;
		    background-size: 34px;
		    vertical-align: middle;
		    top: -3px;
		    position: relative;
		    margin-right: 4px;
		}
		.white-phone-icon.md:after {
			content: '';
		    height: 6px;
		    width: 6px;
		    background-color: #14DB1B;
				border-radius: 50%;
		    top: 0px;
		    position: absolute;
		    right: 6px;
		}
	}
	&.sm-link {
		color: $mg-stability;
	}
}


.arrow-btm {
	position: relative;
	line-height: 1.375;
	margin-bottom:36px;
	&:after {
    content: "";
		position:absolute;
		left:50%;
		margin-left:-8px;
		bottom: -22px;
    display: inline-block;
		margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 8px 0 8px;
    border-color: #35265F transparent transparent transparent;
	}
}

// .navbar-collapse {
//     padding: 2rem;
//     border-bottom-left-radius: 1rem;
//     z-index: 50;
//     background-color: #fff;
//     border-bottom-right-radius: 1rem;
//     overflow: hidden;
//     box-shadow: inset 0 16px 30px -35px;
// }

// .cert_item {
// 	font-size: 18px;
// 	line-height: 26px;
// 	color: #35285E;
// }

@include media-breakpoint-down(sm) {
  .navbar-collapse {
    box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.12);
    padding: 1.5rem 1.75rem;
    .nav-item {
      color: $mg-stability;
    }
    .btn.btn-bright {
      background-color: #2DD4F6;
      box-shadow: 0 8px 16px rgba(0,0,0,0.18);
      span:first-child {
        color: $mg-stability;
        font-weight: 400;
        font-size:12px;
      }
    }
  }
}

.cert-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 12px 0 8px;
	color: #35285E;
}


.cert_item {
  img {
    max-width:160px;
  }
}


.prod-actions-post {
  display: none;
}
.hyperlink,
.inverse .hyperlink {
  color: $mg-stability;
  text-decoration: none;
}

.prod-actions-post,
.inverse .prod-actions-post p {
  color: $mg-stability;
}

.no-wrap {
  white-space: nowrap;
}

.caption {
	font-size: 8px;
	line-height: 1.375;
}

.page-header {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 8px solid #eee;
}

.notched {
	position: relative;
	padding-bottom: 32px;
	&::after {
		display:block;
		width: 24px;
		height: 0px;
		border-top: 2px solid #CFFFFE;
		content: '';
		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -12px;
	}
}

.shadow-1 {
  box-shadow: 0 0.15rem 0.2rem rgba(17, 17, 17, 0.05);
}
.shadow-2 {
  box-shadow: 0 3px 2px rgba(54,11,51, 0.35);
}





@include media-breakpoint-down(sm) {
	.hero-right {
		padding-top: 16px;
		padding-bottom: 2rem;
	}
}

.pointer-1 {
  position: absolute;
	height: 64px;
	width: 64px;
	right: 50%;
	margin-right: -32px;
	top:8px;
  transform: rotate(-65deg);
  z-index:5;
}
.pointer-2 {
  position:absolute;
	width: 54px;
	height: auto;
	left: 50%;
	top: -66px;
	margin-left: -24px;
  transform: rotate(68deg);
  z-index:5;
}

@include media-breakpoint-up(md) {
  .pointer-1 {
  	position:absolute;
    right:50%;
    margin-right: -36px;
  	top:20px;
  transform: rotate(-65deg);
  	z-index: 5;
  }

  .pointer-2 {
  	position:absolute;
  	top:-16px;
  	left:-48px;
  	z-index: 5;
    transform: rotate(0deg);
  }
}

@include media-breakpoint-up(xl) {
  .pointer-1 {
  	position:absolute;
  	top:40px;
  	right:56px;
  	z-index: 5;
    transform: rotate(0deg);
  }

  .pointer-2 {
  	position:absolute;
  	top:-22px;
  	left:-54px;
  	z-index: 5;
    transform: rotate(0deg);
  }

  .quiz-1 {
    .px-lg-3 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
  }
}




.hero-03 {
  background: #f9f9f7 url('https://cdn.medicalguardian.com/_site/_dist/img/bg-hero-03.jpg') center center no-repeat;
  background-size: 100%;
  background-size: cover;
}

.card, .rounded {
	border-radius: 0.5rem;
	overflow:hidden;
}

.tab-content {
	border-radius: 0.85rem;
	overflow:hidden;
	.card .card-footer .btn.btn-sm {
		font-size: 14px;
		line-height: 16px;
		border-radius: 0;
		padding: 0 14px 0 0;
		margin: 20px auto 10px;

		font-weight: 400;
		position: relative;
		letter-spacing: -0.02em;
		height: auto;
		&:before {
		    content: "";
				position: absolute;
		    display: inline-block;
		    width: 0;
		    height: 0;
				top: 50%;
				margin-top: -6px;
				right: 0;
		    border-style: solid;
		    border-width: 6px 0 6px 8px;
		    border-color: transparent transparent transparent #35265F;
		}
	}
}

@include media-breakpoint-down(sm) {
	.tab-content {
		border-radius: 0.75rem;
	}
	.products {
		.tab-content {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}
}

.text-bright { color: $mg-bright; }

.btn-img-ih {
  background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/btn-icon-ih.png');
  background-repeat: no-repeat;
  background-position: 6% center;
}
.btn-img-otg {
  background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/btn-icon-otg.png');
  background-repeat: no-repeat;
  background-position: 6% center;
}
.btn-img-both {
  background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/btn-icon-both.png');
  background-repeat: no-repeat;
  background-position: 6% center;
}
.btn-img-yes {
  background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/btn-icon-yes.png');
  background-repeat: no-repeat;
  background-position: 6% center;
}
.btn-img-no {
  background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/btn-icon-no.png');
  background-repeat: no-repeat;
  background-position: 6% center;
}

@include media-breakpoint-down(md) {
  .btn-img-ih {
    background-size: 40px;
  }
  .btn-img-otg {
    background-size: 40px;
  }
  .btn-img-both {
    background-size: 40px;
  }
  .btn-img-yes {
    background-size: 40px;
  }
  .btn-img-no {
    background-size: 40px;
  }
}

@import "../components/mg.buttons";
@import "../components/mg.controls";
@import "../components/mg.cards";
@import "../components/mg.accordion";
@import "../components/mg.modals";
@import "../components/mg.media";


.text-xs {font-size: 0.75rem;
line-height: 1rem;}
.text-sm {font-size: 0.875rem;
line-height: 1.25rem;}
.text-base {font-size: 1rem;
line-height: 1.5rem;}
.text-lg {font-size: 1.125rem;
line-height: 1.75rem;}
.text-xl {font-size: 1.25rem;
line-height: 1.75rem;}
.text-2xl	{font-size: 1.5rem;
line-height: 2rem;}
.text-3xl	{font-size: 1.875rem;
line-height: 2.25rem;}
.text-4xl	{font-size: 2.25rem;
line-height: 2.5rem;}
.text-5xl	{font-size: 3rem;
line-height: 1;}
.text-6xl	{font-size: 3.75rem;
line-height: 1;}
.text-7xl	{font-size: 4.5rem;
line-height: 1;}
.text-8xl	{font-size: 6rem;
line-height: 1;}
.text-9xl {font-size: 8rem;
line-height: 1;}



.jumbotron .card {
  .card-header {
      font-size: 1.75rem;
      font-weight: 700;
      color: $mg-stability;
			border-bottom: 1px solid #fff;
			position: relative;
			&.indicator:after {
			    content: "";
			    display: inline-block;
					position: absolute;
					left: 50%;
					margin-left: -14px;
					bottom: -14px;
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 14px 13px 0 13px;
			    border-color: #ffffff transparent transparent transparent;
			}
  }
	.card-body {
			&.inverse {

			}
  }
}

.products {
	.card-body {
		.card-title {
			color: $mg-autonomy;
			font-size:21px;
			line-height: 48px;
			margin: 0;
			padding:0;
		}
		.card-text {
			color: #121211;
			font-size:14px;
			line-height: 24px;
			margin: 0;
			padding:0;
		}
	}
	.card {
		.card-footer {
			border-top:none;
			background-color: transparent;
		}
	}
}


.products-benefit {
	padding: 1.25rem 1rem 1.375rem;
	background-color: transparent;
	color: #fff;
	border-color: $mg-autonomy-light;
	.media-img {
		margin-right:16px;
	}
	h6 {
		font-size: 20px;
	}
	small {
		line-height: 1.2;
	}
}

@include media-breakpoint-up(md) {
  .products {
  	.card-body {
  		.card-title {
  			color: $mg-autonomy;
  			font-size:18px;
  			line-height: 24px;
  			margin: 0;
  			padding:0;
  		}
  		.card-text {
  			color: #121211;
  			font-size:13.5px;
  			line-height: 22px;
  			margin: 12px 0 0;
  			padding:0;
  		}
  	}
  }
}

@include media-breakpoint-up(lg) {
  .products {
  	.card-body {
  		.card-title {
  			color: $mg-autonomy;
  			font-size:21px;
  			line-height: 48px;
  			margin: 0;
  			padding:0;
  		}
  		.card-text {
  			color: #121211;
  			font-size:15px;
  			line-height: 24px;
  			margin: 0;
  			padding:0;
  		}
  	}
  }
}


.nav-tabs {
	margin-bottom: 1px;
	.nav-link {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.1;
		background-color: $mg-autonomy-lighter;
		border: none;
		padding-top: 0.95rem;
		padding-bottom: 1rem;
		border-top-left-radius: 0rem;
		border-top-right-radius: 0rem;
		color: #fff;
		.tab-title {
			display:block;
			font-size:12.5px;
			font-weight:500;
		}
		&.active {
			background-color: $mg-dim;
			.tab-title {
				color: $mg-dim;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.nav-tabs {
		margin-bottom: 1px;
		.nav-link {
			font-size: 26px;
			font-weight: 700;
			line-height: 1;
			background-color: $mg-autonomy-lighter;
			border: none;
			padding-top: 0.95rem;
			padding-bottom: 1.375rem;
			border-top-left-radius: 0rem;
			border-top-right-radius: 0rem;
			color: #fff;
      .tab-label {
        display: inline-block;
        background-position: left center;
				background-repeat: no-repeat;
        padding-bottom: 6px;
        height:50px;
        &.ih {
  				padding-left: 46px;
  				background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/tab-ih-default.svg');
          background-size: 36px;
        }
        &.otg {
  				padding-left: 46px;
  				background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/tab-otg-default.svg');
          background-size: 36px;
        }
      }
			.tab-title {
				display:block;
				font-size:14px;
				font-weight:400;
			}
			&.active {
				background-color: $mg-dim;
				.tab-label.ih {
					background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/tab-ih-active.svg');
				}
				.tab-label.otg {
					background-image: url('https://cdn.medicalguardian.com/assets/landers/offer/img/tab-otg-active.svg');
				}
				.tab-title {
					color: $mg-dim;
				}
			}
		}
	}
}

.panel-quiz {
	box-shadow: 0px 12px 20px rgba(10,10,10,0.25);
	border-radius: 15px;
}
.panel-promo {
	box-shadow: 0px 5px 18px rgba(10,10,10,0.18);
	border-radius: 15px;
	h5,h6 {
		font-size: 24px;
		line-height:1.375;
	}
}

@include media-breakpoint-up(lg) {
  .panel-quiz {
  	box-shadow: 0px 22px 41px rgba(10,10,10,0.25);
  }
}

.quiz-wrapper {
	// padding-top: 7.75rem;
	.quiz-panel {
		background: none;
		border:none;
		border-radius:none;
		margin-top: 38px;
		&.quiz-1 {
			margin-top: 0;
		}
		.quiz-title {
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 15px;
			padding: 0px;
		}
		.micro-title {
			font-size: 20px;
		}
		.info-panel.mt-0 {
			margin-top: 0;
		}
		.inset {
	    overflow: visible;
	    height: 0;
	    margin-bottom: -16px;
	    margin-top: -6px;
		}
	}
	.quiz-btn-group {
		margin-top: 4px;
	}
	.btn-quiz {
			font-size: 20px;
			line-height: 54px;
			padding: 0px;
			height: 56px;
			margin-bottom: 0.75rem;
			box-shadow: 0 5px 6px rgb(0,0,0,.16);
			&:before {
					content: "";
					position: absolute;
					display: inline-block;
					width: 0;
					height: 0;
					top: 50%;
					margin-top:-8px;
					right: 20px;
					border-style: solid;
					border-width: 10px 0 8px 8px;
					border-color: transparent transparent transparent #ffffff;
			}
	}
}



.progress {
	background-color: #E0E0E2;
	border-radius: 0;
	height:12px;
	.progress-bar {
		height:12px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}
}

@include media-breakpoint-up(md) {
	.quiz-wrapper {
		// padding-top: 7.75rem;
		.quiz-panel {
			background: none;
			border:none;
			border-radius:none;
			margin-top: 24px;
			.quiz-title {
				font-size: 40px;
				line-height: 48px;
			}
		}
		.quiz-section {
			padding: 2rem 0 4rem;
		}
		.btn-quiz {
			font-size: 28px;
			line-height: 68px;
			padding: 0px;
			height:72px;
			margin-bottom: 1.1rem;
			box-shadow: 0 10px 6px rgba(0,0,0,0.14);
			&:before {
					content: "";
					position: absolute;
					display: inline-block;
					width: 0;
					height: 0;
					top: 50%;
					margin-top:-12px;
					right: 28px;
					border-style: solid;
					border-width: 12px 0 12px 12px;
					border-color: transparent transparent transparent #ffffff;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.quiz-wrapper {
		// padding-top: 7.75rem;
		.quiz-panel {
			background: none;
			border:none;
			border-radius:none;
			margin-top: 12px;
			.quiz-title {
				font-size: 44px;
				line-height: 52px;
			}
		}
    .quiz-5 .quiz-title {
      font-size: 50px;
      line-height: 56px;
    }
		.quiz-section {
			padding: 2.75rem 0 4rem;
		}
		.btn-quiz {
			font-size: 30px;
			line-height: 74px;
			padding: 0px;
			height:80px;
			margin-bottom: 1.2rem;
			box-shadow: 0 10px 6px rgba(0,0,0,0.14);
			&:before {
					content: "";
					position: absolute;
					display: inline-block;
					width: 0;
					height: 0;
					top: 50%;
					margin-top:-12px;
					right: 28px;
					border-style: solid;
					border-width: 12px 0 12px 12px;
					border-color: transparent transparent transparent #ffffff;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
  .panel-promo {
  	box-shadow: 0px 5px 18px rgba(10,10,10,0.18);
  	border-radius: 15px;
  	h5 {
  		font-size: 24px;
  		line-height:1.2;
  	}
    h6 {
  		font-size: 22px;
  		line-height:1.375;
  	}
  }
}

.form-control {
	padding-left: 15px;
}

.form-loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $mg-stability;
  z-index:5;
}

.progress {
	background-color: #E0E0E2;
	border-radius: 0;
	height:14px;
	.progress-bar {
		height:14px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}

.info-panel {
	border-radius: 0.75rem;
	position: relative;
	margin-top: 30px;
	box-shadow: 0px 28px 36px rgba(33,17,32,.22);

	h5 {
		font-size:22px;
		line-height:26px;
		margin-bottom: 18px;
	}
	p {
		font-size:20px;
		line-height:26px;
	}
	.btn {
		background-color: #ffffff;
		color: $mg-stability;
		border: 2px solid $mg-harmony;
		font-size: 22px;
		line-height: 58px;
		padding: 0px;
		height: 64px;
		.phone-icon:before {
			height: 28px;
			width: 28px;
			background-size: 34px;
		}
	}
	&.arrow:before {
    content: "";
    display: inline-block;
		position: absolute;
		top: -15px;
		left:50%;
		margin-left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 16px 14px;
    border-color: transparent transparent #35265F transparent;
	}
	.caption {
		font-size: 11px;
		line-height: 14px;
		margin-top: 12px;
		color: #DEDCE5;
	}
	.form-check {
		margin-top: 4px;
		margin-bottom: 15px;
		.form-check-label {
			font-size: 16px;
			line-height: 24px;
			text-align: left;
		}
	}
}

.promo-strip {
  padding: 8px 0;
  line-height: 1;
  ul {
    li {
      line-height: 1.2;
      padding: 0 0 0 20px;
      position: relative;
      &:before {
        display: inline-block;
        color: #fff;
        content: '|';
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
      }
      &:first-child {
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
  }

  .btn-link {
    color: #D7F1F8;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    font-weight:700;
  }

  .white-phone-icon:before {
    display: inline-block;
    position: inline;
    vertical-align: middle;
    margin: -1px -1px 0 0;
    height: 16px;
    width: 16px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M5.77 2a1 1 0 01.66.35A83.65 83.65 0 0110.07 6c.33.35.3.75-.1 1.19l-1 1.07c-1.34 1.42-2 2.13-1.33 3.44a22 22 0 008.53 8.61l.45.24h.51c.84 0 1-.17 2.79-1.85l.76-.71a1.24 1.24 0 01.68-.39.89.89 0 01.48.27 66.25 66.25 0 013.77 3.73c.42.46.42.72 0 1.16l-.1.1a14.92 14.92 0 01-3.39 3 2.65 2.65 0 01-.62.1c-.41-.05-1.86-.36-2.16-.44a25.74 25.74 0 01-12.6-8.84 24.15 24.15 0 01-4.62-9.02 4.16 4.16 0 010-1.82A17.14 17.14 0 015.18 2.3a.94.94 0 01.59-.3m0-2a2.83 2.83 0 00-1.94.82S.88 3.46.17 5.23a6.05 6.05 0 000 2.9A26 26 0 005.26 18a27.62 27.62 0 0013.57 9.49 22.65 22.65 0 002.7.53 4.59 4.59 0 001.35-.22c1.53-.63 4-3.37 4.25-3.61a2.64 2.64 0 000-3.91 66.9 66.9 0 00-3.88-3.84 2.73 2.73 0 00-1.83-.79 3 3 0 00-2.05.93c-.75.7-2.12 2-2.18 2a20.07 20.07 0 01-7.79-7.84s1.49-1.6 2.05-2.23a2.76 2.76 0 00.06-3.9A129.78 129.78 0 007.81.9a3 3 0 00-2-.9z' fill='%23CFFFFE' data-name='phone'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px !important;
  }
}


@include media-breakpoint-up(md) {
  .promo-strip {
    padding: 6px 0;
    line-height: 1;
    font-size:15px;
  }
  nav.navbar .navbar-nav .nav-link,
  .navbar .btn.btn-primary {
    font-size:18px;
    font-weight:700;
    letter-spacing: 0;
  }
}
@include media-breakpoint-up(lg) {
  .promo-strip {
    padding: 8px 0;
    line-height: 1;
    font-size:18px;
  }
  nav.navbar .navbar-nav .nav-link,
  .navbar .btn.btn-primary {
    font-size:20px;
  }
}

@include media-breakpoint-down(sm) {
	.bbb-badge {
		width: 64px;
		height: auto;
	}
	.info-panel {
		.btn {
			display:block;
		}
	}
	.promo-strip {
		padding: 9px 0 3.5px;
    font-size:14.5px;
		line-height: 16px !important;
    .btn-link {
      font-size: 15px;
      line-height: 16px !important;
    }
    ul li {
      line-height: 16px !important;
      &:before {
        content: '';
      }
    }
  }
}

.custom-checkbox {
    margin-top: 8px;
    .custom-control-label {
        font-size: 15px;
        line-height: 16px;
        font-weight: 500;
        &::before {
          display: block;
          width: 24px;
          height: 24px;
          top: -0.175rem;
          left: -36px;
          content: "";
          border: 1px solid #fff;
          border-radius: 4px;
        }
        &::after {
          background-size: 24px;
        }
    }
}

.quiz-4 .table {
  margin: 0 auto;
  width: auto;
  tr {
    td:last-child {
      color: $mg-stability;
      font-size: 15.5px;
      min-width: 260px;
    }
  }
}

@include media-breakpoint-up(md) {
	.jumbotron .quiz-panel {
		.card-title {
			font-size: 30px;
		}
	}
	.jumbotron .btn {
		&.btn-quiz {
			font-size: 30px;
			line-height: 74px;
			padding: 0px;
			height:80px;
		}
	}

  .quiz-4 .table {
    margin: 0 auto;
    width: auto;
    tr {
      td:first-child {
        width: 60px;
      }
      td:last-child {
        min-width: 360px;
        white-space: nowrap;
        color: $mg-stability;
        font-size: 17px;
      }
    }
  }

  .bbb-badge,
  .bbb-badge.mt-sm-2 {
    margin-top: 0.8rem;
    margin-bottom: -0.5rem;
  }

  .panel-promo {
    .btn-warning {
      margin-bottom: -12px;
      margin-top: -4px;
    }
  }
}

#loading-where,
#loading-for {
  white-space: nowrap;
}

@include media-breakpoint-up(lg) {
	.jumbotron .quiz-panel {
		.card-title {
			font-size: 32px;
		}
	}
	.btn {
		&.btn-quiz {
			font-size: 32px;
			line-height: 72px;
			padding: 0px;
			height:80px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.jumbotron .card .card-header {
			font-size:17px;
		}
}

@include media-breakpoint-up(md) {
	.panel-promo {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

@include media-breakpoint-up(xl) {
	.panel-promo {
    margin-right: 2.75rem;
  }
}

@include media-breakpoint-up(sm) {
	.hero-left {
		z-index: 5;
	}
}


.table td {
	padding: 4px;
}

.divider {
		display:block;
		overflow: visible;
		width:100%;
    background-color: #fff;
    position: relative;
    height: 0px;
    margin: 0px;
}
.prompt {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    background-color: #F9F9F9;
    border-radius: 50%;
    border: 1px solid #A5CFD9;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: -29px;
    z-index: 10;
    height: 72px;
    width: 72px;
    text-align: center;

		.arrow {
	    display: inline-block;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 21px 14px 0 14px;
	    border-color: #35265f transparent transparent transparent;
			position: relative;
			top: 28px;
		}
}

.section.final {
  padding-top: 3.8rem;
}
.final.divider {
  margin-top: -32px;
}

@include media-breakpoint-down(sm) {
    .quiz-section .divider,
    .final.divider {
      .prompt {
        margin-left: -20px;
        top: -16px;
        z-index: 10;
        height: 40px;
        width: 40px;
      }
      .arrow {
        border-width: 12px 9px 0 9px;
        top: 10px;
      }
    }
    .quiz-section .divider {
      margin-bottom: -14px;
    }
    .final.divider {
      margin-top: 1rem;
    }

    .section.final {
      padding-top: 2rem;
    }

    .form-panel.pt-4 {
      padding-top: 2.5rem;
    }
}

.btn-submit {
  &:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      top: 50%;
      margin-top:-10px;
      right: 20px;
      border-style: solid;
      border-width: 12px 0 10px 10px;
      border-color: transparent transparent transparent #ffffff;
  }
}
@include media-breakpoint-up(lg) {
  .quiz-panel {
    .btn-submit {
      height: 80px;
      line-height: 72px;
    }
  }
}

// @include media-breakpoint-down(sm) {
// 	.prompt {
// 	    margin-left: -18px;
// 	    top: -16px;
// 	    z-index: 10;
// 			height: 36px;
// 	    width: 36px;
// 	    text-align: center;
//
// 			.arrow {
// 		    display: inline-block;
// 		    width: 0;
// 		    height: 0;
// 		    border-style: solid;
// 		    border-width: 12px 8px 0 8px;
// 		    border-color: #35265f transparent transparent transparent;
// 				position: relative;
// 				top: 9px;
// 			}
// 	}
// }

#reviews {
	.slick-center {
		box-shadow: inset 0 0 0 1px $mg-stability;
	}
	.slick-nav {
		position: absolute;
		top: 50%;
		margin-top:-10px;
	}
	.slick-nav.prev {
		left: 36px;
		margin-left: 0;
	}
	.slick-nav.next {
		right: 36px;
		margin-right: 0;
	}
}

@include media-breakpoint-down(sm) {
	// #reviews .slick-nav {
	// 	display:none !important;
	// }
	.reviews_slider {
		.slick-dots {
			bottom: -44px;
		}
	}

	.testimonials {
		.slick-nav {
			top: 50%;
			margin-top: -60px;
		}
		.slick-nav.prev {
			left: -18px;
			margin-left:0 !important;
		}
		.slick-nav.next {
			right: -18px;
			margin-right: 0 !important;
		}
	}
}

@include media-breakpoint-up(md) {
	#reviews {
    .reviews_slider {
      margin-left: -2rem;
      margin-right: -2rem;
    }
		.review {
			margin-left: 6px;
			margin-right: 6px;
			.card-body {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		.slick-nav.prev {
			left: -24px;
		}
		.slick-nav.next {
			right: -24px;
		}
	}
  .reviews_slider {
		.slick-dots {
			bottom: -44px;
		}
	}
	.testimonials {
		.testimonial {
			margin-left: 8px;
			margin-right: 8px;
			.card-body {
				padding-top: 1.375rem;
			}
		}
		.slick-nav {
			margin-top: -30px;
		}
		.slick-nav.prev {
			left: -26px;
		}
		.slick-nav.next {
			right: -26px;
		}
	}
  .testimonials {
		.slick-dots {
			bottom: -38px;
		}
	}
}

@include media-breakpoint-up(lg) {
	#reviews {
		.review {
			margin-left: 10px;
			margin-right: 10px;
			.card-body {
				padding-left: 1.2rem;
				padding-right: 1.2rem;
			}
		}
		.slick-nav.prev {
			left: -34px;
		}
		.slick-nav.next {
			right: -34px;
		}
	}
	.testimonials {
		.testimonial {
			margin-left: 8px;
			margin-right: 8px;
			.card-body {
				padding-top: 1.375rem;
			}
		}
		.slick-nav {
			margin-top: -30px;
		}
		.slick-nav.prev {
			left: -32px;
		}
		.slick-nav.next {
			right: -32px;
		}
	}
}


.testimonial .card-text {
    min-height: 110px;
}

@include media-breakpoint-up(sm) {
  .testimonial .card-text {
      min-height: 110px;
  }
}

.mobile-call-btn {
  position:relative;
  margin-right: 4px;
  &:before {
    height: 34px !important;
    width: 34px !important;
    background-size: 38px !important;
    margin: -7px 0px 0 0 !important;
  }
  &:after {
    display:inline-block;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #14DB1B;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 4px;
    z-index:5;
  }
}

.review {
	height: auto !important;
	.review-logo {
		display: block;
		position: relative;
		width: 100%;
		height: 160px;
		padding: 0;
	}
	.card-img-top {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 210px;
		width: 100%;
	}
	.card-body {
		padding-top: 0px;
	}
	.card-text {
		font-size: 16px;
		line-height: 1.5;
		color: $mg-stability;
	}
  &.featured {
    .card-img-top {
      max-width: 190px;
      margin-top: -10px;
    }
  }
}


@include media-breakpoint-down(sm) {
  .review .card-text {
    min-height: 148px;
  }
  #reviews .slick-nav {
    margin-top: -48px;
  }
}

@include media-breakpoint-up(md) {
	.review {
		height: auto !important;
		.review-logo {
			height: 120px;
		}
		.card-img-top {
			max-width: 180px;
		}
    &.featured {
      .card-img-top {
        max-width: 180px;
        margin-top: -6px;
      }
    }
		.card-body {
			padding-top: 0px;
		}
		.card-text {
			font-size: 15px;
			line-height: 24px;
      min-height: 125px;
			color: $mg-stability;
      padding-left: 4px;
      padding-right: 4px;
		}
	}
}


@include media-breakpoint-up(lg) {
	.review {
		.card-text {
			height:148px;
		}
    .card-img-top {
			max-width: 210px;
		}
    &.featured {
      .card-img-top {
        max-width: 180px;
        margin-top: -8px;
      }
    }
    .review-logo {
			height: 140px;
		}
	}
}

.review-icon {
	display: inline-block;
	overflow: hidden;
	height: 32px;
	width: 32px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 38px;
	line-height: 48px;
	border-radius: 50%;
	font-family: georgia;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background-color: $mg-autonomy-light;
}


.bg-primary-light { background-color: $mg-autonomy-lighter; }

.testimonial {
	color: #35265F;
	background-color: #F9F9F9;
	hr {
		margin-top: 1.375rem;
		margin-bottom: 1.375rem;
	}
	.card-text {
		font-size:16.5px;
		line-height: 25px;
	}
	small {
		display: block;
		font-size: 13px;
		line-height: 17px;
		color: #58595B;
		margin-top: 4px;
	}
	.testimonial-stars {
		position: relative;
		margin-top: 4px;
	}
}


@include media-breakpoint-down(sm) {
	.video-callout {
		.container {
			padding: 0px;
		}
	}
}


.cta-dock {
	display: none;
	width: 100%;
  position: fixed;
  left: 0;
  bottom: -90;
  z-index: 999;
  transition: all .2s linear;

	&.docked {
    display:block;
    bottom: 0;
	}

  .btn-outline {
    border-width: 1px;
  }
}

.footer-links {
  li {
    font-size: 12px;
  }
}

@include media-breakpoint-up(sm) {
	.cta-dock {
		position:fixed;
		width:100%;
		background-color:#675B8D;
	}

  .dock-wrapper {
    .container {
      overflow: visible;
    }
  }
}

@include media-breakpoint-up(sm) {
  .otg_slider {
    .card {
        margin-left: 6px;
        margin-right: 6px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .otg_slider {
    .card {
        margin-left: 8px;
        margin-right: 8px;
    }
  }
}

// .prod-gallery {
//   .btn-icon {
//     height: 24px;
//     width: 24px;
// 		background-size:22px;
//   }
// 	.slider-nav-btn {
// 		position: absolute;
// 		top: 50%;
// 		left: 0;
// 		margin-top: -13px;
// 		&.slider-nav-prev {
// 			left: 8px;
// 		}
// 		&.slider-nav-next {
// 			left: auto;
// 			right: 8px;
// 		}
// 		&.slick-disabled {
// 	    opacity: 0.2;
// 	  }
// 	}
//   .card-deck .card {
//     padding: 4px 0;
//     margin-right: 4px;
//     margin-left: 4px;
//     border-radius: 3px;
// 		&:hover {
// 			border: 2px solid $mg-stability;
// 		}
//     a {
//       text-decoration: none;
//     }
//   }
// }

// .gallery-img img {
// 	max-height: 300px;
// 	width: auto;
// 	margin-left: auto;
// 	margin-right: auto;
// }

.caret-up {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 2c-.41 0-.77.48-.97.72L.16 8.75l-.01.01a.7.7 0 00-.15.42c0 .45.17.82.79.82h10.42c.62 0 .79-.37.79-.82 0-.15-.06-.3-.16-.42l-.01-.01-4.86-6.03C6.77 2.48 6.41 2 6 2z' fill='%2335265f'/%3E%3C/svg%3E");
}
.caret-down {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 10c.41 0 .77-.48.97-.72l4.87-6.02.01-.01a.75.75 0 00.15-.43c0-.45-.17-.82-.79-.82H.79C.17 2 0 2.37 0 2.82c0 .15.06.3.16.42l.01.01 4.87 6.02c.19.25.55.73.96.73z' fill='%2335265f'/%3E%3C/svg%3E");
}


.phone {
  padding-left:34px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%2335265f'/%3E%3C/svg%3E");
	background-size: 36px;
}


.full-bleed {
    margin-left: -20px;
    margin-right: -20px;
}

.form-group {
	margin-bottom: 1rem;
}
@include media-breakpoint-up(lg) {
  .form-group {
  	margin-bottom: 24px;
  }
}

.form-control {
	border: none;
    border-bottom: 2px solid #C5C5C7;
    border-radius: 0px;
    height: 48px;
		font-size: 16px;
}

.phone-icon {
	position: relative;
	&::before {
		display: inline-block;
		position:inline;
		vertical-align: middle;
		margin:-1px;
		height:24px;
		width:24px;
		content: '';
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%2335265f'/%3E%3C/svg%3E");
		background-size: 24px;
	}
}

.white-phone-icon {
	position: relative;
	&::before {
		display: inline-block;
		position:inline;
		vertical-align: middle;
		margin:-1px;
		height:22px;
		width:22px;
		content: '';
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%23ffffff'/%3E%3C/svg%3E");
		background-size: 22px;
	}
	&.md::before {
		height: 26px;
		width: 26px;
		background-size: 26px;
	}
}

.btn .btn-icon.phone {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    vertical-align: middle;
    margin-top: -1px;
    padding: 0;
}

.countdown {
	.time {
		display:inline-block;
		overflow: hidden;
		width:64px;
		height:76px;
		margin: 0 0 0 3px;
		text-align: center;
		background-color: $mg-stability;
		border-radius: 4px;
		color: #fff;
		&:first-child {
			margin-left: 0;
		}
		.label {
			font-size: 12.5px;
			line-height: 30px;
			font-weight: 600;
		}
		.digits {
			display: block;
			font-size: 40px;
			line-height: 30px;
			font-weight: 700;
			letter-spacing: -0.04em;
		}
	}
}

@include media-breakpoint-down(sm) {
  .form-panel {
    margin-left: -18px;
    margin-right: -18px;
  }
  .form-group {
    padding: 0 18px;
  }
}

@include media-breakpoint-up(md) {
  .info-panel.form-panel {
    .btn-quiz {
      height:80px;
      line-height: 72px;
      padding-right: 48px;
      font-size: 28px;
      &:before {
        right: 16px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .info-panel.form-panel {
    .btn-quiz {
      height:80px;
      line-height: 72px;
      padding-right: 48px;
      font-size: 28px;
      &:before {
        right: 24px;
      }
    }
  }
}



@import "../layout/mg.footer";


// @media all and (-ms-high-contrast: none),
// (-ms-high-contrast: active) {
// html[data-useragent*='MSIE 10.0'] {

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.text-gradient {
        color: #35265F;
        background: transparent;
    }
}
// html[data-useragent*='MSIE 11.0'] {
// 		.text-gradient {
//         color: #35265F;
//         background: transparent;
//     }
//     .prod-gallery .slider-nav-btn,
// 		.prod-gallery .gallery-nav {
//       display:none !important;
//     }
//     #reviews {
//       display: none !important;
//     }
// 		#customers {
//       display: none !important;
//     }
// 		.prod-desc .star-rating {
//       display: none !important;
//     }
// }





.banner {
  color: #fff;
  letter-spacing: 0.01em;
  background-color: #35265F;
  background-image: linear-gradient(90deg, rgb(53, 38, 95) 0%, rgb(222, 31, 47) 100%);
  .icon::before {
    font-size: 1.375rem; line-height: 24px; margin: 0; padding: 0; vertical-align: top; color: #CFFFFE;
  }
  a {
    color: #CFFFFE;
    text-decoration: none;
  }
}



/*
.slick-dots li button:before, .slick-slider .gallery-dots .slilck-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 16px;
    height: 16px;
    font-family: "slick";
    font-size: 14px;
    line-height: 16px!important;
    text-align: center;
    color: #612653;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/

.error-text {
  display: none;
}

.btn {
  &.plus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.75 2a.75.75 0 01.75.75V7h4.25a.75.75 0 110 1.5H8.5v4.25a.75.75 0 11-1.5 0V8.5H2.75a.75.75 0 010-1.5H7V2.75A.75.75 0 017.75 2z'/%3E%3C/svg%3E");
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;

    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0;
    width: 24px;
  }
}
/* aa edits*/
.icon-phone-global::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 4px;
}
.icon-phone-global.aqua::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M5.77 2a1 1 0 01.66.35A83.65 83.65 0 0110.07 6c.33.35.3.75-.1 1.19l-1 1.07c-1.34 1.42-2 2.13-1.33 3.44a22 22 0 008.53 8.61l.45.24h.51c.84 0 1-.17 2.79-1.85l.76-.71a1.24 1.24 0 01.68-.39.89.89 0 01.48.27 66.25 66.25 0 013.77 3.73c.42.46.42.72 0 1.16l-.1.1a14.92 14.92 0 01-3.39 3 2.65 2.65 0 01-.62.1c-.41-.05-1.86-.36-2.16-.44a25.74 25.74 0 01-12.6-8.84 24.15 24.15 0 01-4.62-9.02 4.16 4.16 0 010-1.82A17.14 17.14 0 015.18 2.3a.94.94 0 01.59-.3m0-2a2.83 2.83 0 00-1.94.82S.88 3.46.17 5.23a6.05 6.05 0 000 2.9A26 26 0 005.26 18a27.62 27.62 0 0013.57 9.49 22.65 22.65 0 002.7.53 4.59 4.59 0 001.35-.22c1.53-.63 4-3.37 4.25-3.61a2.64 2.64 0 000-3.91 66.9 66.9 0 00-3.88-3.84 2.73 2.73 0 00-1.83-.79 3 3 0 00-2.05.93c-.75.7-2.12 2-2.18 2a20.07 20.07 0 01-7.79-7.84s1.49-1.6 2.05-2.23a2.76 2.76 0 00.06-3.9A129.78 129.78 0 007.81.9a3 3 0 00-2-.9z' fill='%23CFFFFE' data-name='phone'/%3E%3C/svg%3E");
}
.icon-phone-global.darkblue::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M5.77 2a1 1 0 01.66.35A83.65 83.65 0 0110.07 6c.33.35.3.75-.1 1.19l-1 1.07c-1.34 1.42-2 2.13-1.33 3.44a22 22 0 008.53 8.61l.45.24h.51c.84 0 1-.17 2.79-1.85l.76-.71a1.24 1.24 0 01.68-.39.89.89 0 01.48.27 66.25 66.25 0 013.77 3.73c.42.46.42.72 0 1.16l-.1.1a14.92 14.92 0 01-3.39 3 2.65 2.65 0 01-.62.1c-.41-.05-1.86-.36-2.16-.44a25.74 25.74 0 01-12.6-8.84 24.15 24.15 0 01-4.62-9.02 4.16 4.16 0 010-1.82A17.14 17.14 0 015.18 2.3a.94.94 0 01.59-.3m0-2a2.83 2.83 0 00-1.94.82S.88 3.46.17 5.23a6.05 6.05 0 000 2.9A26 26 0 005.26 18a27.62 27.62 0 0013.57 9.49 22.65 22.65 0 002.7.53 4.59 4.59 0 001.35-.22c1.53-.63 4-3.37 4.25-3.61a2.64 2.64 0 000-3.91 66.9 66.9 0 00-3.88-3.84 2.73 2.73 0 00-1.83-.79 3 3 0 00-2.05.93c-.75.7-2.12 2-2.18 2a20.07 20.07 0 01-7.79-7.84s1.49-1.6 2.05-2.23a2.76 2.76 0 00.06-3.9A129.78 129.78 0 007.81.9a3 3 0 00-2-.9z' fill='%23332F63' data-name='phone'/%3E%3C/svg%3E");
}

.icon-phone-global.medium-phone::before {
 height: 25px;
 width: 25px;
}
.ls-0 {
  letter-spacing: 0 !important;
}

.mg_underline {
	display:inline-block;
  background-image: linear-gradient(to bottom, #66D2F2 63%, transparent 33%);
  background-position: 0 .92em;
  background-repeat: repeat-x;
  background-size: 2px 8px;
}

.big-number-bullet {
  display: inline-block;
  height: 56px;
  width: 56px;
  line-height: 56px;
  font-size: 28px;
  color: $mg-harmony;
  background: #fff;
  font-weight: 800;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px $grey-medium;
}

.tool-tip {
  background-color: $mg-calm-lightest;
  color: $mg-stability;
  font-weight: 600;
  font-size: 17px;
}



.btm-footer {
  box-shadow:0 24px 24px -2px rgba(47,39,39,.06);
}


.btn-shop {
  line-height: 44px;
  font-size: 18px;
  padding: 0 2.7rem 0 2.4rem;
  &:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      top: 50%;
      margin-top:-6px;
      right: 16px;
      border-style: solid;
      border-width: 6px 0 6px 8px;
      border-color: transparent transparent transparent #ffffff;
  }
}



.slick-dots {
    bottom: -44px;
  }
.slick-dots li {
  height: 16px !important;
  width: 16px !important;
  margin: 0 2px;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 16px !important;
    height: 16px !important;
    font-family: "slick";
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center;
    color: #612653;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button, .slick-dots li button:before {
    height: 16px !important;
    width: 16px !important;
    font-size: 12px !important;
}

@include media-breakpoint-up(sm) {
	.slick-list .slick-track {
	  display: flex;
	}
}
@include media-breakpoint-up(md) {
	.slick-list .slick-track {
	  display: flex;
	}
  .testimonials .testimonials_slider {
    .slick-dotted.slick-slider {
        margin-bottom: 40px !important;
    }
  }
}

.slick-slide {
  height: auto;
}



/* ------------ EXIT MODAL ------------- */
.form-control:active, .form-control:focus, .form-control.active, .form-control.focus,
input:active, input:focus, input.active, input.focus,
button:active, button:focus, button.active, button.focus {
    box-shadow: none;
    outline: none;
}

.modal-exit .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #232424;
}
.modal-exit .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #232424;
}
.modal-exit .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #232424;
}
.modal-exit .form-control:-moz-placeholder { /* Firefox 18- */
  color: #232424;
}

.modal-open .modal {
  background-color: transparent;
}

.modal-exit label.error {
  display: block !important;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #fd1127;
  font-weight: 500;
  padding: 4px;
  margin: 0px 0 0px 0;
}

.modal-backdrop.in {
    opacity: .8;
  }
  .modal-backdrop {
background-color: #ace9f4;
}

.modal .form-control {
  padding-left: 12px;
  border-radius: 1px;
  border:1px solid #fff;
  background: #fff;
}

.modal-exit .modal-dialog {
    max-width: 990px;
    margin-top:4rem;
    width: 90%;
    background-color:#35265F;
}

.modal .close-btn {
  display: inline-block;
  overflow:hidden;
  height: 32px;
  width: 32px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16' xml:space='preserve'%3E %3Cg id='close'%3E %3Cpath style='fill:%2335265F' d='M9.39,8l5.33-5.36c0.38-0.39,0.37-1-0.03-1.37c-0.4-0.37-1.03-0.36-1.41,0.02L8,6.6L2.72,1.3 C2.34,0.91,1.7,0.9,1.31,1.27C0.91,1.64,0.9,2.26,1.28,2.64L6.61,8l-5.33,5.36c-0.38,0.38-0.37,1,0.03,1.37C1.5,14.91,1.75,15,2,15 c0.26,0,0.52-0.1,0.72-0.3L8,9.4l5.28,5.31c0.2,0.2,0.46,0.3,0.72,0.3c0.25,0,0.5-0.09,0.69-0.27c0.4-0.37,0.41-0.99,0.03-1.37 L9.39,8z'/%3E %3C/g%3E %3C/svg%3E");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius:50%;
  border:2px solid #fff;
}
.modal .close-btn:hover {
  border:2px solid #C0FDFC;
}


.modal .modal-dialog,
.modal.show .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    transition: all .5s linear;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(-50%, -50%);
}

.modal-exit .modal-dialog .modal-content {
    pointer-events: auto;
    color: #fff;
    background-color: #35265F;
    width: 100%;
    margin: -16px 0 0;
    padding: 0px 20px 36px;
    border: 0 solid rgba(0,0,0,0.2);
    border-radius: 0px;
    box-shadow: 0 8px 24px rgba(22,26,33,0.5);
    box-shadow: none;
    outline: 0;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    height: auto;
    box-shadow: 0px -32px 0px #35265F;
}
.modal-exit h3, .modal-exit p {
  color: #fff;
}
.modal-exit h3 {
  font-size: 34px;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0px;
}
.modal-exit .modal-title {
    margin: 0;
    line-height: 1.42857;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.28em;
    font-weight: 600;
}
.modal-exit .modal-header {
    padding: 4px 0 0;
    border-bottom: none;
}
.modal-exit .modal-body {
    position: relative;
    padding: 4px 20px;
}
.modal-exit p {
  font-weight:400;
  font-size: 16px;
line-height: 1.375;
}
.modal-exit p strong {
  font-weight: 700;
}
.modal-exit .caption {
    font-size: 8px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
.modal-exit .caption a {
  color: #ace9f4;
}
.modal-exit .btn.btn-primary {
    height: 48px;
    background-color: transparent;
    text-transform:capitalize;
    border: 2px solid #ace9f4;
    color: #fff;
    border-radius: 24px;
    font-size: 17px;
    font-weight: 700;
    transition: all .2s linear;
}
.modal-exit .btn.btn-primary:hover {
  color: #fff;
  border-color: #fff;
}
.modal-exit .form-horizontal {
    /* max-width: 280px; */
    margin: 16px 15px 12px;
}

/* #modal-content-form {
  display: none;
} */
#modal-content-success {
  display: none;
  text-align: center;
  padding-bottom: 32px;
 }
 .modal-exit .lead {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-align: center;
    margin: 0 0 6px;
    padding: 0;
}
 .modal-exit .exit-phone {
    font-size: 36px;
    line-height: 1.375;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin: 0 0 8px 0;
    padding: 0;
    text-align: center;
}
.modal-exit .exit-phone a {
  text-decoration: none;
  color: #fff;
  cursor: default;
  font-weight: 700;
}

.modal-exit .close-btn {
  display:block;
  cursor: pointer;
  margin-right: -0.5rem;
}

.modal-exit .close-btn {
    opacity: 0.8;
}



.hidden {
  display:none;
}
