
//


@import "../abstracts/mg.mixins.scss";
@import "../abstracts/mg.colors.scss";

@import "../abstracts/mixins"; // Required
@import "../abstracts/functions"; // Required
@import "../abstracts/mg.variables.landing"; // Required: ;
@import "../abstracts/variables"; // Required

//@import "../base/mg.fonts";

//@import "vendors/bootstrap/root";
@import "../base/reboot"; // Required
@import "../base/type";
@import "../base/images";
//@import "../base/code";
@import "../base/grid";
//@import "../base/tables";
@import "../base/forms";
@import "../base/buttons";
@import "../base/transitions";
@import "../components/dropdown";
@import "../components/button-group";
@import "../components/input-group"; // Requires forms
@import "../base/custom-forms";
//@import "../components/nav";
//@import "../components/navbar"; // Requires nav
//@import "../components/mg.navbar";
@import "../components/card";
//@import "../components/pagination";
@import "../components/badge";
@import "../components/jumbotron";
//@import "../components/alert";
@import "../components/progress";
@import "../components/media";
@import "../components/list-group";
@import "../components/close";
//@import "../components/toasts";
@import "../components/modal"; // Requires transitions
//@import "../components/tooltip";
//@import "../components/popover";
//@import "../components/carousel";
@import "../components/spinners";
@import "../base/utilities";
//@import "vendors/bootstrap/print";

@import "../base/mac.typography";
@import "../base/mg.forms";
@import "../base/mg.custom-forms";
@import "../base/mg.icons";
@import "../components/mg.nav";

@import "../components/mg.navbar";

$mac-primary: #2582F9;
$mac-secondary: #FD6335;
$mac-sky: #E9F8FF;
$mac-accent: #ACB9E1;
$border-color: $mac-accent;

//
// Custom styles
//

/**
 * Smooth scrolling on the whole document
 */
 /*
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	max-width: 100%;
	width: 100%;
	min-height: 100%;
  font-size: 16px;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.section {
	overflow: hidden;
	padding: 3rem 0;
	position: relative;
	background-color: #fff;
}
@include media-breakpoint-up(md) {
	.section {
		overflow: hidden;
		padding: 3.75rem 0 3.5rem;
	}
}

@include media-breakpoint-up(lg) {
	.section {
		overflow: hidden;
		padding: 4.375rem 0 4.2rem;
	}
}
// @include media-breakpoint-up(lg) {
// 	.section {
// 		overflow: hidden;
// 		padding: 5.5rem 0 3.5rem;
// 	}
// }
// @include media-breakpoint-up(xl) {
//   .section {
//     padding: 5.75rem 0 3.75rem;
//   }
// }


.container {
	max-width: 1180px;
}

@media (min-width: 576px) and (max-width: 768px){
	.container, .container-sm, .container-md {
		overflow: hidden;
		max-width: 100%;
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 990px){
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media (max-width: 990px){
	body {
	    overflow-x: hidden;
			max-width: 100%;
			width: 100%;
	}
}

@include media-breakpoint-down(sm) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.no-mobile {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	.dt-only {
		display:none;
	}
}

@import "../components/mg.buttons";
@import "../components/mg.controls";
@import "../components/mg.cards";
@import "../components/mg.accordion";
@import "../components/mg.modals";
@import "../components/mg.media";

.hidden {
  display:none;
}



.nowrap {
  white-space: nowrap;
}


body {
	font-family: 'Poppins';
	font-size: 16px;
	line-height: 24px;
  color: #0D1B44;
}

h1, .h1 {
	font-size: 26px;
	line-height: 28px;
	font-weight: 700;
}
h2, .h2 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
}
h3, .h3 {
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
}

@include media-breakpoint-up(md) {
  h2, .h2 {
  	font-size: 33px;
  	line-height: 38px;
  	font-weight: 400;
    &.alt {
      font-size: 36px;
    }
    &.sign-off {
      font-size: 40px;
      line-height: 1.25;
    }
  }
  h4, .h4 {
  	font-size: 26px;
  	line-height: 28px;
  	font-weight: 400;
  }
}

strong {
	font-weight: 700;
}

h1, h2 {
  strong {
  	font-weight: 800;
    color: #0D1B44;
  }
}

h1,h2,h3,h4,h5,p,li {
  color: #0D1B44;
}

p:last-child {
  margin-bottom: 0;
}

.lead {
	font-size: 26px;
	line-height: 28px;
	font-weight: 400;
  color: #0D1B44;
}

.subtitle,
.jumbotron .subtitle {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #0D1B44;
}
.bullet {
  display: inline-block;
  height: 52px;
  width: 52px;
  font-size:28px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  background-color: #E9F8FF;
  overflow: hidden;
  border-radius: 50%;
}

.bg-bright { background-color: $mac-primary; }
.text-bright { color: $mac-primary; }
.bg-secondary { background-color: $mac-secondary !important; }

.bg-secondary {
  p { color: #fff; font-weight: 400; }
}

.leading-tight {
  line-height: 1.2;
}
.leading-tighter {
  line-height: 1.375;
}
.leading-none {
  line-height: 1;
}
.leading {
  line-height: 1.5;
}
.leading-1 {
  line-height: 1.75;
}
.leading-more {
  line-height: 2.375;
}
.leading-most {
  line-height: 3;
}



.btn {
  border-radius: 5px;
  height: 48px;
  font-size: 18px;
  &.btn-primary-alt {
    background-color: #0D1B44;
    border-color: #0D1B44;
    color: #fff;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    &.btn-lg {
      font-size:22px;
    }
    &:hover, &:focus, &:active {
        background-color: #2582F9;
        border-color: #2582F9;
    }
    // &::before,&::after {
    //   display: none;
    // }
    &.arrow {
      position: relative;
      &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 0;
          height: 0;
          top: 50%;
          margin-top:-8px;
          right: 12px;
          border-style: solid;
          border-width: 8px 0 8px 13px;
          border-color: transparent transparent transparent #ffffff;
      }
    }
  }
  &.btn-secondary {
    background-color: $mac-secondary;
    border-color: $mac-secondary;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.16);
    &:hover, &:focus, &:active {
      background-color: #ff7a3f;
      border-color: #ff7a3f;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.14);
    }
  }
  &.btn-lg {
    font-size:18px;
    height: 60px;
    line-height: 54px;
    border-radius: 5px;
  }
  &.btn-xl {
    font-size:22px;
    height: 60px;
    line-height: 54px;
    border-radius: 5px;
  }
  &.btn-stacked {
    height: auto;
  }
  &.btn-quiz {
    display: block;
    background-color: #E9F8FF;
    border: 1px solid #ACB9E1;
    border-radius: 3px;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.095);
    font-size: 20px;
    line-height:62px;
    width: 100%;
    height:65px;
    color: #0D1B44;
    text-align: left;
    margin: 12px 0 13px;
    &:hover, &:focus, &:active {
      background-color: #CAEAF8;
    }
    &.arrow {
      position: relative;
      &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 0;
          height: 0;
          top: 50%;
          margin-top:-8px;
          right: 16px;
          border-style: solid;
          border-width: 8px 0 8px 12px;
          border-color: transparent transparent transparent #0D1B44;
      }
    }
  }
  .btn-label {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    color: #0D1B44;
  }
}


  .btn.btn-xl {
    font-size: 30px;
    color: #fff;
  }


.btn-arrow {
  position: relative;
  &:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      top: 50%;
      margin-top:-8px;
      right: 20px;
      border-style: solid;
      border-width: 10px 0 8px 8px;
      border-color: transparent transparent transparent #ffffff;
  }
}

.bg-dim {
	background-color: #F8F9FA
}
.bg-sky {
  background-color: $mac-sky;
}

@include media-breakpoint-down(xs) {
  .bg-sm-sky {
    background-color: $mac-sky;
  }
}



.jumbotron {
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.jumbotron {
  h1 {
   font-size: 30px;
   line-height: 32px;
   strong {
     font-weight:700;
   }
 }
}
@include media-breakpoint-down(xs) {
  .jumbotron.white-bg {
    background: #fff;
  }
}

@include media-breakpoint-up(sm) {
  h1 {
   line-height: 1.1;
   strong {
     font-weight:700;
   }
  }
  .jumbotron {
    h1 {
      font-size: 36px;
     line-height: 1.2;
     strong {
       font-weight:700;
     }
   }
  }
}

@include media-breakpoint-up(md) {
  .hero {
    position: relative;
    // box-shadow: inset 0 570px 0px #E9F8FF;
    background-color: #E9F8FF;

    .jumbotron {
      padding-top: 0rem;
      background: none;
      padding-bottom:3.75rem;
      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
    &.bg-intro {
      background-color: #F8F9FA;
      background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/bg.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 586px;
      .jumbotron {
        background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/hero-bg.svg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 1600px 600px;
        padding-bottom: 0.5rem;
        min-height: 615px;
      }
    }
  }
  .jumbotron {
    h1 {
      font-size: 44px;
     line-height: 46px;
     font-weight: 800;
     strong {
       font-weight:700;
     }
   }
  }
}

.quiz-question {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

@include media-breakpoint-up(md) {
  .jumbotron {
  	padding-bottom: 0rem;
  }
  h2.quiz-question {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }
}

@include media-breakpoint-up(lg) {
  .jumbotron {
  	padding-bottom: 0rem;
  }
  h2.quiz-question {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
  }
}

.progress {
  display: none;
  height: 8px;
  border-radius: 0;
  background: #CAEAF8;
  .progress-bar {
    background: $mac-secondary;
    height: 8px;
  }
}


.checklist {
  li {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cellipse ry='8.11693' rx='8.11693' id='disc' cy='10' cx='10' fill='%230d1b44'/%3E%3Cpath id='check' d='m13.27,7.28062a0.73,0.73 0 0 0 -0.53,0.22l-3.74,3.74l-1.97,-1.98a0.8,0.8 0 0 0 -0.53,-0.22a0.76,0.76 0 0 0 -0.75,0.75c0,0.21 0.08,0.39 0.22,0.53l2.5,2.5c0.14,0.14 0.32,0.22 0.53,0.22s0.39,-0.08 0.53,-0.22l4.27,-4.27a0.73,0.73 0 0 0 0.22,-0.53c0,-0.4 -0.34,-0.74 -0.75,-0.74z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
  &.offer-list {
    li {
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 8px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .checklist {
    li {
      font-size: 13.5px;
line-height: 18px;
margin-bottom: 6px;
padding-left: 26px;
      &::before {
        top: -1px;
        height: 20px;
        width: 20px;
      }
    }
  }
  .bullet-check {
    height:20px;
    width: 20px;
  }
}

.review-logo {
  display: inline-block;
  position: relative;
  width: 270px;
  height: 102px;
  margin: 12px;
  background-color: #ffffff;
  border: 1px solid rgba(206,212,229,0.42);
  box-shadow: 0 3px 8px -3px rgba(206,212,229,0.4);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include media-breakpoint-down(xs) {
  .review-logo {
    margin: 2px 0;
  }
}

@include media-breakpoint-up(md) {
  .expert-bio {
  	font-size: 18px;
  	line-height: 32px;
  }

  .progress {
    display: none;
    height: 18px;
    border-radius: 0;
    .progress-bar {
      background: $mac-secondary;
      height: 18px;
    }
  }
}


.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .logo {
    width: 31.5%;
    padding-bottom: 12%; /* 32:18, i.e. 16:9 */
    margin-bottom: 3%; /* (100-32*3)/2 */
    background-color: #ffffff;
    position: relative;
    border: 1px solid rgba(206,212,229,0.35);
    box-shadow: 0 3px 9px rgba(17,17,17,0.8);
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.btm-dock { display:none; }

@include media-breakpoint-down(xs) {
  .btm-dock {
    padding: 10px 25px;
    display: block;
    position:fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 10;
    .btn {
      height: 62px;
      width: 100%;
      padding:4px 0;
      border-radius: 34px;
      font-size:22px;
      line-height: 1.2;
    }
    .btn-label {
      font-size: 12px;
      line-height: 1.375;
      color: #0D1B44;
      font-weight: 500;
    }
  }
}

.step-4 .table {
  margin: 0 auto;
  width: auto;
  tr {
    td:first-child {
      width: 60px;
    }
    td:last-child {
      color: #0D1B44;
      font-size: 15.5px;
      min-width: 260px;
    }
  }
}

@include media-breakpoint-up(md) {
  .step-4 .table {
    margin: 0 auto;
    width: auto;
    tr {
      td:first-child {
        width: 64px;
      }
      td:last-child {
        min-width: 1px;
        width: 290px;
        white-space: nowrap;
        color: #0D1B44;
        font-size: 18px;
      }
    }
  }
}

.quiz,
.card.quiz {
  border-radius: 3px;
  border: none;
}

.step {
  display:none;
  .quiz {
    box-shadow: 2px 6px 36px rgba(0,0,0,0.13);
  }
  &.step-1 {
    .btn.btn-quiz {
      display: inline-block;
      height: 228px;
      width: 188px;
      padding: 0;
    }
  }
  &.step-1 {
    display:block;
  }
  &.step-4 {
    .quiz {
      box-shadow: none;
    }
  }
}



@include media-breakpoint-up(sm) {
  .step {
    &.step-1 {
      .quiz {
        max-width: 560px;
      }
      .btn.btn-quiz {
        display: inline-block;
        height: 220px;
        width: 190px;
        padding: 0;
        margin: 8px 10px 16px;
        .btn-label {
          margin-top: 20px;
          margin-bottom: 16px;
        }
      }
    }
    .quiz {
      min-height:360px;
    }
  }



  // #quiz {
  //   margin-bottom: -80px;
  //   position:relative;
  //   z-index:10;
  // }
}

#quiz {
  padding-top: 0px;
}


.form-group {
  margin-bottom:0.5rem;
}
.form-control {
	   padding: 8px 16px;
    border: 1px solid $border-color;
    border-radius: 3px;
    height: 50px;
		font-size: 16px;
    background-color: $mac-sky;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.phone-icon {
	position: relative;
	&::before {
		display: inline-block;
		position:inline;
		vertical-align: middle;
		margin:-1px;
		height:24px;
		width:24px;
		content: '';
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%2335265f'/%3E%3C/svg%3E");
		background-size: 24px;
	}
  &.sm::before {
		height: 28px;
		width: 28px;
		background-size: 28px;
	}
  &.md::before {
		height: 32px;
		width: 32px;
		background-size: 32px;
	}
}

.white-phone-icon {
	position: relative;
	&::before {
		display: inline-block;
		position:inline;
		vertical-align: middle;
		margin:-1px;
		height:22px;
		width:22px;
		content: '';
		background-repeat: no-repeat;
		background-position: left center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath d='M9.37 6c.26 0 .53.1.63.23.36.47 1.88 3.47 1.86 3.93l-.03.08v.08c0 .28-.68.93-.9 1.15l-.15.14-.2.19.1.26a9.81 9.81 0 005.14 5.45l.26.1.2-.2.35-.4c.29-.34.72-.86 1.1-.86l.16.02.03-.02a22 22 0 013.33 2.03c.19.15.39.63.12 1.03-.3.46-1.6 1.79-2.07 2.27-.36.36-.69.52-1.04.52-5.4-.51-11.66-7.36-11.76-12.85 0-.73 1.77-2.5 2.5-3.06A.65.65 0 019.37 6' fill='%23ffffff'/%3E%3C/svg%3E");
		background-size: 22px;
	}
  &.sm::before {
		height: 28px;
		width: 28px;
		background-size: 28px;
	}
  &.md::before {
		height: 32px;
		width: 32px;
		background-size: 36px;
    margin-right: 1px;
	}
  &.lg::before {
		height: 46px;
		width: 46px;
		background-size: 44px;
	}
}

.white-phone-icon.md:after {
  content: '';
    height: 8px;
    width: 8px;
    background-color: #14DB1B;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    margin-top: -8px;
    position: absolute;
    right: 5px;
}

.white-phone-icon.lg:after {
    content: "";
    height: 11px;
    width: 11px;
    background-color: #14DB1B;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    margin-top: -11px;
    position: absolute;
    right: 10px;
}

.btn .btn-icon.phone {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    vertical-align: middle;
    margin-top: -1px;
    padding: 0;
}
.btn.btn-xl .white-phone-icon {
  margin-right: -6px;
  top: -1px;
}

.hero-cta {
  .btn.btn-xl {
    height: 48px;
    line-height:46px;
  }
}

.hero .jumbotron .step-1 .bubble,
.step-1 .bubble {
  display: block;
  max-width: 300px;
  width: 300px;
  height: 150px;
  // position: absolute;
  // left: 50%;
  // top: auto;
  // bottom: 82px;
  // transform: translateX(-50%);
  background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/talk-bubble.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 300px 150px;
  z-index:20;
  font-size: 12px;
  line-height: 17px;
  color: #0D1B44;
  text-align:left;
}
.bubble h5,
.hero .jumbotron .bubble h5 {
  max-width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #0D1B44;
  margin-top: 4px;
  letter-spacing: -0.015em;
}
.bubble p,
.hero .jumbotron .bubble p {
  max-width: 192px;
  font-size: 12px;
  line-height: 18px;
  color: #0D1B44;
}
.bubble.bubble-alt,
.hero .jumbotron .bubble.bubble-alt {
  position: relative;
  display:block;
  width: 300px;
  height: 186px;
  background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/talk-bubble-alt.png');
  background-repeat: no-repeat;
  background-position: left top;
}
.hero .jumbotron .bubble.bubble-alt p,
.bubble.bubble-alt p {
  max-width:176px;
  margin-left:-4px;
  margin-bottom:14px;
  color: #0D1B44;
  a {
    color: #0D1B44;
    text-decoration: underline;
  }
}

@include media-breakpoint-up(md) {
  .hero .jumbotron .step-1 .bubble,
  .step-1 .bubble {
    display: block;
    max-width: 300px;
    width: 300px;
    height: 150px;
    // position: absolute;
    // left: auto;
    // right: 0;
    // margin-right: -116px;
    // top: 82px;
    // bottom: auto;
    // transform: translateX(-50%);
    // z-index:20;
    background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/talk-bubble.png');
    background-position: left top;
    background-size: 300px 150px;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 20px;
    color: #0D1B44;
    text-align:left;
  }
  .bubble h5,
  .hero .jumbotron .bubble h5 {
    max-width: 100%;
    font-size: 16px;
    line-height: 21px;
    color: #0D1B44;
    margin-top: 2px;
  }
  .hero .jumbotron .bubble h5.call-link {
    font-size: 26px;
    line-height:32px;
  }
  .bubble p,
  .hero .jumbotron .bubble p {
    max-width: 256px;
    font-size: 14px;
    line-height: 20px;
    color: #0D1B44;
  }
  .bubble.bubble-alt,
  .hero .jumbotron .bubble.bubble-alt {
    position: relative;
    display:block;
    width: 374px;
    height: 254px;
    background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/talk-bubble-alt-big.png');
    background-repeat: no-repeat;
    background-position: left top;
  }
  .hero .jumbotron .bubble.bubble-alt p,
  .bubble.bubble-alt p {
    max-width:256px;
    margin-left:0px;
    margin-bottom:14px;
    color: #0D1B44;
    a {
      color: #0D1B44;
    }
  }
}

@include media-breakpoint-up(lg) {
  .bubble h5,
  .hero .jumbotron .bubble h5 {
    max-width: 100%;
    font-size: 18.5px;
    line-height: 24px;
    color: #0D1B44;
    margin-top: 2px;
  }
  .hero .jumbotron .bubble h5.call-link {
    font-size: 26px;
    line-height:28px;
  }
  .bubble p,
  .hero .jumbotron .bubble p {
    max-width: 256px;
    font-size: 14px;
    line-height: 20px;
    color: #0D1B44;
  }
  .bubble.bubble-alt,
  .hero .jumbotron .bubble.bubble-alt {
    position: relative;
    display:block;
    width: 368px;
    height: 250px;
    background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/talk-bubble-alt-big.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 368px 250px;
  }
  .hero .jumbotron .bubble.bubble-alt p,
  .bubble.bubble-alt p {
    max-width:256px;
    margin-left:0px;
    margin-bottom:14px;
    color: #0D1B44;
    a {
      color: #0D1B44;
    }
  }
}

@include media-breakpoint-up(xl) {
  .step-1 .bubble-wrap {
    position: absolute;
    left: 50%;
    margin-left: 308px;
    top: 82px;
    bottom: auto;
    z-index:20;
  }
  .hero .jumbotron .step-1 .bubble,
  .step-1 .bubble {
    display: block;
    max-width: 300px;
    width: 300px;
    height: 150px;
    background-image: url('https://medicalalertcomparison.com/staging/free-quote/img/talk-bubble.png');
    background-position: left top;
    background-size: 300px 150px;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 20px;
    color: #0D1B44;
    text-align:left;
  }
}

// @include media-breakpoint-up(lg) {
//   .bubble.bubble-alt,
//   .hero .jumbotron .bubble.bubble-alt {
//     position:absolute;
//     top:142px;
//     right:116px;
//     left:auto;
//   }
// }

.jumbotron {
  p.caption {
    font-size:9px;
    line-height: 12px;
  }
}

.custom-control-label {
    color: #0D1B44;
    font-size: 14.5px;
line-height: 16.5px;
}



.custom-checkbox .custom-control-label::before {
  height: 22px;
  width:22px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    border-color: #ACB9E1;
    background-color: #E9F8FF;
}
.custom-checkbox .custom-control-label::after {
    position: absolute;
    top: -3px;
    left: -36px;
    display: block;
    width: 22px;
    height: 22px;
  }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230D1B44' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M16.7 5.3a1 1 0 010 1.4l-8 8a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4L8 12.58l7.3-7.3a1 1 0 011.4 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
}



#result {
  .hero-cta {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .logo {
    // width: 174px;
    // height: 36px;
    margin: -4px 0 -4px 4px;
  }
}

@include media-breakpoint-down(sm) {
  #result {
    .logo {
      // width: 174px;
      // height: 36px;
      margin: -4px 0 -4px 4px;
    }
  }
}
@include media-breakpoint-up(lg) {
  #result {
    .logo {
      width: auto;
      height: 44px;
    }
  }
}

.error-text {
  display:none;
}

.footer {
  font-size: 9px;
  line-height: 11px;
  padding: 2.8rem 0;
  p {
    font-size: 9px;
    line-height: 11px;
  }
  a {
    text-decoration:underline;
  }
}


@media only screen and (max-width: 640px) {
    .hero {
      background-color: #e9f8ff;
      padding: 0;
      display:block;
      overflow: hidden;
      max-height: 100%;
      max-height: 100vh;
      position: relative;
      display: flex;
      height:100%;
      height:100vh;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: normal;
      align-content: normal;
    }
    nav {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    .jumbotron {
      position:relative;
      background:none;
      display: block;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    .jumbotron h1 {
       font-size: 28px !important;
       line-height: 32px;
       font-weight: 700;
     }
     .jumbotron h1 strong {
       font-weight:700;
     }

     .quiz-question {
       font-size: 18px;
     }
     p {
       font-size: 16px;
     }

     .step-2, .step-3, .step-4, .step-5 {
       padding-top: 28px;
     }
     .step-2 .quiz, .step-3 .quiz, .step-4 .quiz, .step-5 .quiz {
       box-shadow: none;
     }

     .step-1 {
       background-color: #e9f8ff;
     }

     .step.step-1 .btn.btn-stacked {
       max-width: 140px;
       height: 150px;
       margin-left: 4px;
       margin-right: 4px;
     }
     .step.step-1 .btn.btn-stacked .btn-label {
       font-size:14.5px;
       text-align: center;
       margin: 16px 0 10px;
       font-weight:700;
       letter-spacing: -0.01em;
     }
     .step.step-1 .btn.btn-stacked img {
       max-width:78px;
     }
}

.step {
  position:relative;
}

.step-5 .quiz-question {
  max-width: 770px;
}

@media only screen and (max-width: 990px) {
  .step-1 .bubble-wrap,
  .step-2 .bubble-wrap,
  .step-3 .bubble-wrap {
    display:block;
    width:100%;
    text-align: center;
  }
  .bubble {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 990px) {
  .step-2 .bubble-wrap,
  .step-3 .bubble-wrap {
    position:absolute;top: 50px; left: 51%; margin-right: -184px;
    width: 300px;
    height: 186px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1180px) {
  #steps {
    padding-top: 0;
  }
  #quiz {
    padding-bottom: 2.2rem;
  }
  .jumbotron h1 {
    font-size: 34px;
    line-height: 40px;
}
  .step-2 .bubble p,
  .step-3 .bubble p {
    font-size: 15px;
    line-height: 22px;
  }
}

.parsley-errors-list {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13.5px;
    font-weight: 400;
    color: #df1111;
}
.parsley-required {
    padding: 0;
    margin: 0;
    color: #df1111;
    font-size: 14px;
}
.parsley-error {
    border-color: #df1111;
}


body.modal-exit-open {
      overflow:hidden;
      padding-right:15px;
    }
    .modal.modal-exit {
      display:none;
      overflow:hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height:100%;
      width:100%;
      background-color: rgba(13, 27, 68, .75);
      padding: 36px;
    }
    .modal-container {
      position:relative;
      overflow:hidden;
      height:100%;
      width: 100%;
      background-color: #fff;
      border-radius: 16px;
      background-image: url('https://www.medicalalertcomparison.com/free-quote/img/bg-strip.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .modal-container .d-table-row:first-child {
      position:relative;
      height:100%;
      width: 100%;
      background-image: url('https://www.medicalalertcomparison.com/free-quote/img/hero-bg.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    .modal-exit .btn.btn-submit {
      font-size: 24px;
      position:relative;
    }
    .btn.btn-primary-alt {
        background-image: url('https://www.medicalalertcomparison.com/free-quote/img/btn-arrow.png');
        background-repeat: no-repeat;
        background-position: right center;
    }
		.modal-exit .close-btn {
			position:absolute;
			right:24px;
			top:24px;
			font-weight:500;font-size:14px;
      background-color: #e9f8ff;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      box-shadow: 2px 2px 1px rgba(0,0,0,0.08);
      border: 1px solid #ACB9E1;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath fill='%2335265F' d='M15.9 4.04a.7.7 0 00-.99 0l-4.7 4.72-4.72-4.71a.7.7 0 00-.98.98l4.7 4.71-4.7 4.71a.7.7 0 00.98.99l4.71-4.71 4.71 4.7a.7.7 0 00.99 0 .7.7 0 000-.98l-4.71-4.7 4.7-4.72a.7.7 0 000-.99z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 36px 36px;
      text-indent: -999999px;
      overflow:hidden;
		}

    .close-link { color: #797979; }

    .modal-exit .display-2 { font-size: 42px; }
    .modal-exit .form-control {
      background-color: #fff;
    }

  .close-btn:hover {
    background-color: #CAEAF8;
  }
    @media only screen and (max-width: 1024px) {
      .modal-exit .display-2 { font-size: 40px; }
    }


  form {
  margin-top: 0em;
  margin-block-end: 0em;
  }
