@import "../abstracts/mg.colors.scss";

.inner-wrapper-sticky {

  padding-bottom: 30px;
  @media only screen and (max-width: 768px) {
    padding-bottom: 7px;
  }

  z-index: 3;
  position: relative;
  &:before {
    position: absolute;
    top: -20px;
    right: 0;
    height: 30px;
    width: 100%;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: $grey-lavendar;

    @media only screen and (max-width: 768px) {
      top: 1px;
      right: 0;
      height: 54px;
      z-index: 0;
      pointer-events: auto;
    }
  }

}

@media only screen and (min-width: 768px) {
  .home-table {
    .header.col-md-4 {

      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {

      flex: 0 0 37.5%;
      max-width: 37.5%;

    }
  }
}

.big {
  display: block;
}
.little {
  display: none;
}

.nav-tabs .nav-link {
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .big {
    display: none;
  }
  .little {
    display: block;
  }

  .card-title, .nav-tabs a {
    white-space: nowrap;
  }

}
@media only screen and (max-width: 990px) {
  .jumbotron {
    padding-top: 3rem;
  }
}
.prod-chooser {

  @media (min-width: 576px) and (max-width: 768px){
    .container, .container-sm, .container-md {
      overflow-x: unset;
      max-width: unset;
      width: unset;
    }
  }


  .tab-content {

    box-shadow: 0px 8px 21px 0px rgba(36,15,43,0.15);
  }


  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs {
    margin-bottom: 0px;
  }

  @media only screen and (max-width: 767px) {
    .now-viewing, .view {
      display: none !important;
    }


    .nav {
      width: 100%;
      margin-left: 4%;
      @media only screen and (min-width: 650px) {
        margin-left: 24%;
      }
    }
    .nav-tabs {
      z-index: 0;
      margin-top: 13px;
      .nav-item {
        position: relative;
        background-color: white;
        width: 46%;
        @media only screen and (min-width: 650px) {
          width: 25%;
        }
        .nav-link {
          position: relative;
          padding-left: 5px;
          padding-right: 5px;
          @media only screen and (max-width: 350px) {
           font-size: 12px;
         }

         background-color: #EAE9EE;

         &.active {
          background-color: white;
          width: 100%;
          box-shadow: 0px 0px 21px 0px rgba(36,15,43,0.15);
          border: none;
          z-index: 2;
        }
        &.active:after {
          position: absolute;
          bottom: -20px;
          right: 0;
          height: 30px;
          width: 100%;
          z-index: 1;
          pointer-events: auto;
          content: "";
          background-color: white;
        }
      }
    }
  }
}

.btn {
  width: 155px;

  display: block;
  margin: 0 auto 7px auto ;
}
.wrap-around-link {
  text-decoration: none;

}
img {
  height: 115px;
  width: auto;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    height: 100px;
    width: auto;
    margin-bottom: 9px;}
  }


  .now-viewing, .view {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 35px;
  }

  .now-viewing {display: none;}

  .col {
    width: 33.33% !important;

  }



  @media only screen and (max-width: 620px) {
    img {
      height: 79px;
      margin-bottom: 13px;
      margin-top: 10px;
    }
    .card-body {
      margin-bottom: 9px;
    }

    .btn {
      width: 100%;
    }
    .col {
      padding-left: 5px;
      padding-right: 5px;
    }
    .container {
      padding: 7px;

    }
    .btn-sm {

      padding: 0 5px;
    }
  }

  @media only screen and (max-width: 1010px) and (min-width: 500px) {
    .container {
      padding-left:18px;
      padding-right:18px;
      padding-bottom: 4px;
    }
  }





  @media only screen and (min-width: 768px) {

    .nav {
      display: inline-block;
      width: 25%;
      top: 10px;
      position: relative;
      z-index: 1;
    }
    .nav-item {

      height: 142px;
      background-color: #EAE9EE;
    }
    .nav-tabs {
      z-index: 2;
      .nav-item {
        position: relative;
        .nav-link {
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding-left: 20%;
          padding-right: 20%;
          &.active {
            background-color: white;
            box-shadow: 0px 8px 21px 0px rgba(36,15,43,0.15);
            border: none;
            .now-viewing {
              display: block;
            }
            .view {
              display: none;
            }


          }
          &.active:after {
            position: absolute;
            top: 0;
            right: -18px;
            height: 142px;
            width: 18px;
            z-index: 1;
            pointer-events: auto;
            content: "";
            background-color: white;
          }
        }
      }
    }
    .tab-content {
      z-index: 1;
      min-height: 284px;
      width: 75%;
      float: right;
      position: relative;
      top: 10px;
    }

  }

}




.big-table {
  margin-top: -30px;
  padding-bottom: 30px;
  @media only screen and (max-width: 767px) {
    margin-top: -5px;
    padding-bottom: 5px;
  }
  .parent {
    position: relative;
    min-height:300px;
    border-radius: 17px;
    @media only screen and (max-width: 767px) {
      min-height:300px;
    }
    .on-the-go-table, .home-table {
      padding-bottom: 16px;
      display: none;
      &.top {
        display: block;


      }
    }

  }
  .container .container {
    @media only screen and (min-width: 768px) {
      padding-top: 16px;
    }
  }

  @media only screen and (max-width: 1000px) {
    padding: 0 5px;
  }
  @media only screen and (max-width: 768px) {
    padding: 0 0px;
    .container {
      padding: 0 15px;
    }
  }
  @media only screen and (max-width: 500px) {

    .container {
      padding: 0 10px;
    }
  }



  .rowstyle {
    > .row:nth-child(even) {
      background: #fff;
    }
    > .row:nth-child(odd) {
      background: $grey-lavendar;
    }
    > div > div {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 48px;
      padding-top: 10px;
      padding-bottom: 10px;
      &.header {
        justify-content: left;
        color: $mg-stability;
        padding-right: 0px;
        @media only screen and (min-width: 768px) {
          white-space: nowrap;
          &.info-btn {
            white-space: normal;
          }
        }
        &.big {
          background-color: #EAE9EE;
          font-weight: 700;
          justify-content: center;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      > div > div {

        justify-content: center;
        min-height: 34px;
        &.header {
          .info-btn-link {
            &:after {
              height: 16px;
              width: 16px;
              right: -20px;
              top: 0px;
            }
          }

          justify-content: center;
          background: $grey-lavendar;
          border-bottom: none;
          font-size: 12px;
          min-height: 10px;
          padding-top: 3px;
          padding-bottom: 3px;
          &.big {
            min-height: 34px;
            font-size: 16px;
            background-color: #EAE9EE;
            font-weight: 700;
            padding-top:10px;
            padding-bottom: 10px;
            justify-content: center;
          }
        }
      }
      > .row:nth-child(even) {
        background: #fff;
      }
      > .row:nth-child(odd) {
        background: #fff;
      }
      > .row div {

        text-align: center;
        font-size: 14px;
      }
    }
  }
}


div, section {

}


.includes {
  .card {
    background-color: unset;
    border: none;

    .card-body.dark-blue {
      border-radius: 15px;
      padding: 28px 22px;
      @media only screen and (max-width: 768px) {
        padding: 17px 5px;
      }
      background-color: $mg_stability;
      p {
        color: white;
      }

    }
  }
}
.quiz {
  img {
    max-width: 315px;
    @media only screen and (max-width: 768px) {
      max-width: 230px;
    }
  }
}



@media only screen and (max-width: 768px) {
  .mt-3, .mt-4, .mt-2 {
    margin-top: 30px;
  }
  .mb-4, .mb-3 {
    margin-bottom: 20px;
  }
  .checklist.not-li:before {
    left: -18px;
  }
}

#reviews {
  overflow: visible;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 4rem auto;
  pointer-events: none;
}

@media only screen and (min-width: 576px) {

  .modal-dialog {
    max-width: 500px;
    margin: 7rem auto;
  }
}

.modal-exit h3 {

  text-align: center !important;
  margin-top: 3rem !important;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {

  .big-table .rowstyle>div>div.header {
      -ms-flex-pack: center;
      justify-content: left;
      font-size: 11px;
  }

}
