@import "../abstracts/mg.mixins.scss";
@import "../abstracts/mg.colors.scss";

@import "../abstracts/mixins"; // Required
@import "../abstracts/functions"; // Required
@import "../abstracts/mg.variables"; // Required: ;
@import "../abstracts/variables"; // Required


.inner-wrapper-sticky {
  z-index: 10;
}

.prod-desc {
	.star-rating {
		height: 26px;
    margin-top: 4px;
	}
  .btn {
    font-size:16px;
  }
}

@media screen and (max-width: 640px) {
  .h1, h1, .page-header h1 {
      font-size: 46px;
      letter-spacing: -0.03em;
  }
  .page-header h1 { margin-top: 8px; }
  .prod-desc {
  	.star-rating {
  		height: 32px;
      margin-top: 8px;
  	}
  }
}

.page-header h1 {
    font-size: 46px;
    letter-spacing: -0.03em;
}

.gallery-thumb {
  display: inline-block;
  margin: 0px;
	// margin-bottom: -3px;
	text-align: center;
	max-width: 58px;
	width: 100%;
  max-height: 48px;
  height: 48px;
  font-size: 12px;
  line-height: 1;
  background-color: #f8f9fa;
  position: relative;
  // &::last-child {
  //   margin-bottom: 0px;
  // }
	img {
    display: block;
    width: 58px;
    height: 48px;
	}
}

.gallery-nav-wrapper {
  position: relative;
  max-width: 420px;
  width: 100%;
  padding: 0 34px;
  margin:8px auto;
}
.gallery-nav-wrapper .slick-list {
  margin-left:-10px;
}
@media screen and (min-width: 990px) {
.gallery-nav-wrapper {
  margin: 32px auto 0;
  padding: 0 32px;
}
.gallery-nav-wrapper .slick-list {
    margin-left: -6px;
}
}

.vertical-nav {
  margin-top:0px;
.gallery-thumb {
    display: inline-block;
    margin: 0px;
    text-align: center;
    max-width: 58px !important;
  }
}

// .gallery-nav,
// .gallery-nav .slick-list {
//   max-width: 336px;
// }

.gallery-nav .slick-track > div {
  padding:0;
  margin:3px 0 3px 0px;
  height: 48px;
  &:last-child {
    margin-right:0;
  }
}
// .gallery-nav,
// .gallery-nav .slick-list {
// max-height:48px;height:48px;overflow:hidden;
// }

.gallery-thumb-nav,
.gallery-thumb-nav .slick-list,
.gallery-thumb-nav .slick-track {
max-height:62px;height:62px;overflow:hidden;
}

.vertical-nav {
  .gallery-nav,
  .gallery-nav .slick-list {
  max-height:280px !important;height:280px;overflow:hidden;
  }
  .gallery-nav .slick-track {
  max-height:600px !important;height:auto;overflow:hidden;
  }
}

.popup-video,
.popup-video:hover {
  cursor: pointer;
}

.video-modal .modal-body {
    background-color: transparent !important;
}
.video-modal .modal-body iframe {
    background-color: #151515;
}


.slick-current {
	.gallery-thumb {
     &::after {
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       width: 100%;
	     border: 2px solid $mg-stability;
       z-index: 999999;
       content: '';
     }
	}
}


.gallery-dots {
	position: relative;
	top:-12px;
	.slick-dots {
		position: relative;
		display: table;
		margin: 0 auto;
		width: inherit;
		bottom: 0;
		li {
			display: table-cell;
		}
	}
}

.prod-gallery {
  overflow: hidden;
  .vertical-nav { width:58px;margin-top:-10px; }
  .btn-icon {
    height: 16px;
    width: 16px;
    background-size: 16px;
  }
}
.gallery-nav {
  max-height: 268px;
  height:268px;
  overflow: hidden;
}

.prod-gallery .slider-nav-btn.slider-nav-prev {
    left: 2px;
    position: relative;
    top: 6px;
}
.prod-gallery .slider-nav-btn.slider-nav-next {
    left: 2px;
    position: relative;
    top: -6px;
}

@media screen and (min-width: 760px) and (max-width: 990px) {
  .navbar .navbar-brand {
      height: 64px;
      margin-left: 15px;
      margin-right: 24px;
      width: 140px;
  }
  .navbar-light .navbar-toggler { border: none; }
  .navbar-collapse > .navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navlink-quiz {
    display:none !important;
  }
  #features-content > p {
    line-height: 1.25 !important;
  }
  .gallery-nav {
      width: 58px;
      margin-left: -6px;
  }
  .prod-gallery .col-12.px-1.col-sm-9.mr-auto.pl-sm-0 .p-1.mt-n1.d-none.d-sm-block em {
    display: none;
  }

  .prod-gallery .col-12.px-1.col-sm-9.mr-auto.pl-sm-0 .p-1.mt-n1.d-none.d-sm-block .stretched-link {
    line-height: 1.2;
  }
  .h6, h6 {
      font-size: 1rem;
  }
}

.nav-tabs {
  .nav-link {
    font-size: 13.5px;
  }
}



  .gallery-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

@media only screen and (min-width: 990px) {
  .gallery-img {
    max-width: 350px;
    width: 350px;
    height: 280px;
    overflow: hidden;
    margin: 34px auto 34px;
  }
  .gallery-img-alt {
    width:100% !important;
    max-height: 280px !important;
    height: 280px !important;
    margin-bottom: 6px !important;
    margin-top:14px;

    .slick-slide {
      height: 280px !important;
      img {
        height: 280px !important;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .gallery-img {
    max-width: 300px;
    width: 100%;
    max-height:240px;
    overflow:hidden;
  }
}

.prod-badge {
  letter-spacing: -0.01em;
}

.btn .icon.icon-cart {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: -2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14.95 7.89l1.03-5.01a.59.59 0 00.02-.14c0-.4-.34-.73-.76-.73H3.42L3.04.56A.74.74 0 002.31 0H.76C.34 0 0 .33 0 .73s.34.73.76.73h.96l.37 1.43 1.89 8.5c.05.25.22.45.45.54-.61.42-.98 1.1-.98 1.83C3.45 15 4.48 16 5.76 16s2.31-1 2.31-2.24c0-.7-.34-1.35-.9-1.77h4.44a2.24 2.24 0 00-.91 1.77A2.26 2.26 0 0013 16c1.27 0 2.31-1 2.31-2.24 0-.73-.38-1.41-.98-1.83a.74.74 0 00.47-.68c0-.4-.34-.73-.76-.73h-8.7l-.52-1.58 9.43-.46a.76.76 0 00.7-.59zm-2.75 5.87c0-.43.36-.77.8-.77s.8.34.8.77-.36.77-.8.77-.8-.34-.8-.77zm-6.44.77c-.44 0-.8-.34-.8-.77s.36-.77.8-.77.8.34.8.77-.37.77-.8.77zm8.56-11.06l-.74 3.58-9.07.44-.77-4.02h10.58z' fill='%23fff'/%3E%3C/svg%3E");
}

.mg-underline {
    display: inline-block;
    background-image: linear-gradient(to bottom,#D5EDF2 63%,transparent 33%);
    background-position: 0 0.88em;
    background-repeat: repeat-x;
    background-size: 4px 8px;
}

#reviews {
  overflow-y: visible;
}

#reviews .prod-reviews {
  min-height: 360px;
  height: auto;
  overflow: visible;
  overflow-y: visible;
}

// .yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .small-version {
//     width: 340px !important;
//     box-sizing: border-box;
// }

.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-num-of-reviews,
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-body {
  color: $grey-darker !important;
  font-size: 14px !important;
  line-height: 1.55 !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .small-version .carousel-review-title {
color: $grey-darkest !important;
font-size: 15.5px !important;
margin-top: 2px !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .small-version .carousel-review-title {
    margin-bottom: 10px !important;
font-weight: 700 !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-author {
    color: $grey-darker !important;
    font-size: 12px !important;
    font-weight: 600;
    text-align: left;
    margin-top: 12px !important;
    float: left;
    color: $grey-darker !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .carousel-read-more {
    white-space: nowrap;
    color: #60b3e4;
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 11px !important;
    line-height: 14px !important;
    padding: 0 !important;
    vertical-align:middle;
    margin-left: 8px;
    margin-top: -2px;
    border-bottom: 1px dotted $mg-stability;
    width: auto;
}

.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-body {
    font-style: normal !important;
    margin-left: -3px;
    text-align: left;
    font-size: 14.5px !important;
    line-height: 1.5 !important;
    color: lighten($grey-darker,3%) !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-body {
font-style: normal !important;
}
.yotpo .review .yotpo-icon-star, .yotpo-reviews-carousel .yotpo-icon-empty-star, .yotpo-reviews-carousel .yotpo-icon-full-star, .yotpo-reviews-carousel .yotpo-icon-half-star,
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-star, .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-half-star, .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-empty-star {
    font-size: 20px !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .carousel-reviews-bottom-line {
    float: none;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
}
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star {
  font-size: 18px !important;
  margin-right: 0px !important;
  color: #FAC71D !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .yotpo-icon-star,
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-star {
  font-size: 17px !important;
  margin-right: 1px !important;
  color: #FAC71D !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-star,
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-half-star,
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-star,
.yotpo.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-half-star,
.yotpo.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-empty-star,
.yotpo.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .yotpo-icon-star {
  color: #FAC71D;
font-size: 24px !important;
}
.yotpo.bottomLine .yotpo-bottomline a {
  font-size: 12.5px !important;
  color: darken($grey-dark,12%) !important;
}
.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel {
    height: 44px !important;
    border-bottom: 1px solid #efefef !important;
    margin-bottom: 10px !important;
    text-align: center;
}
